{% extends "client/glass_en/base.html" %}
{%block head_extra%}
{% load staticfiles %}
{%endblock%}
{% block breadcrumbs %}
<!--crumb-->
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a>

        {% for c in category.get_leveled_parents %}
        - <a href="{{c.get_url}}">{{c.name}}</a>
        {% endfor %}

    </div>
</div>
<!--crumb end-->
{% endblock%}
{% block main %}
{% load i18n %}
<div class="product-list">
    <div class="container">
        <div class="product-list-content">
            Silicon powder is made of natural quartz (SiO2) or fused silica (natural quartz after high temperature
            melting, cooling,then get the amorphous SiO2) by vibration or crushing, ball mill, jet mill, flotation, acid
            purification, high pure water treatment such as multi-channel process of micro powder.
            Application: ceramic, metallurgical solvent, foundry and metal surface treatment. Electronic encapsulation,
            high-grade paint, anti-corrosion coatings, welding electrode coating, building mortar and high strength
            concrete aggregate, high-grade refractory materials, solar photovoltaic cells, military antenna reflector,
            dental materials, environmental protection and oil well pressure.
            Molten silicon powder: large scale integrated circuit with plastic sealing material, epoxy casting material,
            filling material and other chemical fields.
            Spherical silica powder: large scale integrated circuit encapsulation materials, vlsi, fine chemical,
            electronic imaging recordable compact disc and large electronic substrate, special ceramics and special
            rubber, aerospace engineering, etc.
        </div>
        <div class="row">
            {% for product in product_list %}
            <div class="product-list-one col-md-3 col-xs-6">
                <a href="{{product.get_url}}">
                    <img src="{{product.image}}" alt="">
                    <p>{{product.name}}</p>
                </a>
                <button onclick="javascript:window.location.href='{{product.get_url}}'">View More</button>
            </div>
            {% empty %}
            <p class="search-none col-md-12">
                Your search returns no results.
            </p>
            {% endfor %}
        </div>


        <div class="artical-pages">

            {% if product_list.has_previous %}
            <a name="pageChange" data-tag="Previous" class="pageChage prev"
               data-page="{{ product_list.previous_page_number }}">Prev</a>
            {% else %}
            <a class="prev" href="#">Prev</a>
            {% endif %}


            {% for p in page_range %}

            {% ifequal p current_page %}
            <a class="pageChage current_page" data-page="{{p}}" href="#" title="{{p}}">{{p}}</a>
            {% else %}
            <a class="pageChage" data-page="{{p}}" href="#" title="{{p}}">{{p}}</a>
            {% endifequal %}

            {% endfor %}


            {% if product_list.has_next %}
            <a name="pageChange" class="pageChage next" data-page="{{p}}" data-page-range="{{page_range}}"
               data-tag="Next">Next</a>
            {% else %}
            <a>Next</a>
            {% endif %}

        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}