ul, li, dl, ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

* {
    margin: 0;
    padding: 0
}

.col-md-12 p {
    margin-bottom: 0;
}

.strong {
    font-weight: bold;
}

.left30 {
    margin-left: 30px;
}

.left20 {
    margin-left: 20px;
}

.left15 {
    margin-left: 15px;
}

.bottom30 {
    margin-bottom: 30px;
}

.border-bottom {
    border-bottom: 1px solid #e3e3e3;
}

.border-none {
    border: none;
}

.xy-search .form-group {
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.xy-search label {
    padding: 0 12px;
    float: left;
    line-height: 34px;
    margin: 0;
    font-weight: normal;
}

.xy-search input {
    width: 190px;
    float: left;
}

.xy-search .btn {
    padding: 7px 20px 8px 20px;
    margin-left: 5px;
    font-size: 12px;
}

.xy-pages-jump {
    font-size: 12px;
}

.xy-pages-jump input {
    width: 40px;
    float: right;
    height: 29px;
}

.xy-pages-jump p {
    float: right;
}

.xy-pages-jump button {
    float: right;
    margin: 0 30px 0 15px;
}

.xy-list .table-striped th, .xy-list-product .table-striped th {
    border-top: none;
}

.xy-list .table-striped tr:first-child, .xy-list-product .table-striped tr:first-child {
    background: #ffffff;
}

.xy-list .btn, .xy-list-product .btn {
    font-size: 12px;
    line-height: 15px;
}

.xy-list.box, .xy-list-product.box {
    border-top: none;
    box-shadow: none;
}

.xy-list .box-footer p, .xy-list-product .box-footer p {
    float: right;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 3px;
}

.xy-pages-jump .pagination li:first-child a {
    margin-left: 12px;
}

/*订单管理列表各项宽带*/
.xy-list .table-striped th, .xy-list .table-striped td {
    text-align: center;
    font-size: 12px;
}

.xy-list .table-striped th:nth-child(1), .xy-list .table-striped tr td:nth-child(1) {
    width: 6%;
    padding-left: 11px;
}

.xy-list .table-striped th:nth-child(2), .xy-list .table-striped tr td:nth-child(2) {
    width: 16%
}

.xy-list .table-striped th:nth-child(3), .xy-list .table-striped tr td:nth-child(3) {
    width: 15%
}

.xy-list .table-striped th:nth-child(4), .xy-list .table-striped tr td:nth-child(4) {
    width: 15%
}

.xy-list .table-striped th:nth-child(5), .xy-list .table-striped tr td:nth-child(5) {
    width: 15%
}

.xy-list .table-striped th:nth-child(6), .xy-list .table-striped tr td:nth-child(6) {
    width: 15%
}

.xy-list .table-striped th:nth-child(7), .xy-list .table-striped tr td:nth-child(7) {
    width: 18%
}

.xy-box-select {
    font-size: 12px;
    float: left;
    width: 30%
}

.xy-box-select a {
    line-height: 29px;
    display: block;
    float: left;
    margin-right: 15px;
}

.xy-box-select input {
    float: left;
    margin: 8px 8px 0 7%;
}

/*商品管理列表各项宽度*/
.xy-list-product .table-striped th {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 15px;
}

.xy-list-product .table-striped td {
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    padding: 18px 8px;
}

.xy-list-product .table-striped th:nth-child(1), .xy-list-product .table-striped tr td:nth-child(1) {
    width: 6%;
    text-align: center;
}

.xy-list-product .table-striped th:nth-child(2), .xy-list-product .table-striped tr td:nth-child(2) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(3), .xy-list-product .table-striped tr td:nth-child(3) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(4), .xy-list-product .table-striped tr td:nth-child(4) {
    width: 16%
}

.xy-list-product .table-striped th:nth-child(5), .xy-list-product .table-striped tr td:nth-child(5) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(6), .xy-list-product .table-striped tr td:nth-child(6) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(7), .xy-list-product .table-striped tr td:nth-child(7) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(8), .xy-list-product .table-striped tr td:nth-child(8) {
    width: 10%
}

.xy-list-product .table-striped th:nth-child(9), .xy-list-product .table-striped tr td:nth-child(9) {
    width: 14%
}

.xy-list-product .table-striped th:nth-child(10), .xy-list-product .table-striped tr td:nth-child(10) {
    width: 12%
}

.xy-list img, .xy-list-product img {
    width: 60px;
    height: 60px;
}

.table-striped th, .table-striped td {
    overflow: hidden;
}

.table-striped td a {
    cursor: pointer;
}

.xy-list-product .table-striped tr td:nth-child(1) input {
    margin-top: 24px;
}

.xy-list-all {
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.xy-list-all .list-all {
    margin-left: 2.2%;
}

.xy-list-all .list-all a {
    background: #fff;
    color: #333333;
    padding-left: 16px;
}

.xy-list-all li {
    float: left;
}

.xy-list-all li a {
    cursor: pointer;
    background-color: #367fa9;
    padding: 7px 20px;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
}

/*添加商品*/
.add-content {
    display: none;
    font-size: 12px;
}

.add-content.base-info {
    width: 60%;
    margin-right: 40%;
}

.add-content.active {
    display: block;
}

.add-content button {
    background-color: #3c8dbc;
    color: #fff;
    font-size: 12px;
    padding: 7px 12px;
}

.add-content .submit-item button {
    padding: 7px 30px;
}

.add-content .addPSubmit {
    padding: 7px 25px;
}

.add-product {
    background: #fff;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.tag {
    border-bottom: 1px solid #eee;
    height: 42px;
}

.tag li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #999;
    line-height: 14px;
    margin: 14px 0;
    font-size: 14px;
    cursor: pointer
}

.set-paypal .tag li {
    border-right: none;
}

.set-paypal input {
    width: 240px !important;
}

.set-paypal .message span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00c0ef;
    padding: 0 5px;
    color: #fff;
    float: left;
    line-height: 16px;
    margin-top: 8px;
    margin-right: 10px;
}

.set-paypal .message:hover .ico {
    display: block;
}

.set-paypal {
    padding-bottom: 40px;
}

.set-paypal .infos {
    position: relative;
}

.set-paypal .message {
    position: absolute;
    left: 240px;
    top: 0;
    cursor: pointer;
}

.set-paypal .message .ico {
    display: none;
    width: 380px;
    float: left;
    height: 120px;
    padding-left: 11px;
    background: url("../images/paypal-message.png") no-repeat;
    color: #fff;
}

.set-paypal .message .ico h4 {
    margin: 0;
    font-size: 15px;
    padding-bottom: 8px;
}

.set-paypal .message .text {
    padding: 15px;
    background: #00c0ef;
    line-height: 22px;
    overflow: hidden;
}

.set-paypal .normal .inputBtn {
    min-width: 50px;
}

.set-paypal .normal .dropdown-menu li, .dropdown-menu {
    min-width: 73px;
}

.tag li:first-child {
    padding-left: 0;
}

.tag .active {
    color: #3c8dbc;
}

.add-product .item {
    float: left;
    width: 100%;
    color: #333333;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}

.add-product .item label {
    font-weight: normal;
    padding-right: 15px;
    float: left;
    width: 128px;
}

.add-product .item input, .add-product .item textarea {
    width: 75%;
    float: left;
}

.add-product .item2 input, .add-product .item2 textarea {
    width: 35% !important;
    float: left;
}

.add-product .item.thumb {
    height: 70px;
    line-height: 70px;
    margin-left: 15px;
}

.add-product .item.thumb.margin {
    margin: 10px 0 20px 15px;
}

.add-product .item.thumb input {
    width: 40%;
    margin-top: 18px;
}

.add-product .item.thumb img {
    height: 60px;
    margin: 5px 0 5px 30px
}

.add-product .item textarea {
    min-height: 56px;
}

.add-product .half-item {
    width: 50%;
}

.add-product .half-item input {
    width: 50%;
}

.add-product .item-area {
    height: auto;
}

.add-product .btn-item input {
    width: 63%;
}

.add-product .btn-item2 input {
    width: 35% !important;
}

.add-product .inputAndBtn .file {
    width: auto !important;
    height: auto;
    padding: 3px 4px;
}

.add-product .btn-item button {
    float: left;
    width: 5%;
    margin-left: 3%;
}

.add-product .submit-item {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-content.attr .next-steep {
    /*padding: 7px 20px;*/
}

.add-content h1 {
    font-size: 18px;
    margin-bottom: 0px;
}

.btn-primary {
    background-color: #3c8dbc;
}

.attr-first-array {
    padding: 24px 0 56px 0;
}

.attr-array {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    display: inline-block;
    width: 100%;
}

.attr-array .attr-array-title {
    line-height: 40px;
    padding-top: 8px;
    border-bottom: 1px solid #e3e3e3;
}

.attr-array .attr-array-item input {
    float: left;
    margin-top: 2px;
}

.attr-array .attr-array-item label {
    font-weight: normal;
    float: left;
    width: 110px;
    padding-left: 12px;
}

.attr-array .attr-array-item {
    padding: 10px 0 16px 0;
    width: 100%;
    display: inline-block;
}

.item-list .title {
    font-weight: bold;
    text-align: left;
    line-height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.item-list-dl {
    display: inline-block;
    width: 100%;
}

.item-list-dl dl {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e3e3e3;
}

.item-list-dl dl input {
    border: 1px solid #e3e3e3;
    line-height: 14px;
    height: 18px;
    width: 100px;
    padding: 2px 5px;
    margin-top: 10px;
    text-align: center;
}

.item-list-dl dt, .item-list-dl dd {
    float: left;
    width: 17%;
    line-height: 40px;
    height: 40px;
}

.item-list-dl dt:nth-child(1), .item-list-dl dd:nth-child(1) {
    width: 12%;
}

.item-list-dl dt:last-child, .item-list-dl dd:last-child {
    text-align: center;
}

.item-list-dl dt:nth-child(2), .item-list-dl dd:nth-child(2) {
    width: 35%;
}

.photo .item-list-dl dd:nth-child(2) {
    line-height: 24px;
    padding-top: 28px;
}

.item-list-dl dl:last-child {
    border-bottom: none;
}

.add-content.base-info .next-steep {
    margin-left: 108px;
    padding: 7px 20px;
}

.item-list {
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    float: left;
}

.add-content .normal-check {
    width: 13px !important;
    margin-top: 9px;
}

.add-content .trees .three-check {
    width: 13px;
}

.add-content .trees {
    height: auto !important;
    line-height: 22px;
    width: 75%;
    float: left;
    margin-top: 12px;
}

.add-content #addCategoryBtn {
    float: left;
    margin-right: 65%;
}

.add-content .trees ul {
    padding: 10px 0;
    border: 1px solid #ccc;
}

.add-content .trees li p {
    padding: 0;
    margin: 0;
}

.add-content .trees .three-check {
    margin: 4px 5px 0px 0px;
}

.add-content .trees .tree1 {
    padding-left: 15px;
}

.add-content .trees .tree2 {
    padding-left: 30px;
}

.add-content .trees .tree3 {
    padding-left: 45px;
}

.add-content .trees .tree4 {
    padding-left: 60px;
}

.add-content .add-product-tree {
    height: auto !important;
}

.add-content .inputAndBtn .view {
    margin-left: 0px;
    border: 1px solid #ccc;
    border-left: none;
    padding: 1px 12px;
    background: #f4f4f4;
    color: #333;
}

.add-product .item.product-images {
    border-top: 1px solid #d2d6de;
    margin: 20px 0 2px 0;
    height: auto;
}

.product-images .images {
    padding: 30px 15px 0 15px;
    float: left;
}

.product-images .images img {
    width: 98px;
    height: 98px;
}

.item-list-dl dd {
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    padding-right: 5px;
}

.photo .item-list-dl dd {
    line-height: 80px;
}

.attr .item-list-dl dd, .attr .item-list-dl dt {
    line-height: 40px;
    padding: 0;
    height: 40px;
}

.item-list-dl dt.select, .item-list-dl dd.select, .item-list-dl dl.select {
    width: 36%;
    overflow: inherit;
}

.item-list-dl dd.select .inputBtn {
    line-height: 20px;
    min-width: 300px;
}

.item-list-dl dd.select .dropdown-menu li {
    line-height: 26px;
    min-width: 322px;
}

.item-list-dl dd img {
    margin-top: 10px;
    height: 60px;
}

.category-set {
    padding-bottom: 30px;
}

.add-product .signal-title {
    line-height: 42px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    width: 100%;
    display: inline-block;
}

.dispatching .attr-array-list dt, .dispatching .attr-array-list dd {
    width: 25% !important;
    text-align: center;
}

.deliverys .title-btn {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.deliverys .attr-array {
    width: 60%;
}

.deliverys .attr-array-list dd, .deliverys .attr-array-list dt {
    width: 30% !important;
}

.deliverys .attr-array-list dd, .deliverys .attr-array-list dt {
}

.deliverys .attr-array-list dd:nth-child(2), .deliverys .attr-array-list dt:nth-child(2) {
    width: 40% !important;
    text-align: center;
}

.deliverys .title-btn input[type=checkbox] {
    margin-top: 12px;
    margin-right: 15px;
}

.deliverys .title-btn button {
    margin-right: 10px;
}

.deliverys .title-btn label {
    margin-top: 8px;
    margin-right: 50px;
}

.dispatching .attr-array-list dl {
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.dispatching .attr-array-list dl dd:nth-child(2) {
    text-align: center;
    margin: 0;
}

.dispatching .attr-array-list dl dd:nth-child(2) label {
    float: none;
    margin: 0;
}

.dispatching .attr-array-list, .dispatching .attr-array-list.title {
    border: none
}

.dispatching .signal-title {
    width: 60%;
    margin-right: 40%;
    border-bottom: none;
}

.dispatching .attr-array {
    width: 60%;
    padding-bottom: 15px;
}

.express .checkboxs span {
    float: left;
    margin-right: 36px;
    margin-left: 8px;
}

.express .checkboxs {
    margin-top: 0;
}

.express .checkboxs input {
    float: left;
}

.category-set .item {
    height: auto;
}

.category-set .signal-title.top {
    margin-top: 20px;
}

.category-set .normal .inputBtn {
    min-width: 375px
}

.category-set .dropdown-menu {
    min-width: 400px
}

.category-set .item textarea {
    width: 400px;
}

.category-set .large label {
    padding-right: 0 !important;
    width: 140px;
}

/*bootstrap修改*/
.main-footer {
    font-size: 12px;
}

.dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.modal-dialog {
    border-top: 3px solid #3c8dbc;
}

.btn-group > .btn {
    height: 34px;
}

.modal .modal-body p {
    color: #333333;
    font-size: 16px;
    text-align: center;
}

.modal .modal-body textarea {
    min-height: 200px;
    border: 1px solid #e3e3e3;
    width: 100%;
}

.modal-footer {
    padding: 10px 15px;
}

iframe {
    border: none;
}

.content-wrapper {
    position: relative;
    margin-left: 230px;
}

.content-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.main-sidebar iframe {
    width: 100%;
    min-height: 600px;
    background-color: #222d32;
}

.sidebar-menu li a, .user-panel {
    background-color: #222d32;
    cursor: pointer;
}

.selectModal {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.modal-footer .btn:nth-child(1) {
    margin-right: 12px;
}

.modal-footer .btn:nth-child(2) {
    margin-left: 12px;
}

/*常规select组件样式*/
.normal.open .btn-foursquare, .normal.open .btn-foursquare:hover {
    color: #333;
}

.normal .inputBtn {
    background: #fff !important;
    color: #333333;
    text-align: left;
    min-width: 150px;
}

.normal .selectBtn {
    background: #f4f4f4 !important;
    color: #333333;
}

.normal .dropdown-menu {
    margin-top: 0
}

.normal .dropdown-menu li {
    padding: 0px 12px;
    cursor: pointer;
    min-width: 172px;
}

.normal .dropdown-menu li:hover {
    background: #f4f4f4;
}

/*订单详情页*/

/*订单状态的颜色*/
.yellow {
    color: #f39c11;
}

.blue {
    color: #00c0ef;
}

.red {
    color: #de4b39;
}

.green {
    color: #00a65a;
}

.order-base-info {
    width: 100%;
    display: inline-block;
}

.order-header .operating a.disabled {
    background: #76afd0 !important;
}

.order-base-info .message {
    min-height: 60px;
    padding-top: 10px;
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
}

.order-header .order-num li {
    margin-right: 60px;
    line-height: 50px;
}

.order-header ul {
    width: 100%;
    display: inline-block;
}

.order-header ul li {
    display: inline-block;
    float: left;
}

.order-header .operating {
    line-height: 34px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.order-header .operating span {
    margin-right: 50px;
}

.order-header .operating a {
    padding: 6px 20px 7px 20px;
    color: #fff;
    background: #3c8dbc;
    margin-right: 12px;
    border-radius: 3px;
}

.order-header .operating a:hover {
    background: #286090;
}

.order-detail .item-block {
    padding: 15px;
    border: 1px solid #ddd;
    width: 30.92%;
    margin: 25px 1.2%;
    float: left;
}

.order-detail .item-block li {
    line-height: 22px;
    font-size: 12px;
}

.order-infos .item-list-dl dt, .order-infos .item-list-dl dd {
    width: 10%;
}

.order-infos .item-list-dl dt:nth-child(2), .order-infos .item-list-dl dt:nth-child(3) {
    width: 35%
}

.order-infos .item-list-dl dd:nth-child(2), .order-infos .item-list-dl dd:nth-child(3) {
    padding-top: 30px;
    width: 35%
}

.order-infos .item-list-dl dd:nth-child(4), .order-infos .item-list-dl dd:nth-child(5) {
    line-height: 80px;
}

.order-detail .add-content {
    padding: 0 15px 30px 15px;
}

.order-detail .ship .half-item {
    width: 35%;
    margin-right: 15%;
}

.order-detail .ship .item label, .order-detail .ship .half-item-left label, .order-detail .ship .half-item-right label {
    width: 80px;
}

.order-detail .ship .half-item-left input, .order-detail .ship .half-item-right input {
    width: 200px;
}

.order-detail .ship .item-all input {
    width: 52%;
}

.order-detail .ship .half-item-left {
    width: 35%;
}

.order-detail .ship .half-item-right {
    width: 35%;
    margin-right: 30%;
}

.order-detail .ship p.title {
    margin-top: 12px;
    font-weight: bold;
}

.attr-array-list dt, .attr-array-list dd {
    width: 19%;
    line-height: 20px;
    padding: 10px 5px;
    float: left;
}

.attr-array-list dt:first-child, .attr-array-list dd:first-child {
    width: 24%;
}

.attr-array-list.title {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
}

.attr-array-list {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
}

.order-detail .ship .attr-array {
    border: 1px solid #ddd;
    padding-bottom: 24px;
}

.remark .attr-array-list dt, .remark .attr-array-list dd {
    width: 15%;
}

.remark .attr-array-list dt:nth-child(3), .remark .attr-array-list dd:nth-child(3) {
    width: 25%;
}

.remark .attr-array-list dt:nth-child(2), .remark .attr-array-list dd:nth-child(2) {
    width: 60%;
}

.remark .attr-array {
    border: 1px solid #ddd;
}

.remark .attr-array-list:last-child {
    border: none;
}

.remark .btn-item {
    margin-bottom: 30px;
}

.remark .btn-item input {
    width: 72%;
}

.remark .btn-item button {
    padding: 7px 25px;
    width: auto;
    margin-left: 30px;
}

.system-attr {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.add-content.website-info .item input {
    width: 400px;
}

.add-content.show-config .item input {
    width: 80px;
}

.system-attr p.title {
    margin-top: 12px;
    font-weight: bold;
}

.email-config .attr-array-list:last-child {
    border-bottom: none;
}

.email-config .attr-array {
    border-bottom: 1px solid #ddd;
}

.email-config .attr-array-list dt, .email-config .attr-array-list dd {
    width: 21%;
}

.email-config .attr-array-list dt:nth-child(3), .email-config .attr-array-list dd:nth-child(3) {
    width: 37%;
}

.email-config input {
    float: left;
    width: 14px;
    margin: 3px 4px 0 0;
}

.email-config label {
    float: left;
    margin-right: 20px;
    font-weight: normal;
    margin-bottom: 0;
}

.email-config .box-footer {
    width: 100%;
    float: left;
}

.email-config .box-footer p {
    line-height: 30px;
    margin-bottom: 0;
}

.email-config .xy-box-select {
    width: 15%;
}

.email-config .xy-pages-jump {
    width: 85%;
    float: right;
}

.email-config .attr-array-list dd a {
    cursor: pointer
}

.email-config .attr-array-list dd a:first-child {
    padding-right: 4px;
}

.email-config .attr-array-list dd a:last-child {
    padding-left: 4px;
    color: red;
}

.email-edit .item input {
    width: 220px;
}

.email-edit input[type="checkbox"] {
    width: 14px;
    margin-top: 9px;
}

.email-edit input[type="radio"] {
    width: 14px;
    margin-top: 9px;
}

.email-edit .checkbox label {
    padding-left: 4px;
    padding-right: 25px;
    width: auto;
}

.email-test button {
    margin-left: 25px;
}

/*编辑邮件模板*/
.article {
    width: 100%;
}

.article-other {
    width: 850px;
    padding-left: 10px;
    float: left;
}

.email-template-div button {
    /*margin-left: 10px;*/
    /*width: 70px;*/
    /*height: 30px;*/
    /*background: #3c8ebb;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*color: #fff;*/
}

.email-template-div label:first-child {
    width: 150px !important;
}

.email-template-div-input {
    width: 18px !important;
    margin-top: 11px !important;
}

.category {
    padding-bottom: 60px;
}

.category p.title {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 0;
    margin-bottom: 0;
}

.category p.btn {
    padding: 24px 15px;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    text-align: left;
    display: block;
    border-bottom: 1px solid #f4f4f4;
}

.category .addInputList .deleteInput, .category .addInputList .addBtn, .category p.btn a {
    cursor: pointer;
    background-color: #367fa9;
    padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    outline: none;
}

.category .addInputList .addBtn {
    margin-right: 18px;
}

.category .addInputList .warning {
    border: 1px solid #ff0000;
}

.category p.btn a {
    margin-right: 20px;
}

.category .category_title {
    font-size: 12px;
    font-weight: bold;
}

.category .category_02, .category .category_03, .category .category_04 {
    display: none;
}

.category .category_01 .name {
    padding-left: 15px;
}

.category .category_02 .name {
    padding-left: 30px;
}

.category .category_03 .name {
    padding-left: 45px;
}

.category .category_04 .name {
    padding-left: 60px;
}

.category .addChild {
    color: #333;
    margin-right: 20px;
}

.category .editCategory {
    color: #367fa9;
    padding-right: 3px;
}

.category .deleteCategory, .category .editCategoryCancel {
    color: #ff0000;
    padding-left: 3px;
}

.category li {
    height: 38px;
    overflow: hidden;
    line-height: 38px;
    height: 38px;
    width: 33.333%;
    float: left;
    border-bottom: 1px solid #f4f4f4;
}

.category .categoryIco {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    background-image: url("../images/plus.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.category .categoryIco.active {
    background-image: url("../images/decrease.png");
}

.category li a {
    cursor: pointer;
}

.category .category_04 .addChild {
    display: none !important;
}

.category .category_04 .categoryIco {
    background-image: url("../images/decrease.png") !important;
}

.category .category_04 .editCategory, .category .editCategorySubmit {
    margin-left: 84px;
    padding-right: 3px;
}

/*询盘管理*/
.message-delete {
    color: #e75555;
}

.message-detail-table tr td:first-child {
    width: 5%;
    font-size: 12px;
    color: #333333;
}

.message-detail-table tr td:last-child {
    width:100%;
    font-size: 12px;
    float: left;
    color: #333333;
}

.message-detail-table-content tr th:first-child, .message-detail-table-content tr th:nth-child(3), .message-detail-table-content tr th:nth-child(4) {
    width: 15%;
    font-size: 12px;
}
.message-detail-table-content tr th:nth-child(2){
    font-size: 12px;
    width: 55%;
}
.message-detail-table-content tr td:first-child, .message-detail-table-content tr td:nth-child(3), .message-detail-table-content tr td:nth-child(4) {
    width: 15%;
    font-size: 12px;
    line-height: 60px;
}
.message-detail-table-content tr td:nth-child(2){
    font-size: 12px;
    width: 55%;
    line-height: 60px;
}
.message-detail-table-content tr:nth-child(even) td{
    background: #f9f9f9;
}
/*自适应*/
@media (min-width: 1600px) {
    .xy-list-all .list-all {
        margin-left: 2.5%;
    }

    .list-all2 {
        margin-left: 100px !important;
    }
}

@media (max-width: 1600px) {
    .xy-box-select input {
        margin-left: 6%;
    }

}

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
    .xy-box-select input {
        margin-left: 4%;
    }
}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
    .xy-box-select input {
        margin-left: 3%;
    }

    .item-list-dl dd.select .inputBtn {
        min-width: 220px;
    }

    .item-list-dl dd.select .dropdown-menu li {
        min-width: 242px;
    }

    .order-header .operating a {
        padding: 6px 10px 7px 10px;
    }

    .order-header .operating span {
        margin-right: 20px;
    }

    .order-detail .ship .half-item-right {
        margin-right: 0;
    }

    .order-detail .ship .half-item-right, .order-detail .ship .half-item-left {
        width: 100%;
    }

    .order-detail .ship .half-item-right input, .order-detail .ship .half-item-left input {
        width: 60%;
    }

    .order-detail .ship .item input {
        width: 60%;
    }

    .remark .btn-item input {
        width: 50%;
    }

    .order-detail {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .add-product.website-info .item input {
        width: 65%;
    }
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .add-content, .add-product .half-item, .xy-box-select {
        width: 100%;
    }

    .xy-pages-jump {
        width: 100%;
        display: inline-block;
        float: right;
    }

    .xy-pages-jump button {
        margin: 0 5px 0 15px;
    }

    .xy-box-select input {
        margin-left: 1%;
    }

    .content-wrapper {
        margin-left: 0;
    }

    .order-detail .item-block {
        padding: 15px;
        border: 1px solid #ddd;
        width: 97%;
        margin: 15px 1% 5px 1%;
        float: left;
    }

    .order-header .order-num li {
        margin-right: 15px;
    }

    .order-base-info .message {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .xy-pages-jump {
        float: left;
    }

    .xy-box-select input {
        margin-left: 0;
    }
}
