{% extends "client/cassie/base.html" %}
{%block head_extra%}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'client/cassie/css/cart.css'%}" type="text/css"/>
{%endblock%}
{% block main %}
{% load i18n %}
    <div class="carts main">
        <div class="container">
            <div class="row">
                <h1>Shopping Cart</h1>
				
				<form id="cart_to_order_form" method="post" action="/cart/check-out">
				{% csrf_token %}
								
                <div class="row">
                    <div class="col-md-9 col-xs-12 col-xy-8">
                       <div class="carts-main">
                          <div class="carts-title">
                            <div class="carts-goods-img"></div>
                            <div class="carts-goods-name">{% trans 'Product Name' %}</div>
                            <div class="carts-goods-pricet">{% trans 'Unit Price' %}</div>
                            <div class="carts-goods-qty">{% trans 'Quantity' %}</div>
                            <div class="carts-goods-sub">{% trans 'SubTotal' %}</div>
                            <div class="carts-goods-move"></div>
                         </div>
                         <!--购物车产品列表，“carts-item”为每一个产品-->	 
                         <div class="carts-list">
							 <!-- 商品一 -->
							{% for cart_product in cart.cart_products.all %}
							<div class="carts-item" id="goods1">
								<input  name="cart_product_id" type="hidden" value="{{cart_product.id}}" />	
								<div class="carts-goods-img">
									<a href="{{cart_product.product.get_url}}">
										{% if cart_product.product_attribute %}
											<img src="{{cart_product.product_attribute.image.thumb}}" alt="{{cart_product.product.name}}">
										{% else %}
											<img src="{{cart_product.product.thumb}}" alt="{{cart_product.product.name}}">
										{% endif %}
									</a>
								</div>
								<div class="carts-goods-name"><div><a href="{{cart_product.product.get_url}}">{{cart_product.product.name}}</a></div>
									<p>{{cart_product.get_short_product_attr}}</p>
								</div>
								<div class="carts-goods-price price1">${{cart_product.get_product_price|floatformat:"2"}}</div>
								<div class="carts-goods-qty">
									<div class="quy-item">
										<!-- 下面两个a中的data和“input的id”对应起来即可-->
										<a class="decrease qty-decrease" data-cartid="{{cart_product.id}}">-</a>
										<!-- 下面input中的price属性值和价格中的类名price是对应的，并且和小计中的id值是对应的-->
										<input maxlength="3" class="cart-qty" data-cartid="{{cart_product.id}}" id="cartqty-{{cart_product.id}}" price="price1" type="text" value="{{cart_product.quantity}}" autocomplete="off" readonly="readonly">
										<a class="increase qty-increase" data-cartid="{{cart_product.id}}">+</a>
									</div>
								</div>
								<div class="carts-goods-sub" id="price-{{cart_product.id}}">${{cart_product.get_total|floatformat:"2"}}</div>
								<div class="carts-goods-move">
									<!-- 下面的data和上面“class=‘carts-item’中的id”对应起来即可-->
									<a href="#" class="remove-item" title="Delete" data-cartid="{{cart_product.id}}"><span class="glyphicon glyphicon-remove cartmoveico" data="goods1"></span></a>
									
								</div>
							</div>
							{% endfor %}
						</div>

                         <div class="carts-end">
                             <div class="carts-continue"><a href="/product/" class="delay">{% trans 'Continue Shopping'%}</a></div>
                             <div class="carts-clear"><a id="empty_cart_button" data-cartid='{{cart.id}}' class="delay carts-clear">{%trans 'Clear Cart'%}</a></div>
                         </div>
                       </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-xy-4">
                        <div class="carts-sidbar">
                            <h4>Cart Total</h4>
                            <div class="carts-subtotal">
                                <span>Subtotal</span>
                                <span id="totalAmount">${{cart.get_sub_total|floatformat:"2"}}</span>
                            </div>
                            <div class="carts-grandtotal">
                                <span>Grand Total</span>
                                <span id="totalPrice">${{cart.get_sub_total|floatformat:"2"}}</span>
                            </div>
                            <div class="carts-checkout">
								<input name="products_to_buy" type="hidden" value="{}" />
								<a class="delay" id="checkOutLink" data-form-id="cart_to_order_form" href="#">{%trans 'Proceed to Checkout'%}</a>
							</div>
                        </div>
                    </div>
                </div>
				
				</form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
	$("#checkOutLink").click(function(e){
		var form_id = $(this).data("form-id");
		$("#" + form_id).submit();
	});
</script>
{% endblock %}
