{% extends "client/cassie/base.html" %}
{%block head_extra%}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'client/cassie/css/cart.css'%}" type="text/css"/>
{%endblock%}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="check-out main">
        <div class="container">
            <div class="row">
                <h1>Check Out</h1>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-xy-4">
                        <h2>Name & Address</h2>
                        <div class="carts-sidbar">
                          <p>Select a address from your address book or enter a new address.</p>
                          <form id="address-form">
								{% csrf_token %}
									<div class="check-address">
										<a class="check-choice-address">
											<span class="check-use-address" id="span_address_selected">{{default_address.useage|default:"New address"}}</span>
											<span class="caret"></span>
										</a>
										<ul class="check-address-list" id="ul_address_list">
												<li><a class="address-option" data-address-id="">New address</a></li>
												{%for address in user.addresses.all%}
													<li><a class="address-option" data-address-id="{{address.id}}">{{address.useage}}</a></li>
												{%endfor%}
										</ul>
										<input id="input_address_id" type="hidden" class="input-address-id" name="address_id" value="{{default_address.id}}" />
									</div>
									<div class="form-group">
										<div class="check-new-address">
										<input id="id_useage" type="hidden" maxlength="254" name="useage" type="text" value="{{default_address.useage}}" /> 
										
										  <div class="register-item">
											  <label>First Name<i>*</i></label>
											  <div class="col-xs-12"><input type="text" maxlength="50" name="first_name" id="id_first_name" value="{{default_address.first_name}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Last Name<i>*</i></label>
											  <div class="col-xs-12"><input type="text" maxlength="50" name="last_name" id="id_last_name" value="{{default_address.last_name}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Address1<i>*</i></label>
											  <div class="col-xs-12"><input type="text" id="id_address_line_1" maxlength="100" name="address_line_1" value="{{default_address.address_line_1}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Address2</label>
											  <div class="col-xs-12"><input type="text" id="id_address_line_2" maxlength="100" name="address_line_2" value="{{default_address.address_line_2}}"></div>
										  </div>
										  <div class="register-item">
											  <label>City<i>*</i></label>
											  <div class="col-xs-12"><input type="text" id="id_city" maxlength="50" name="city" value="{{default_address.city}}"></div>
										  </div>
										  <div class="register-item">
											  <label>State/Province</label>
											  <div class="col-xs-12"><input type="text" maxlength="50" name="province" id="id_province" value="{{default_address.province}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Country<i>*</i></label>
											  <div class="col-xs-12"><input type="text" maxlength="50" name="country" id="id_country" value="{{default_address.country}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Zip/Postal Code</label>
											  <div class="col-xs-12"><input type="text" id="id_zipcode" maxlength="50" name="zipcode" value="{{default_address.zipcode}}"></div>
										  </div>
										  <div class="register-item">
											  <label>Telephone<i>*</i></label>
											  <div class="col-xs-12"><input type="text" id="id_tel" name="tel" value="{{default_address.tel}}"></div>
										  </div>
										  <div class="check-address-submit"><button type="button" class="btn-address-submit">Save Address</button></div>
									</div>
									</div>
							</form>
                        </div>
                    </div>
					
					<form id="place_order_form" method="post" action="/cart/place-order">
					{% csrf_token %}
						<input type="hidden" class="input-address-id" name="address_id" value="{{default_address.id}}" />
						<div class="col-md-8 col-xs-12 col-xy-8">
						<h2>Products</h2>
						<div class="carts-main">
							<div class="carts-title">
								<div class="carts-goods-img"></div>
								<div class="carts-goods-name">Product Name</div>
								<div class="carts-goods-pricet">Unit Price</div>
								<div class="carts-goods-qty">Qty</div>
								<div class="carts-goods-subt">Subtotal</div>
							</div>
							<!--购物车产品列表，“carts-item”为每一个产品-->
							<div class="carts-list">
								<!-- 商品一 -->
								{% for cart_product in product_list %}
									<div class="carts-item">
										<input name="cart_product_id" type="hidden" value="{{cart_product.id}}">
										<div class="carts-goods-img">
											<a href="{{cart_product.product.get_url}}">
												{% if cart_product.product_attribute %}
													<img src="{{cart_product.product_attribute.image.thumb}}" alt="{{cart_product.product.name}}">
												{% else %}
													<img src="{{cart_product.product.thumb}}" alt="{{cart_product.product.name}}">
												{% endif %}
											</a>
										</div>
										<div class="carts-goods-name">
											<div><a href="{{cart_product.product.get_url}}">{{cart_product.product.name}}</a></div>
											<p>{{cart_product.get_short_product_attr}}</p>
										</div>
										<div class="carts-goods-price">${{cart_product.get_product_price|floatformat:"2"}}</div>
										<div class="carts-goods-qty">
											<input type="hidden" name="{{cart_product.product.id}}_qty" title='Qty' size='4' value="{{cart_product.quantity}}">
											<div class="quy-item">{{cart_product.quantity}}</div>
										</div>
										<div class="carts-goods-sub">${{cart_product.get_total|floatformat:"2"}}</div>
									</div>
								{% endfor %}
							</div>
	
							<div class="check-pay">
								<div class="row">
								<div class="col-md-6 col-xs-12">
									<h2>Shipping Method</h2>
									<p>Express Fee</p>
										{%for express in express_list%}
												<div class="check-fee-item">
													<input type="radio" name="express" value = "{{express.id}}" {%if express.id == default_express.id %}checked{%endif%}>
													<a>{{express.name}}</a><span>${{express.price_fixed|floatformat:"2"}}</span>
												</div>
											{%endfor%}
								</div>
								<div class="col-md-6 col-xs-12">
									<h2>Payment Method</h2>
									<div class="check-pay-item">
										<input type="radio" checked>
										
										<img src="{% static 'client/cassie/images/ico/icon_paypal.jpg' %}">
									</div>
									<div class="check-pay-count">
										<input name="sub_total" type="hidden" value="{{sub_total}}" />
										<input name="shipping" type="hidden" value="{{shipping}}" />
										<input name="discount" type="hidden" value="{{discount}}" />
										<input name="total" type="hidden" value="{{total}}" />
										<input name="remark" type="hidden" value="" />
										
										<!-- <p>Discount<span>$</span><span id="discount_amount">{{discount|floatformat:"2"}}</span></p> -->
										<p>Grand Total<span>$</span><span id="total_amount">{{total|floatformat:"2"}}</span></p>
										
										<!--<input id="promotion_code" name="promotion_code" type="text" value="" /> <a class="delay try-promotion-code">USE PROMOTION CODE</a>-->
										<a class="delay btn-place-order">Place Order Now</a>
									</div>
								</div>
							</div>
							</div>
	
						</div>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'client/cassie/js/bootstrapValidator.js' %}"></script>
	<script>		
		$('#address-form').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            last_name:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
			address_line_1:{
				validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
			},
			city:{
				validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
			},
			country:{
				validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
			},
			tel:{
				validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
			},
        }
    });
	</script>
{% endblock %} 