{% extends "client/cassie/base.html" %}
{% block main %}
{% load i18n %}
    <div class="forget main">
        <div class="container">
            <div class="row">
                <h1>Forgot Your Password?</h1>

                <div class="forget-main" style="{{form_display}}">
                    <h2>Retrieve Your Password Here</h2>
                    <h3>Please enter your email address below. You will receive a link to reset your password.</h3>
					<form id="forgetForm" class="form-horizontal" method='POST'>
						{% csrf_token %}
						<div class="form-group">
		                    <div class="forget-item">
								<label>Email Address<i>*</i></label>
								<div class="col-md-6 col-xs-12">
									<input type="email" name="email" id="email">
								</div>
							</div>
						</div>

						<div class="forget-submit">
							<a href="/user/login">&lt; Back to Login</a>
							<button type="submit">Submit</button>
						</div>
					</form>
					
                </div>
				
				<div class="forget-main" style="{{success_display}}">
					<h2>Submitted successful</h2>
					<h3>{{apply_message}}</h3>
				</div>
				
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'client/cassie/js/bootstrapValidator.js' %}"></script>
		<script type="text/javascript">
		$('#forgetForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
			email:{
				validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    },
					remote: {
                        url: '/validate/user/hope-exits/',
                        message: 'The username is not available'
                    },
                }
			},
        }
    });
	</script>
{% endblock %}