{% extends "client/cassie/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="home main">
        <!--<div class="sliders">-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner"> </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left">
	</span></a><a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!--</div>-->
        <div class="container">
            <div id = "product_push_index" class="row homeHot">
				
            </div>
        </div>

        <div class="container">
            <div class="row home-adv">
				<a href="{{system_para.base_url}}/china-hair-brush-factory.html" target="_blank">
					<div class="item col-xs-12 delay">
						
							<div class="img">
								<img src="{% static "client/cassie/images/ico/adv1.png"%}">
							</div>
							<div class="des">
								<h3>Factory Outlet</h3>
								<p>We can provide reasonable price</p>
							</div>
						
					</div>
				</a>
				<a href="{{system_para.base_url}}/customize-your-hair-brush.html" target="_blank">
					<div class="item col-xs-12 delay">
						<div class="img">
							<img src="{% static "client/cassie/images/ico/adv2.png"%}">
						</div>
						<div class="des">
							<h3>Customize</h3>
							<p>we can supply different style brushes as you need</p>
						</div>
					</div>
				</a>
				<a href="{{system_para.base_url}}/reasons-why-you-should-choose-us.html" target="_blank">
					<div class="item col-xs-12 delay">
						<div class="img">
							<img src="{% static "client/cassie/images/ico/adv3.png"%}">
						</div>
						<div class="des">
							<h3>High Quality</h3>
							<p>High levels of quality control</p>
						</div>
					</div>
				</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}    
{% block scripts %}
	{% load staticfiles %}
<script>				
$(document).ready(function(){
	$.ajax({
		cache: false,
		type: "GET",
		url:'/common/get-push-product/?type=index',
		data:null,
		async: false,
		error: function(request) {
			//alert('Sorry.An error occured.Please try again.');
		},
		success: function(data) {
			if(data.success==true){
				var innerHtml = "";
				$.each(data.products,function(index,p){
					console.log("product: " + this);
					var tmp =   '<div class="item col-xs-12">'
							+	'	<div class="img">'
							+	'		<a href="' + this.url + '"><img src="' + this.image + '" class="pc"><img src="' + this.image + '" class="phone"></a>'
							+	'	</div>'
							+	'	<div class="des">'
							+	'		<h3 class="name"><a href="' + this.url + '">' + this.title + '</a></h3>'
							+	'		<p class="price">$' + this.price + '</p>'
							+	'		<a class="cart delay" href="' + this.url + '">Add to Cart</a>'
							+	'	</div>'
							+	'</div>';
							   
							   
					innerHtml = innerHtml + tmp;
				});
				console.log('innerHtml:' + innerHtml);
				$("#product_push_index").html(innerHtml);
			}
		}
	});
});				
				

$(document).ready(function() {
	$.ajax({
		cache: false,
		type: "GET",
		url:'/common/get-slider-images/?slider_name=index',
		data:null,
		async: false,
		error: function(request) {
			//alert('Sorry.An error occured.Please try again.');
		},
		success: function(data) {
			if(data.success==true){
				var innerHtml = "";
				$.each(data.image_list,function(index,id){
					console.log('image:' + this + "index:" + index);
					active = "";
					if (index==0){
						active = "active";
					}
					
					var struct = this.split("|")
					var imgsrc = struct[0];
					var imghref = struct[1];
					
					if(imghref==""){
						imghref = "#0";
					}
					console.log("imghref:" + imghref);
					var tmp =   '<div class="item ' + active +'">'
                              + '<a href="' + imghref + '" target="_blank"><img src=' + imgsrc + ' style="width: 100%" data-src=" " alt="First slide"></a>'
                              + '</div>';
					innerHtml = innerHtml + tmp;
				});
				console.log('innerHtml:' + innerHtml);
				$(".carousel-inner").html(innerHtml);
			}
		}
	});
});
</script>
{% endblock %}
