{% extends "client/cassie/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="home main">
        <!--<div class="sliders">-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/media/index/slider1.jpg" style="width: 100%" data-src=" " alt="First slide">
                </div>
                <div class="item">
                    <img src="/media/index/slider2.jpg" style="width: 100%" data-src="" alt="Second slide">
                </div>
                <div class="item">
                    <img src="/media/index/slider3.jpg" style="width: 100%" data-src="" alt="Third slide">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left">
	</span></a><a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!--</div>-->
        <div class="container">
            <div class="row homeHot">
                <div class="item col-xs-12">
                    <div class="img">
                        <a href="#"><img src="/media/index/p1.jpg" class="pc"><img src="/media/index/pz1.png" class="phone"></a>
                    </div>
                    <div class="des">
                        <h3 class="name"><a href="/Products/Plastic-Wet-Brush.html">Top Sellers Plastic Detangling Hair Brush</a></h3>
                        <p class="price">$9.90</p>
                        <a class="cart delay" href="/Products/Plastic-Wet-Brush.html">Add to Cart</a>
                    </div>
                </div>
                <div class="item col-xs-12">
                    <div class="img">
                        <a href="#"><img src="/media/index/p2.jpg" class="pc"><img src="/media/index/pz2.png" class="phone"></a>
                    </div>
                    <div class="des">
                        <h3 class="name"><a href="/Products/Professional-Colorful-massage-hair-brush.html">Professional Colorful massage hair brush</a></h3>

                        <p class="price">$9.90</p>
                        <a class="cart delay" href="/Products/Professional-Colorful-massage-hair-brush.html">Add to Cart</a>
                    </div>
                </div>
                <div class="item col-xs-12">
                    <div class="img">
                        <a href="#"><img src="/media/index/p3.jpg" class="pc"><img src="/media/index/pz3.png" class="phone"></a>
                    </div>
                    <div class="des">
                        <h3 class="name"><a href="/Products/No-Tangle-Hairbrush-ball.html">Top-quality no tangle 360° hair brush ball</a></h3>

                        <p class="price">$9.90</p>
                        <a class="cart delay" href="/Products/No-Tangle-Hairbrush-ball.html">Add to Cart</a>
                    </div>
                </div>
                <div class="item col-xs-12">
                    <div class="img">
                        <a href="#"><img src="/media/index/p4.jpg" class="pc"><img src="/media/index/pz4.png" class="phone"></a>
                    </div>
                    <div class="des">
                        <h3 class="name">
							<a href="/Products/Paddle-Brush-for-long-hair.html">Plastic Wet Purple Hair BrushAir-cushioned paddle detangling hair brush for hair extension</a>
						</h3>
                        <p class="price">$9.90</p>
                        <a class="cart delay" href="/Products/Paddle-Brush-for-long-hair.html">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row home-adv">
                <div class="item col-xs-12 delay">
                    <div class="img">
                        <img src="{% static "client/cassie/images/ico/adv1.png"%}">
                    </div>
                    <div class="des">
                        <h3>Factory Outlet</h3>
                        <p>We can provide reasonable price</p>
                    </div>
                </div>
                <div class="item col-xs-12 delay">
                    <div class="img">
                        <img src="{% static "client/cassie/images/ico/adv2.png"%}">
                    </div>
                    <div class="des">
                        <h3>Customize</h3>
                        <p>we can supply different style brushes as you need</p>
                    </div>
                </div>
                <div class="item col-xs-12 delay">
                    <div class="img">
                        <img src="{% static "client/cassie/images/ico/adv3.png"%}">
                    </div>
                    <div class="des">
                        <h3>High Quality</h3>
                        <p>High levels of quality control</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}    
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
