{% extends "client/cassie/base.html" %}
{%block head_extra%}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'client/cassie/css/cart.css'%}" type="text/css"/>
{%endblock%}
{% block main %}
{% load i18n %}
    <div class="forget payment-jump main">
        <div class="container">
            <div class="row">
                <h1>{{title|default:"Info"}}</h1>
                <div class="forget-main">
                    <div>{{content}}</div>
					<div><a href='{{backurl|default:"/"}}'>{{back_message|default:"Please click here to go back."}}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}