{% extends "client/cassie/base.html" %}
{% block main %}
{% load i18n %}
    <div class="register main">
        <div class="container">
            <div class="row">
                <h1>Create an Account</h1>
					<form id="registerForm" class="form-horizontal" autocomplete="off" method='POST'>			
						{% csrf_token %}
						<div class="register-main">
							<div class="form-group">
								<h2>Personal Information</h2>					
								<div class="register-item">
									<label>First Name<i>*</i></label>
									<div class="col-lg-6">
										<input type="text" name="first_name" id="first_name">
									</div>
								</div>
								<div class="register-item">
									<label>Last Name<i>*</i></label>
									<div class="col-lg-6">
										<input type="text" name="last_name" id="last_name">
									</div>
								</div>
								<div class="register-item">
									<label>Email Address<i>*</i></label>
									<div class="col-lg-6">
										<input type="email" name="email" id="email">
									</div>
								</div>
								<div class="register-item">
									<label>Password<i>*</i></label>
									<div class="col-lg-6">
										<input type="password" name="password" id="password">
									</div>
								</div>
								<div class="register-item">
									<label>Confirm Password<i>*</i></label>
									<div class="col-lg-6">
										<input type="password" name="confirmPassword" id="confirmPassword">
									</div>
								</div>
								<div class="register-submit">
									<a href="/user/login/">&lt; Back to Login</a>
									<button type="submit">Submit</button>
								</div>
							</div>
						</div>
					</form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'client/cassie/js/bootstrapValidator.js' %}"></script>
		<script type="text/javascript">
		$('#registerForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
			email:{
				validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    },
					remote: {
                        url: '/validate/user/hope-not-exits/',
                        message: 'The email is not available'
                    },
                }
			},
			password:{
				validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    },
					stringLength: {
                        min: 6,
                        max: 20,
                        message: 'Please enter 6 - 20 characters. Leading or trailing spaces will be ignored.'
					},
					identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
					}
                }
			},
			confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and cannot be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
        }
    });
	</script>
{% endblock %}