{% extends "client/cassie/base.html" %}
{% block main %}
{% load i18n %}
   <div class="reset-password main">
        <div class="container">
            <div class="row">
                <h1>Reset Your Password</h1>
					<div class="reset-password-main" style="{{form_display}}">
						<h2>Reset Your Password Here</h2>
						<h3>{{reset_message}}</h3>
						<form id="resetForm" class="form-horizontal" method="POST" autocomplete="false">
									{% csrf_token %}
									<h3>Please enter your New Password.</h3>
								
									<div class="form-group">
										<div class="reset-password-item">
											<label>New Password<i>*</i></label>
											<div class="col-md-6 col-xs-12">
												<input type="password" name="password" id="password">
											</div>
										</div>
										<div class="reset-password-item">
											<label>Confirm Password<i>*</i></label>
											<div class="col-md-6 col-xs-12">
												<input type="password" name="confirmPassword" id="confirmPassword">
											</div>
										</div>
					
										<div class="reset-password-submit">
											<a href="/user/login/">&lt; Back to Login</a>
												<input type="hidden" name="email" value="{{email}}"/>
												<input type="hidden" name="validate_code" value="{{validate_code}}"/>
											<button type="submit">Submit</button>
										</div>

									</div>
							</form>		
						</div>
						
						<div class="reset-password-main" style="{{success_display}}">
							<h2>Password Updated successful</h2>
							<h3>Please <a href="/user/login/">Log in</a></h3>
						</div>
            </div>
        </div>
    </div>
{%endblock%}
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'client/cassie/js/bootstrapValidator.js' %}"></script>
		<script type="text/javascript">
		$('#resetForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
			password:{
				validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    },
					stringLength: {
                        min: 6,
                        max: 20,
                        message: 'Please enter 6 - 20 characters. Leading or trailing spaces will be ignored.'
					},
					identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
					}
                }
			},
			confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and cannot be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
        }
    });
	</script>
{% endblock %}