{% load staticfiles %}
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="footer-left">
            <a href="###"><img class="footer-left-1" src="{% static "client/jike/images/logo3x.png"%}"></a>
            <a href="###"><img class="footer-left-2" src="{% static "client/jike/images/linkec@2x.png"%}"></a>
            <a href="###"><img class="footer-left-3" src="{% static "client/jike/images/icetus3x.png"%}"></a>
        </div>
        <div class="footer-right">
            <p><a href="###">关于我们</a> | <a href="###">联系我们</a></p>
            <p>© 2017 集客营销学 版权所有 浙ICP备10046444号 | 技术支持 凌科创想</p>
        </div>
    </div>
</div>

<!--footer end-->

</body>
</html>