@media (max-width:560px) {
.edit-address { padding: 4px 30px !important;}	
.default-address,.add-address{width:90% !important;line-height: 20px !important; height:180px !important;}
.add-address{margin-top:30px !important;height:92px !important; line-height:60px !important; }
.data-table tbody th, .data-table tbody td{padding:5px;}
.check-return{width:40%!important;}
.totals{width:60% !important;}
.modal{padding:20px 6px !important;}
.add-address-submit { width: 80% !important;}
.btn-address-save {margin: 20px 10px 0px 0px !important;}
.btn-address-cancel { margin: 20px 15px 0px 0px !important;}
.address-label-remark { padding-left: 10px !important; padding-right: 0px !important;}
.dialog {min-height:450px !important;top:1% !important;}
.one-page-checkout{padding-left:5px !important;}
}

@media (max-width:480px) {
.address-label-name{width:36% !important; margin-bottom: 8px !important;}
.edit-address-input,.address-select-ountry{ width:60% !important; float:right !important; height:36px !important;margin-bottom: 8px !important;margin-right:4% !important;}
.address-label-remark{ display:none;}
.btn-address-cancel { margin: 20px 0px 0px 0px !important;}
.btn-address-save {margin: 20px 0px 0px 10px !important;}
.add-address-submit { width: 90% !important;}
.check-return{width:50%!important;}
.totals{width:50% !important;}
#shopping-cart-table input.qty {width: 30px !important;}
}

@media (min-width:561px) and (max-width:767px) {
.default-address{width:40% !important;line-height: 20px !important; height:180px !important;}
.add-address{width:40% !important;line-height: 140px !important; height:180px !important;}
.btn-address-save {margin: 30px 15px 0px 0px;}
.check-return{width:60%!important;}
.totals{width:40% !important;}
.modal{padding:20px !important;}
}
@media (max-width:767px) {
.dialog {min-width: 99% !important; }
}
.hidden-sm {
	display: none!important
}
.section--white {
	background: white;
	color: #555;
	height:232px;
}
.disable-mouse {
	pointer-events: none;
}
.btn, .tile {
	display: inline-block;
	text-decoration: none;
	opacity: 0.85;
	cursor: pointer;
	transition: 0.25s ease;
}
.modal-close-btn {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/address-close.png) no-repeat center;
	width: 32px;
	height: 32px;
	padding: 32px;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.3s ease;
}
.modal-close-btn:hover {
	opacity: 1;
}
.btn-blue {
	background: #e8e8e8;
	width:80px;
}
.add-address-submit{width:50%; margin:0 auto;}
.btn-address-cancel{float:right;margin:30px 70px 0 0;}
.btn-address-save{ float:left;margin:30px 15px 0 0;}
.add-address{ height:232px; width:28%;float:left;line-height:200px; border:1px solid #ddd;padding:16px; margin:0; margin-top:10px; background:#fff;color:#333;text-transform: none;}
.add-address:hover{ line-height:200px; border:1px solid #2ECC71; padding:16px;margin:0;margin-top:10px; background:#2ECC71; color:#fff;}
.default-address{width:28%; line-height:30px; float:left;height:232px;padding:15px; margin-right:30px; margin-top:10px; border:2px solid #ddd;}
.default-address:hover{ border:1px solid #2ECC71;}
.address-selected{border:2px solid #2ECC71;}
.edit-address{padding:0px 30px; background:#ddd;border: medium none;}
.edit-address:hover{ background: #2ECC71; color:#fff;}
.address-label-remark{padding-left:15px; padding-right:5px; text-align:left;color:#f00;font-weight: 500;line-height:36px; height:36px;}
.address-label-name{padding-left:5px; padding-right:15px; text-align:right;font-weight: 500; line-height:36px;height:36px;}
.address-select-ountry {
	background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #CBCBCB;
    outline: medium none;
    color: #AAA;
}

