<div class="cd-popup album-modal-win" role="alert">
    <div class="cd-popup-container">
        <div class="popup-content">
            <h1>上传图片</h1>
{#            <ul class="nav nav-tabs" id="upload_picture_album">#}
{#                <li class="active"><a href="#popup-content-uploading">图片上传</a></li>#}
{#                <li class=""><a href="#popup-content-album">相册</a></li>#}
{#            </ul>#}
            <div class="tab-content tab-content-content">
                <div class="popup-content-uploading tab-pane active" id="popup-content-uploading">
                    <!--iframe-->
                    <iframe frameborder="0" id="file_upload_iframe" src="" scrolling="yes"></iframe>
                    <!--iframe end-->
                </div>
                <div class="popup-content-album tab-pane" id="popup-content-album">
                    <!--iframe-->
                    <iframe frameborder="0" id="picture_album_iframe" src="" scrolling="yes"></iframe>
                    <!--iframe end-->
                </div>

            </div>
        </div>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div>
</div>