{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
    <section class="content-header">
        <h1>分类编辑 <span class="box-subtitle">文章管理</span></h1>
    </section>
{% endblock %}
{% block main %}
    {% load i18n %}

    {% load staticfiles %}
    {% load shopcart_extras %}
    <script>
        document.body.style.backgroundColor = "#f0f0f0";
    </script>
    <section class="content">
        <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
        <div class="col-md-12 add-product category-set">
            <div class="system-attr-mian">
                <p class="signal-title category-title ">基本信息</p>
                <!--页签-->
                <div class="add-content website-info active category-input-content">
                    <form id="article_busi_catigory_detail_form">
                        <div class="item"><label>分类名称</label>
                            <input type="text" name="name" class="form-control" value="{{ category.name }}"></div>


                        <div class="item"><label>分类描述</label><textarea type="text" class="form-control"
                                                                       name="short_desc">{{ category.short_desc|default:"" }}</textarea>
                        </div>


                        <p class="signal-title top category-title">SEO 设置</p>
                        <div class="item"><label>自定义URL</label>
                            <input type="text" name="static_file_name" class="form-control"
                                   value="{{ category.static_file_name|default:"" }}">
                            <button type="button" class="btn btn-primary url_advise_btn category-btn-recommend">推荐
                            </button>
                        </div>
                        <div class="item"><label>标题 Title</label><input type="text" class="form-control"
                                                                        value="{{ category.page_title|default:"" }}"
                                                                        name="page_title"></div>
                        <div class="item"><label>关键词 Keywords</label><input type="text" class="form-control"
                                                                            name="keywords"
                                                                            value="{{ category.keywords|default:"" }}">
                        </div>
                        <div class="item"><label>描述 Descrption</label><textarea type="text" class="form-control"
                                                                                name="description">{{ category.description|default:"" }}</textarea>
                        </div>

                        <p class="signal-title top category-title">模板设置</p>
                        <div class="item">
                            <label>模板：</label>
                            <div class="btn-group normal ">
                                <button type="button" class="btn btn-default inputBtn"><span
                                        class="selected-text">{{ category.category_template|default:"系统默认" }}</span>
                                </button>
                                <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="selectOption">
                                    <li class="dropdown-item" data-value="">系统默认</li>
                                    {% for t in custmize_template %}
                                        <li class="dropdown-item" data-value="{{ t }}">{{ t }}</li>
                                    {% endfor %}
                                </ul>
                                <input type="hidden" class="dropdown-item-input" name="category_template"
                                       value="{{ category.category_template }}">
                            </div>
                        </div>
                        <div class="item"><label>排序：</label><input type="text" name="sort_order"
                                                                   value="{{ category.sort_order }}"
                                                                   class="form-control article-categorys-set-input">
                        </div>
                        <div class="submit-item">
                            <input type="hidden" name="id" value="{{ category.id }}"/>
                            <button type="button" id="article_busi_catigory_detail_submit_btn"
                                    class="btn btn-primary next-steep article-category-btn-save">保存
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--页签结束-->
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script>
        $(document).ready(function () {
            $(".url_advise_btn").click(function () {
                title = $("input[name=name]").val();
                arr = new Array();
                arr = title.split(" ");
                url = "";

                $.each(arr, function (idx, item) {
                    if (item.trim() != "") {
                        url = url + item + "-";
                    }
                });
                if (url.endWith("-")) {
                    url = url.substring(0, url.length - 1);
                    url = url + ".html";
                }
                $("input[name=static_file_name]").val(url);
            });
        });
    </script>
{% endblock %}