{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>文章管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">文章管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="row">
        <div class="col-md-12">
            <div class="box xy-search">
                <div class="box-header with-border">
                    <h3 class="box-title">文章查询</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
								<form>
                                    <div class="btn-group normal product-button-search">
                                        <button type="button" class="btn btn-default inputBtn"><span
                                                class="selected-text">{{query_item|is_equal:"title"|yesno:"标题,标题,"}}</span></button>
                                        <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" id="selectOption2">
                                            <li class="dropdown-item" data-value="title">标题</li>
                                        </ul>
                                        <input type="hidden" class="dropdown-item-input" name="query_item" value="{{query_item|default:"title"}}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="item_value" value="{{item_value}}" class="form-control product-list-search-input">
                                    </div>

                                    <div class="btn-group normal product-button-search">
                                        <button type="button" class="btn btn-default inputBtn"><span
                                                class="selected-text">{{query_busi_category_name|default:"所有分类"}}</span></button>
                                        <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" id="selectOption">
                                            <li class="dropdown-item" data-value="">所有分类</li>
											{%for cat in busi_category_list%}
                                            <li class="dropdown-item" data-value="{{cat.id}}">{{cat.name}}</li>
											{%endfor%}
                                        </ul>
                                        <input type="hidden" class="dropdown-item-input" name="query_busi_category" value="{{query_busi_category_id|default:""}}">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-12">
            <div class="box xy-list-product">
                <div class="box-body no-padding">
					
				
					<form id="article_batch_form" method="POST">
						{% csrf_token %}
					
						<table id="main-content-table" class="table table-striped article-table-striped product-table-striped">
							<tbody>
							<!--多余th为了调整表格色块-->
							<tr>
								<th></th>
							</tr>
							<tr>
								<th>选择</th>
								<th>排序</th>
								<th>文章图片</th>
								<th>文章名称</th>
								<th>分类</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
							{% for article in article_list %}
								<tr>
									<td><input type="checkbox" name="is_oper" value="{{article.id}}"></td>
									<td><input type="text" name="sort_{{article.id}}" value="{{article.sort_order}}"></td>
									<td><a href="#"><img src="{{article.get_main_image.get_thumb_url}}"></a></td>
									<td>{{article.title}}</td>
									<td>
										{{article.busi_category.name}}
									</td>
									<td>{{article.update_time|date:"Y-m-d H:i:s"}}</td>
									<td><a href="{{article.get_url}}" target="_blank">预览</a> | <a href="../article-edit/?id={{article.id}}" class="article-edit-link" data-article-id="{{article.id}}">编辑</a> </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</form>
                </div>
                <div class="box-footer clearfix">
                    <div class="xy-box-select">
                        <input id="main-content-checkbox-all" type="checkbox">
                        <a id="main-content-btn-all" href="#">全选</a>
                        <button type="button" data-method="delete" class="btn btn-danger article-batch-oper">删除</button>
                        <a href="/admin/article-edit/" id="article-add-new" class="btn btn-primary">新增</a>
                        <button type="button" data-method="sort" class="btn btn-primary article-batch-oper">排序</button>
                    </div>
                    <div class="xy-pages-jump">
                        <button type="button" class="btn btn-primary page-jump">跳转</button>
                        <input type="text" name="page_number_to_jump" class="form-control">
                        <p>跳转到：</p>

						
						<ul class="pagination pagination-sm no-margin pull-right">
							{% if article_list.has_previous %}
								<li><a name="pageChange" data-tag="Previous" class="pageChage prev" data-page="{{ article_list.previous_page_number }}">&lt;</a></li>
							{% else %}
								<li><a>&lt;</a></li>
							{% endif %}	
							
							{% for p in page_range %}
								{% ifequal p current_page %}
									<li><a class="pageChage current_page"  data-page = "{{p}}" href="#" title="{{p}}">{{p}}</a></li>
								{% else %}
									<li><a class="pageChage"  data-page = "{{p}}" href="#" title="{{p}}">{{p}}</a></li>
								{% endifequal %}
							{% endfor %}
                            {% if article_list.has_next %}
								<li><a name="pageChange" class="pageChage next" data-page = "{{p}}" data-page-range="{{page_range}}" data-tag="Next">&gt;</a></li>
							{% else %}
								<li><a>&gt;</a></li>
							{% endif %}
                        </ul>
                        <p>共 {{article_count}} 条记录 , 共 {{page_range|last}} 页，每页显示： {{page_size}} 条</p>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}