{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>分类管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">分类管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="row">
        <div class="col-md-12">
            <div class="box xy-search">
                <div class="box-body">
                    <div class="row">
						<form id="category_batch_form">
                        <div class="col-md-12 category category_list">
                            <ul class="category_title">
                                <li class="name">选择</li>
                                <li class="view">排序</li>
                                <li class="name">分类名称</li>
                                <li class="operate">操作</li>
                            </ul>
                            <!--"一级分类"-->
                            <!-- id=list+数字 给每条分类加一个ID class=operate中的data一致-->
							{% for cat in category_list%}
								<ul class="category_01 category-list" id="list_{{cat.id}}">
									<li><input type="checkbox" name="is_oper" value="{{cat.id}}"></li>
									<li><input type="text" name="sort_{{cat.id}}" value="{{cat.sort_order|default:'0'}}"></li>
									<li class="name">
										<!-- data_level代表分类的级数，暂时从1级到4级-->
										<span class="categoryIco" data_level="1">|--</span>
										<a href="###"><span class="nameText">{{cat.name}}</span></a>
									</li>
									<li class="operate" data="list_{{cat.id}}" data-cat-id="{{cat.id}}"><a class="addChild">添加子分类</a> | <a class="editCategory" href="../category-edit/?id={{cat.id}}">编辑</a><span>|</span><a class="deleteCategory">删除</a></li>
									<!--"二级分类"-->
									{% for cat2 in cat.childrens.all%}
										<ul class="category_02" id="list_{{cat2.id}}">
											<li><input type="checkbox" name="selected" value="{{cat2.id}}"></li>
											<li><input type="text" name="sort_{{cat2.id}}" value="{{cat2.sort_order|default:'0'}}"></li>
											<li class="name">
												<span class="categoryIco" data_level="2">|--</span>
												<a href="###"><span class="nameText">{{cat2.name}}</span></a>
											</li>
											<li class="operate" data="list_{{cat2.id}}" data-cat-id="{{cat2.id}}"><a class="addChild">添加子分类</a> | <a class="editCategory" href="../category-edit/?id={{cat2.id}}">编辑</a><span>|</span><a class="deleteCategory">删除</a>
											</li>
											<!--"三级分类"-->
											{% for cat3 in cat2.childrens.all %}
											<ul class="category_03" id="list_{{cat3.id}}">
												<li><input type="checkbox" name="selected" value="{{cat3.id}}"></li>
												<li><input type="text" name="sort_{{cat3.id}}" value="{{cat3.sort_order|default:'0'}}"></li>
												<li class="name">
													<span class="categoryIco" data_level="3">|--</span>
													<a href="###"><span class="nameText">{{cat3.name}}</span></a>
												</li>
												<li class="operate" data="list_{{cat3.id}}" data-cat-id="{{cat3.id}}"><a class="addChild">添加子分类</a> | <a class="editCategory" href="../category-edit/?id={{cat3.id}}">编辑</a><span>|</span><a class="deleteCategory">删除</a>
												</li>
												<!--"四级分类"-->
												{% for cat4 in cat3.childrens.all %}
												<ul class="category_04" id="list_{{cat4.id}}">
													<li><input type="checkbox" name="selected" value="{{cat4.id}}"></li>
													<li><input type="text" name="sort_{{cat4.id}}" value="{{cat4.sort_order|default:'0'}}"></li>
													<li class="name">
														<span class="categoryIco" data_level="4">|--</span>
														<a href="###"><span class="nameText">{{cat4.name}}</span></a>
													</li>
													<li class="operate" data="list_{{cat4.id}}" data-cat-id="{{cat4.id}}"><a class="addChild">添加子分类</a> | <a class="editCategory" href="../category-edit/?id={{cat4.id}}">编辑</a><span>|</span><a class="deleteCategory">删除</a></li>
												</ul>
												{% endfor %}
											</ul>
											{% endfor %}
										</ul>
										{% endfor %}
									</ul>
							{% endfor %}	
                        </div>
						</form>
                        <div class="xy-box-select category-xy-box-select">
                            <a href="/admin/category-edit/" class="btn btn-primary btn-primary-add">新增</a>
                            <button type="button" class="btn btn-add category-batch-oper" data-method="set_order">排序</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script>
    var maxCategoryNum = 10; //最多层级数4

    //分类层级点击展开，收回效果
    $(".categoryIco").on("click", function () {
        var idName = $(this).parent().parent().attr("id"); //获取当前级的Id
        $(this).toggleClass("active");       //改变当前级ICO
        var thisNum = $(this).attr("data_level");    //获取当前层级数
        var childNum = parseInt(thisNum) + 1;     //直接子层级数
        var status = $("#" + idName + " .category_0" + childNum).css("display");   //子级的状态(显示/隐藏)
        if (status == "block") {     //子级是显示状态，点击后隐藏当前级下面所有的子级
            for (var i = childNum; i <= maxCategoryNum; i++) {     //循环隐藏所有子级
                $("#" + idName + " .category_0" + i + " .categoryIco").removeClass("active"); //改变子子级ICO
                $("#" + idName + " .category_0" + i).hide();  //隐藏子子级
            }
        } else {                    //子级是隐藏状态，点击后显示当前级下面所有的子级
            $("#" + idName + " .category_0" + childNum).show();    //显示直接子级
        }
    })
	//点击添加分类
	$(".btn-add").on("click", function () {
		$(".addInputList").remove();
		var listId = $(this).parent().attr("data");
		var parent_id = $(this).parent().data("cat-id");
		var level = $("#" + listId).find(".categoryIco").attr("data_level");
		level = parseInt(level) + 1;
		var insertHtml = '<ul class="addInputList category_01" style="display:block;">' +
				'<li><input type="checkbox" name="selected"></li>' +
				'<li><input type="text" value="0"></li>' +
				'<li class="name"><span class="categoryIco active"></span>' +
				'<input type="text" class="form-control form-control-hidden" id="categoryCode" placeholder="分类代码"> <input type="text" class="form-control" id="categoryName" placeholder="分类名称"></li>' +
				'<li class="operate"><a id="categorySubmit" class="addBtn">确定</a><a class="deleteInput">删除</a></li></ul>';
		$(".category").append(insertHtml);
		$("#categoryName").focus();
		$(".deleteInput").click(function () {
			$(".addInputList").remove();
		});
		$("#categorySubmit").click(function () {
			var name = $("#categoryName").val();
			var code = $("#categoryCode").val();
			addCategory(level, listId, name, code,parent_id);
		})
	});
    //点击添加子分类
    //$(".addChild").on("click", addChildFunc);
	
	$(".category-list").on("click",".addChild",addChildFunc);
	
	function addChildFunc() {
        $(".addInputList").remove();
        var listId = $(this).parent().attr("data");
		var parent_id = $(this).parent().data("cat-id");
        var level = $("#" + listId).find(".categoryIco").attr("data_level");
        level = parseInt(level) + 1;
		if (level > maxCategoryNum){
			alert('最多只能添加' + maxCategoryNum + "层");
			return false;
		}
		
        var insertHtml = '<ul class="addInputList category_0' + level + '" style="display:block;">' +
                '<li><input type="checkbox" name="selected"></li>'+
                '<li><input type="text" id="categorySort" name="sort" value="0"></li>'+
                '<li class="name"><span class="categoryIco active"></span>' +
                '<input type="text" class="form-control form-control-hidden" id="categoryCode" placeholder="分类代码"> <input type="text" class="form-control" id="categoryName" placeholder="分类名称"></li>' +
                '<li class="operate"><a id="categorySubmit" class="addBtn">确定</a><a class="deleteInput">删除</a></li></ul>';
				
        $("#" + listId).append(insertHtml);
        $("#categoryName").focus();
        $(".deleteInput").click(function () {
            $(".addInputList").remove();
        })
        $("#categorySubmit").click(function () {
            var name = $("#categoryName").val();
            var code = $("#categoryCode").val();
			var sort = $("#categorySort").val();
            if (level <= maxCategoryNum) {
                addCategory(level, listId, name, code,parent_id,sort);
            }
        })
    };
	

    //模拟"增加分类"提交服务器:  给级别为level，ID为listId的分类增加子分类，子分类名称为name，网址为url
    function addCategory(level, listId, name, code, parent_id,sort) {
        console.info("Level: " + level + " ListId: " + listId + " Name: " + name + " Code: " + code + " ParentId:" + parent_id + " Sort:" + sort);

        if (name == "") {
            $("#categoryName").addClass("warning");
        }
        if (code == "") {
            $("#categoryCode").addClass("warning");
        }

        //提交服务器如果成功，删除输入行，增加新添加的行
        if (name != "" && code != "") {
			//提价服务器
			
			var url = "/admin/ajax_add_category/";
			var postdata = {"name":name,"code":code,"parent_id":parent_id,"sort_order":sort};
	
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					console.info('enter...');
				
					$("#infoMessage").html(data.message);
					if(data.success==true){
						console.info('enter 2 ...');
						var newId = data.category_id;
						$(".addInputList").remove();
							
						console.info('enter 3 ...');

						var tmpHtml = '<ul class="category_0' + level + '" id="list_' + newId + '" style="display:block;">' +
							'<li><input type="checkbox" name="selected" value="' + newId + '"></li>'+
							'<li><input type="text" name="sort_' + newId + '" value="'+ sort +'"></li>'+
							'<li class="name"><span class="categoryIco active" data_level="' + level +'"></span>|--</span><a href="###"><span class="nameText">' + name + '</span></a></li>' +
							'<li class="operate" data="list_' + newId + '" data-cat-id="' + newId +'"><a class="addChild">添加子分类</a> | ' +
							'<a class="editCategory" href="../category-edit/?id=' + newId +'">编辑</a><span> | </span><a class="deleteCategory">删除</a></li></ul>';
							
						console.info("html: " + tmpHtml);
						console.info('enter 4 ...');
						$("#" + listId).append(tmpHtml);
						console.info('enter 5 ...');
												
					}
					$("#myModal").modal('toggle');
				}
			});
        }
    };


	//删除分类
    $(".deleteCategory").on("click",function(){
        var listId = $(this).parent().attr("data");
		var cat_id = $(this).parent().data("cat-id");
		var url = "/admin/category-detele/" + cat_id + "/";
		$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:null,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					console.info('enter...');
				
					$("#infoMessage").html(data.message);
					if(data.success==true){
						$("#"+listId).remove();
					}
					$("#myModal").modal('toggle');
				}
			});
    })
	</script>
{% endblock %}