{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
    <section class="content-header">
        <h1>页面编辑 <span class="box-subtitle">页面管理</span></h1>
    </section>
{% endblock %}

{% block main %}
    {% load i18n %}
    {% load shopcart_extras %}
    <script>
        document.body.style.backgroundColor = "#f0f0f0";
    </script>
    <section class="content">
        <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
        <div class="col-md-12 add-product">
            <h1 class="add-product-h1">页面编辑</h1>
            <div class="page_editor">
                <form id="customize_url_detail_form">
                    <div class="item page-title page-editor-div">
                        <label>页面名称<span class="point">*</span></label>
                        <input type="text" class="form-control" value="{{ customize_url.name }}" name="name" readonly>
                    </div>
                    <h1 class="add-product-h1">SEO设置</h1>
                    <div class="item btn-item page-editor-div">
                        <label>自定义URL</label><input type="text" class="form-control" name="url"
                                                    value="{{ customize_url.url }}">
                        <button type="button" id="static_file_name_advice" class="btn btn-primary url_advise_btn">
                            推荐
                        </button>
                    </div>
                    <div class="item page-editor-div"><label>标题 Title</label><input type="text" class="form-control"
                                                                     value="{{ customize_url.page_name }}"
                                                                     name="page_name"></div>

                    <div class="item page-editor-div"><label>关键词 Keywords</label><input type="text" class="form-control"
                                                                         value="{{ customize_url.keywords }}"
                                                                         name="keywords"></div>
                    <div class="item item-area page-editor-div"><label>描述 Descrption</label><textarea type="text"
                                                                                       class="form-control page-short-desc"
                                                                                       name="short_desc">{{ customize_url.short_desc }}</textarea>
                    </div>

                    <div class="submit-item form-group article page-item-add page-editor-div">
                        <label></label>
                        <input type="hidden" name="is_customize_tdk" value="true"/>
                        <input type="hidden" name="type" value="MVC"/>
                        <button type="button" class="btn btn-primary next-steep page-add-btn"
                                id="customize_url_detail_submit_btn"
                                data-id="{{ customize_url.id }}">保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script>
        $(document).ready(function () {
            $("#static_file_name_advice").click(function (event) {
                event.preventDefault();
                var title = $("input[name=name]").val();
                var arr = new Array();
                arr = title.split(" ");
                url = "";

                $.each(arr, function (idx, item) {
                    if (item.trim() != "") {
                        url = url + item + "-";
                    }
                });
                if (url.endWith("-")) {
                    url = url.substring(0, url.length - 1);
                    url = url + ".html";
                }
                $("input[name=url]").val(url);
            });
        });
    </script>
{% endblock %}