{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>页面列表</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">页面列表</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load shopcart_extras %}
<section class="content ">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="row">
        <div class="col-md-12">
            <div class="box xy-list page-list-content">
                <div class="box-body no-padding">
						<table class="table table-striped page-table-list">
							<tbody>
							<tr>
								<th>页面类型</th>
								<th>页面名称</th>
								<th>网页标题</th>
								<th>URL</th>
								<th>操作</th>
							</tr>
							{% for url in url_list %}
								<tr>
									<td>系统默认</td>
									<td><a href="../customize-url-detail/{{url.id}}/">{{url.name}}</a></td>
									<td><a href="../customize-url-detail/{{url.id}}/">{{url.page_name}}</a></td>
									<td><a href="../customize-url-detail/{{url.id}}/">{{url.url}}</a></td>
									<td data="message_list1"><a href="../customize-url-detail/{{url.id}}/">修改</a> | <a href="{{url.get_url}}" target="_blank">预览</a></td>
								</tr>
							{% endfor %}
							{% for article in article_list %}
								<tr>
									<td>自定义页面</td>
									<td><a href="../article-edit/?id={{article.id}}">{{article.title}}</a></td>
									<td><a href="../article-edit/?id={{article.id}}">{{article.page_title}}</a></td>
									<td><a href="../article-edit/?id={{article.id}}">{{article.static_file_name}}</a></td>
									<td data="message_list1"><a href="../article-edit/?id={{article.id}}" class="article-edit-link" data-article-id="{{article.id}}">修改</a> | <a href="{{article.get_url}}" target="_blank">预览</a> | <a href="#" class="delete-cust-page-article" data-id="{{article.id}}">删除</a></td>
								</tr>
							{% endfor %}				
							</tbody>
						</table>
                </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
