{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>配送方式</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="order_list.html">系统参数管理</a></li>
    </ol>
</section>
{% endblock %}


{% block main %}
{% load i18n %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product system-attr">
        <div class="system-attr-mian">
            <!--页签-->
            <div class="add-content email-config dispatching active">
                <p class="signal-title">配送方式</p>
                <div class="item-free attr-array">
                    <div class="attr-array-list title">
                        <dl>
                            <dd>配送方式</dd>
                            <dd>是否启用</dd>
                            <dd>运费</dd>
                            <dd>操作</dd>
                        </dl>
                    </div>
                    <div class="attr-array-list">
						{% for type in express_type_list %}
							<dl>
								<dd>{{type.name}}</dd>
								<dd><label>{{type.is_in_use|yesno:"是,否"}}</label></dd>
								<dd>{{type.price_fixed|floatformat:"2"}} 美元</dd>
								<dd><a class="edit" href="/admin/delivery-type-edit/?id={{type.id}}">编辑</a>|<a class="delete delete-delivery-type" data-id="{{type.id}}" href="#">删除</a></dd>
							</dl>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--页签结束-->
    </div>
</section>
{% load staticfiles %}
{% load shopcart_extras %}

{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
