{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>配送方式列表</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="order_list.html">配送方式列表</a></li>
    </ol>
</section>
{% endblock %}


{% block main %}
{% load i18n %}
{% load staticfiles %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="row">
        <div class="col-md-12">
            <div class="box xy-list page-list-content">
                <div class="box-body no-padding">
                    <table class="table table-striped page-table-list">
                        <tbody>
                        <tr>
                            <th>配送方式名称</th>
                            <th>是否启用</th>
                            <th>运费</th>
                            <th>操作</th>
                        </tr>
						
						{% for type in express_type_list %}
							<tr id="message_list1">
								<td>{{type.name}}</td>
								<td>{{type.is_in_use|yesno:"是,否"}}</td>
								<td>${{type.price_fixed|floatformat:"2"}}</td>
								<td data="message_list1"><a class="edit" href="/admin/delivery-type-edit/?id={{type.id}}">编辑</a> | <a class="deleteCategory message-delete delete-delivery-type" data-id="{{type.id}}" href="#">删除</a></td>
							</tr>
						{% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="xy-box-select">
						<a href="/admin/delivery-type-edit/" id="product-add-new" class="btn btn-primary">新增</a>
                    </div>
                    <div class="xy-pages-jump">
                        <button type="button" class="btn btn-primary page-jump">跳转</button>
                        <input type="text" name="page_number_to_jump" class="form-control">
                        <p>跳转到：</p>

                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% if product_list.has_previous %}
								<li><a name="pageChange" data-tag="Previous" class="pageChage prev" data-page="{{ product_list.previous_page_number }}">&lt;</a></li>
							{% else %}
								<li><a>&lt;</a></li>
							{% endif %}	
							
							{% for p in page_range %}
								{% ifequal p current_page %}
									<li><a class="pageChage current_page"  data-page = "{{p}}" href="#" title="{{p}}">{{p}}</a></li>
								{% else %}
									<li><a class="pageChage"  data-page = "{{p}}" href="#" title="{{p}}">{{p}}</a></li>
								{% endifequal %}
							{% endfor %}
                            {% if product_list.has_next %}
								<li><a name="pageChange" class="pageChage next" data-page = "{{p}}" data-page-range="{{page_range}}" data-tag="Next">&gt;</a></li>
							{% else %}
								<li><a>&gt;</a></li>
							{% endif %}
                        </ul>
                        <p>共{{item_count}}条记录 , 共{{page_range|last}}页，每页显示：{{page_size}}条</p>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>


{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
