{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>配送方式</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="order_list.html">系统参数管理</a></li>
    </ol>
</section>
{% endblock %}


{% block main %}
{% load i18n %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product website-info express">
        <div class="system-attr-mian">
            <p class="signal-title">配送方式</p>
            <!--页签-->
            <div class="add-content active">
				<form id="delivery_type_detail_form" method="POST">
					{% csrf_token %}
					<div class="email-edit">
					<div class="item"><label>名称：</label><input type="text" class="form-control" name="name" value="{{express_type.name}}"></div>
					<div class="item"><label>运费：</label><input type="text" class="form-control" name="price_fixed" value="{{express_type.price_fixed|floatformat:"2"}}"></div>
					<div class="item"><label>是否启用：</label><input type="checkbox" name="is_in_use" {{express_type.is_in_use|yesno:"checked,"}}></div>
					
					<div class="item"><label>包含的快递公司：</label></div>
					<div class="item checkboxs">
						{% for express in express_list %}
							<input type="checkbox" name="express" value="{{express.id}}" {{express_type|check_if_in_delivery_type:express|yesno:"checked,"}}><span>{{express.name}}</span>
						{% endfor %}
					</div>
					
					<div class="submit-item">
						<input type="hidden" name="id" value="{{express_type.id}}" />
						<button type="button" id="delivery_type_detail_submit_btn" class="btn btn-primary">提交</button>
					</div>
					</div>
				</form>
            </div>
        </div>
        <!--页签结束-->
    </div>
</section>
{% load staticfiles %}
{% load shopcart_extras %}

{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
