{% extends "admin/default/content_base.html" %}

{% block main %}
{% load i18n %}

{% load staticfiles %}
{% load shopcart_extras %}

{%if result_message%}
<div id="result_message_div">
	{{result_message}}
	<a href="#" class="btn primary file_uploaded">确定</a>
</div>
{%else%}
<div id="file_upload_div">
	<form enctype="multipart/form-data" method="POST" action="{{action_url}}"> 
		{% csrf_token %}
		<div class="tab-pane-item ">
			<label>选择文件：</label>
			<div class="tab-pane-item-file">
				<span>选择文件</span>
				<input type="file" name="upload" onchange=""/>
				<span id="filename_to_upload"></span>
			</div>
		</div>

		<div class="tab-pane-item">
			<label>文件名生成方式：</label>
			<div class="btn-group normal product-button-search">
				<button type="button" class="btn btn-default inputBtn"><span class="selected-text">原文件名</span></button>
				<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown"
						aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu" id="selectOption">
					<li class="dropdown-item" data-value="origin">原文件名</li>
					<li class="dropdown-item" data-value="random">随机</li>
					<li class="dropdown-item" data-value="manual">自定义</li>
				</ul>
				<input type="hidden" class="dropdown-item-input" name="filename_type" value="origin">
			</div>
			<div class="message">
				<span>?</span>
				<div class="ico">
					<div class="text">
						<h4>描述</h4>
						<p>若选择“自定义” 请填写下方的自定义文件名名称。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane-item">
			<label>自定义文件名：</label>
			<input type="text" name="manual_name" value=" ">
		</div>
		<div class="tab-pane-item">
			<label>重名处理：</label>
			<div class="btn-group normal product-button-search">
				<button type="button" class="btn btn-default inputBtn"><span class="selected-text">覆盖</span></button>
				<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown"
						aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu" id="selectOption">
					<li class="dropdown-item" data-value="reject">拒绝</li>
					<li class="dropdown-item" data-value="rewrite">覆盖</li>
				</ul>
				<input type="hidden" class="dropdown-item-input" name="same_name_handle" value="rewrite">
			</div>
		</div>
		{%if item_type == 'product'%}
		<div class="tab-pane-item">
			<label>是否主图：</label>
			<input type="checkbox" class="tab-pane-item-checkbox" name="is_show_in_product_detail" checked />
		</div>
		{%endif%}
		
		<div class="tab-pane-item">
			<label>alt值：</label>
			<input class="tab-pane-item-alt-input" type="text" name="alt_value" value=" ">
			<div class="message">
				<span>?</span>
				<div class="ico">
					<div class="text">
						<h4>描述</h4>
						<p>alt值有利于SEO，可填写与图片相关的描述的词。</p>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-popup btn-popup-submit">上传文件</button>
	</form>
</div>
{%endif%}

{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script>
	$(document).ready(function($){
		$(".file_uploaded").click(function(event){
			event.preventDefault();
			//刷新列表页
			reload_picture_list();
			location.href = "{{action_url}}";
		});
		
		$("input[name=upload]").change(function (e){
			filename = $(this).val();
			console.log("filename:" + filename);
			$("#filename_to_upload").text(" : " + filename);
		});
	});
	
	function reload_picture_list(){
		window.parent.document.getElementById("picture_album_iframe").contentWindow.reload_myself();
		window.parent.reload_picture_list();
	};
	</script>
{% endblock %}
