{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>订单管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="order_list.html">订单管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}

{% load staticfiles %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product order-detail">
        <div class="order-header">
            <ul class="order-num">
                <li>订单信息</li>
                <li>单号：{{order.order_number}}</li>
                <li>状态：
					<span class="yellow">
						{{order.status|admin_order_status:"zh_CN"}}
					</span>
				</li>
            </ul>
            <ul class="operating">
                <li><span>操作：</span></li>
                <li><a href="#" id="admin_pay_order" data-order-id="{{order.id}}">支付</a></li>
                <li><a href="#" id="collect_order_products" data-order-id="{{order.id}}">备货</a></li>
                <li><a href="#" id="ship_order_products" data-order-id="{{order.id}}">发货</a></li>
                <li><a href="#" id="return_money" data-order-id="{{order.id}}">退款</a></li>
                <li><a href="#" id="return_order_products" data-order-id="{{order.id}}">退货</a></li>
                <li><a href="#" id="close_order" data-order-id="{{order.id}}">关闭</a></li>
                <li><a href="#" id="finish_order" data-order-id="{{order.id}}" class="disabled">完成</a></li>
                <li><a href="#" id="edit_order" data-order-id="{{order.id}}" class="disabled">编辑</a></li>
            </ul>
        </div>
        <div class="order-base-info">
            <div class="item-block">
                <ul>
                    <li>总价：<span>${{order.order_amount|floatformat:"2"}}</span></li>
					<li>商品总价：<span>${{order.products_amount|floatformat:"2"}}</span></li>
                    <li>运费：<span>${{order.shipping_fee|floatformat:"2"}}</span></li>
                    <li class="strong">实付：<span>${{order.money_paid|floatformat:"2"}}</span></li>
                </ul>
            </div>
            <div class="item-block">
                <ul>
                    <li>用户名：<span>{{order.user.email}}</span></li>
                    <li>下单日期：<span>{{order.create_time|date:"Y-m-d H:i:s"}}</span></li>
                </ul>
            </div>
            <div class="item-block">
                <ul>
                    <li>收货人：<span>{{order.first_name}} {{order.last_name}}</span></li>
                    <li>国家：<span>{{order.country}}</span></li>
                    <li>省/州：<span>{{order.province}}</span></li>
                    <li>城市：<span>{{order.city}}</span></li>
                    <li>地址1：<span>{{order.address_line_1}}</span></li>
                    <li>地址2：<span>{{order.address_line_2}}</span></li>
                    <li>邮编：<span>{{order.zipcode}}</span></li>
                    <li>电话：<span>{{order.tel}}</span></li>
                </ul>				
            </div>
            <p class="message">留言：<span>暂不支持该功能</span></p>
        </div>


        <ul class="tag">
            <li class="active" data="tag_products">商品信息</li>
            <li data="tag_shippment">收发货</li>
            <li data="tag_discount">优惠</li>
            <li data="tag_remark">备注</li>
        </ul>
        <!--页签-->
        <div class="add-content order-infos active" id="tag_products">
            <div class="item-list-dl">
                <dl>
                    <dt>商品图片</dt>
                    <dt>商品名称</dt>
                    <dt>SKU名称</dt>
                    <dt>SKU编号</dt>
                    <dt class="text-center">数量</dt>
                </dl>
				{% for op in order.order_products.all%}
					<dl>
						<dd>
							<a href="/product/{{op.product_id}}/">
								<img src="{{op.thumb}}" alt="{{op.name}}">
							</a>
						</dd>
						<dd><a href="/product/{{op.product_id}}/">{{op.name}}</a></dd>
						<dd>{{op.product_attribute_name|default:"无SKU信息"}}</dd>
						<dd>{{op.product_attribute_item_number|default:"无SKU信息"}}</dd>
						<dd class="text-center">{{op.quantity}}</dd>
					</dl>
				{% endfor %}
            </div>
        </div>

        <div class="add-content ship" id="tag_shippment">
            <p class="title">发货单</p>

            <div class="item-free attr-array">
                <div class="attr-array-list title">
                    <dl>
                        <dd>单号</dd>
                        <dd>日期</dd>
                        <dd>物流公司</dd>
                        <dd>备注</dd>
                        <dd>成本</dd>
						<dd>操作</dd>
                    </dl>
                </div>
				{% for ship in order.shippments.all %}
					<div class="attr-array-list">
						<dl>
							<dd>{{ship.ship_no|default:"未录入"}}</dd>
							<dd>{{ship.shipping_time|date:"y/m/d"}}</dd>
							<dd>{{ship.shipper_name|default:"未录入"}}</dd>
							<dd>{{ship.remark}}</dd>
							<dd>¥ {{ship.shipping_cost|default:"未录入"}}</dd>
							<dd><a href="#" class="delete-ship-record" data-id="{{ship.id}}">删除</a></dd>
						</dl>
					</div>
				{% endfor %}
            </div>
            <p class="title">退货单</p>

            <div class="item-free attr-array">
                <div class="attr-array-list title">
                    <dl>
                        <dd>单号</dd>
                        <dd>日期</dd>
                        <dd>物流公司</dd>
                        <dd>收货人</dd>
                        <dd>成本</dd>
                    </dl>
                </div>
                <div class="attr-array-list">
                    <dl>
                        <dd>暂不支持该功能</dd>
                        <dd>暂不支持该功能</dd>
                        <dd>暂不支持该功能</dd>
                        <dd>暂不支持该功能</dd>
                        <dd>暂不支持该功能</dd>
                    </dl>
                </div>
            </div>
            <p class="title">发货</p>
			<form id="shippment_form">
			
				<div class="item-free attr-array">
					<div class="item half-item-left">
						<label>日期：</label>
						    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd">
							<input class="form-control" name="shipping_time" type="text" value="{{system_para.current_date|date:"Y-m-d"}}" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					<div class="item half-item-right"><label>单号：</label><input class="form-control" name="ship_no" type="text"></div>
					
					<div class="item half-item-left"><label>配送方式：</label>
						<div class="btn-group normal">
							<button type="button" class="btn btn-default inputBtn disabled"><span class="selected-text">{{order.express_type_name}}</span></button>
							<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn  disabled"
									data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu" id="selectOption">
								{% for express_type in express_type_list %}
									<li class="dropdown-item" data-value ="{{express_type.id}}">{{express_type.name}}</li>
								{% endfor %}
							</ul>
							<input class="dropdown-item-input" type="hidden" name="express_id" value="{{express_list|express_first_value:"id"}}"/>
						</div>
					</div>
					
					<div class="item half-item-left"><label>物流公司：</label>
						<div class="btn-group normal">
							<button type="button" class="btn btn-default inputBtn"><span class="selected-text">{{express_list|express_first_value:"name"}}</span></button>
							<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
									data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu" id="selectOption">
								{% for express in express_list %}
									<li class="dropdown-item" data-value ="{{express.id}}">{{express.name}}</li>
								{% endfor %}
							</ul>
							<input class="dropdown-item-input" type="hidden" name="express_id" value="{{express_list|express_first_value:"id"}}"/>
						</div>
					</div>
					
					
					<div class="item half-item-right"><label>物流成本：</label><input class="form-control" name="shipping_cost" type="text"></div>
					<div class="item item-all"><label>备注：</label><input class="form-control" name="remark" type="text"></div>
					<div class="item half-item-left"><label>收货人姓：</label><input class="form-control" name="first_name" type="text" value="{{order.first_name}}"></div>
					<div class="item half-item-right"><label>收货人名：</label><input class="form-control" name="last_name" type="text" value="{{order.first_name}}"></div>
					<div class="item half-item-left"><label>国家：</label><input class="form-control" name="country" type="text" value="{{order.country}}"></div>
					<div class="item half-item-right"><label>省/州：</label><input class="form-control" name="province" type="text" value="{{order.province}}"></div>
					<div class="item half-item-left"><label>城市：</label><input class="form-control" name="city" type="text" value="{{order.city}}"></div>
					<div class="item half-item-right"><label>区：</label><input class="form-control" name="district" type="text" value="{{order.district}}"></div>
					<div class="item item-all"><label>地址行 1：</label><input class="form-control" name="address_line_1" type="text" value="{{order.address_line_1}}"></div>
					<div class="item item-all"><label>地址行 2：</label><input class="form-control" name="address_line_2" type="text" value="{{order.address_line_2}}"></div>
					<div class="item half-item-left"><label>电话：</label><input class="form-control" name="tel" type="text" value="{{order.tel}}"></div>
					<div class="item half-item-left"><label>邮箱：</label><input class="form-control" type="text" value="{{order.user.email}}"></div>
					
				</div>
				<div class="submit-item">
					<input type="hidden" name="order_id" value="{{order.id}}" />
					<button type="button" id="shippment_submit_btn" class="btn btn-primary">提交</button>
				</div>				
			</form>		
        </div>
        <div class="add-content discount" id="tag_discount">
           <p>优惠</p>
        </div>
        <div class="add-content remark" id="tag_remark">
            <div class="item-free attr-array">
                <div class="attr-array-list title">
                    <dl>
                        <dd>操作人</dd>
                        <dd>备注内容</dd>
                        <dd>时间</dd>
                    </dl>
                </div>
				{% for remark in order.order_remarks.all %}
					<div class="attr-array-list">
						<dl>
							<dd>{{remark.user.email}}</dd>
							<dd>{{remark.content}}</dd>
							<dd>{{remark.create_time}}</dd>
						</dl>
					</div>
				{% endfor %}
            </div>
			<form id="order-remark-add-form">
				<div class="item btn-item">
					<label>新增备注：</label>
					<input class="form-control" type="text" name="content">
					<input class="form-control" type="hidden" name="order_id" value="{{order.id}}">
					<button type="button" id="order-remark-add-submit-btn" class="btn btn-primary">提交</button>
				</div>
			</form>
        </div>
        <!--页签结束-->
    </div>
</section>

{% endblock %}
{% block scripts %}
	{% load staticfiles %}

	<script>
	$(document).ready(function() {
		var tab_name = $.getUrlParam('tab_name');
		if (tab_name){
			$(".tag li,.add-content").removeClass("active");
			$("#" + tab_name).addClass("active");
		}		
	});
		
	$('.form_date').datetimepicker({
        language:  'zh-CN',
	    weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	</script>
{% endblock %}