{% extends "admin/default/content_base.html" %}

{% block main %}
{% load i18n %}

{% load staticfiles %}
{% load shopcart_extras %}
<div class="modal popup-content order-remark-body" style="display: block">
    <div class="modal-content modal-content-order">
        <div class="modal-header">
            <h4 class="modal-title">备注</h4>
        </div>
        <div class="modal-body">
            <textarea id="remark"> </textarea>
        </div>
        <div class="modal-footer">
			<input type="hidden" id="oder_id_input" value="{{order_id}}" />
            <button type="button" id="order-remark-submit-btn" class="btn btn-primary">确定</button>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
<script>
    $(window.parent.document).find("#common-pop-frame").load(function(){
        var main = $(window.parent.document).find("#common-pop-frame");
        var thisheight = $(document).height()+30;
        main.height(thisheight);
    });
	
	$(document).ready(function($){
		//点击确定按钮
		jQuery("#order-remark-submit-btn").click(function(){
			var url = "/admin/order-remark-add/";
			var order_id = $("#oder_id_input").val();
			var remark = $("#remark").val();
			
			var postdata = {"content":remark,"order_id":order_id};
		
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					$("#infoMessage").html(data.message);
					$('#myModal').on('hidden.bs.modal', function (e) {
						window.parent.remark_popwin_callback();
					});
					
					$("#myModal").modal('toggle');
					
				}
			});
		});
	});
</script>
{% endblock %}