{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>订单管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="order_list.html">订单管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}

{% load staticfiles %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product order-detail">
        <div class="order-header">
            <ul class="order-num">
                <li>订单信息: <span>{{order.order_number}}</span></li>
                <li>状态：<span>{{order.status|admin_order_status:"zh_CN"}}</span></li>
                <li>用户名：<span>{{order.user.email}}</span></li>
                <li>下单日期：<span>{{order.create_time|date:"Y-m-d H:i:s"}}</span></li>
            </ul>
            <ul class="operating">
                <li><span>操作：</span></li>
                <li><a href="#" class="common-popup-trigger" data-target-url="/admin/order-shippment-manage/?order_id={{order.id}}">发货</a></li>
                <li><a href="#" class="common-popup-trigger" data-target-url="/admin/order-remark-add/?order_id={{order.id}}">备注</a></li>
                <li><a href="#" id="close_order" data-order-id="{{order.id}}">关闭</a></li>
            </ul>
        </div>
        <div class="order-base-info">
            <div class="item-block">
                <h3>收货人信息</h3>
                <ul>
                    <li>收货人：<span>{{order.first_name}} {{order.last_name}}</span></li>
                    <li>国家：<span>{{order.country}}</span></li>
                    <li>省/州：<span>{{order.province}}</span></li>
                    <li>城市：<span>{{order.city}}</span></li>
                </ul>			
                <ul>
                    <li>地址1：<span>{{order.address_line_1}}</span></li>
                    <li>地址2：<span>{{order.address_line_2}}</span></li>
                    <li>邮编：<span>{{order.zipcode}}</span></li>
                    <li>电话：<span>{{order.tel}}</span></li>
                </ul>
            </div>
        </div>
        <ul>
            <li class="order-base-h3">产品信息</li>
        </ul>
        <!--页签-->
        <div class="order-infos">
            <div class="item-list-dl">
                <dl>
                    <dt>产品图片</dt>
                    <dt>名称</dt>
                    <dt>SKU信息</dt>
                    <dt>编码</dt>
                    <dt>单价</dt>
                    <dt>数量</dt>
                    <dt class="text-center">金额</dt>
                </dl>
				{% for op in order.order_products.all%}
					<dl>
						<dd>
							<a href="/product/{{op.product_id}}/">
								<img src="{{op.thumb}}" alt="{{op.name}}">
							</a>
						</dd>
						<dd><a href="/product/{{op.product_id}}/">{{op.name}}</a></dd>
						<dd>{{op.product_attribute_name|default:"无SKU信息"}}</dd>
						<dd>{{op.product_attribute_item_number|default:"无SKU信息"}}</dd>
						<dd>${{op.price|floatformat:"2"}}</dd>
						<dd>{{op.quantity}}</dd>
						<dd class="text-center">${{op.get_total|floatformat:"2"}}</dd>
					</dl>
				{% endfor %}

            </div>
        </div>
        <div class="ship">
            <div class="order-detail-ship">
                <div class="order-detail-ship-left">
                    <button type="button" class="btn btn-primary common-popup-trigger" data-target-url="/admin/order-price-adjusment/?order_id={{order.id}}">调整</button>
                </div>
                <div class="order-detail-ship-right">
                    <ul>
                        <li>产品总价：<span>${{order.products_amount|floatformat:"2"}}</span></li>
                        <li>运费：<span>${{order.shipping_fee|floatformat:"2"}}</span></li>
                        <li>优惠折扣：<span>-$0</span></li>
                        <li>价格调整：<span>${{order.price_adjusment|floatformat:"2"}}</span></li>
                        <li>总价：<span>${{order.order_amount|floatformat:"2"}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="distribution">
            <h3>配送信息</h3>
        </div>
        <div class="remark">
            <table class="table table-striped order-detail-table">
                <tbody>
                <tr>
                    <th>配送方式</th>
                    <th>发货时间</th>
                    <th>物流公司</th>
                    <th>物流编号</th>
                    <th>物流成本</th>
                    <th>是否发完</th>
                    <th></th>
                </tr>
				{% for ship in order.shippments.all %}

						<tr>
							<td>未记录，没意义</td>
							<td>{{ship.shipping_time|date:"Y-m-d H:i:s"}}</td>
							<td>{{ship.shipper_name|default:"未录入"}}</td>
							<td>{{ship.ship_no|default:"未录入"}}</td>
							<td>
								¥ {{ship.shipping_cost|default:"未录入"}}
							</td>
							<td>在这里没意义对总体才有意义</td>
							<td>
								<a href="#" class="delete-ship-record btn btn-primary" data-id="{{ship.id}}">删除</a>
							</td>
						</tr>

				{% endfor %}
                </tbody>
            </table>
        </div>
        <div class="order-detail-message">
            <h3>客户留言</h3>
            <p>Please, Delively As soon as possible</p>
        </div>
        <div class="order-detail-remark">
            <h3>备注</h3>
			{% for remark in order.order_remarks.all %}
				<div class="attr-array-list">
					<dl>
						<dd>{{remark.content}}</dd>
						<dd>{{remark.user.email}}</dd>
						<dd>{{remark.create_time|date:"Y-m-d H:i:s"}}</dd>
					</dl>
				</div>
			{% endfor %}
        </div>
    </div>
</section>
<!--弹出-->
{% include 'admin/default/common_pop_win.html' %}

{% endblock %}
{% block scripts %}
	{% load staticfiles %}

	<script>
	function closePopWinAndRefresh(){
		$(".cd-popup").removeClass("is-visible");
		location.reload(true);
	};
	function ship_popwin_callback(){
		closePopWinAndRefresh();
	};
	
	function remark_popwin_callback(){
		closePopWinAndRefresh();
	};
	
	function price_adjusment_popwin_callback(){
		closePopWinAndRefresh();	
	};
	</script>
{% endblock %}
