{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>编辑参数组</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">编辑参数组</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load shopcart_extras %}
<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="row">
        <div class="col-md-12">
            <div class="box xy-search">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <form method="POST" id="product_para_group_detail_form">
									{% csrf_token %}
									<input type="hidden" value="{{para_group.id}}" name="para_group_id" id="para_group_id" />
                                    <div class="form-group edit-sku-from-div edit-attr-from-div">
                                        <label>参数组名称:</label>
                                        <input type="text" class="form-control" name="name" value="{{para_group.name}}">
                                    </div>
                                    <table class="table table-striped article-table-striped attribute-table"
                                           style="font-size: 12px"  id="attribute-table">
                                        <tbody>
                                        <tr>
                                            <th>参数名称</th>
                                            <th>操作</th>
                                        </tr>
										{% for para in para_group.paras.all%}
											<tr id="attr-{{para.id}}">
												<td ><span class="nameText">{{para.name}}</span></td>
												<td class="attr-td">
													<a class="editCategory" data-id="{{para.id}}">编辑</a>
													|
													<a class="delect deleteCategory" data-id="{{para.id}}">删除</a>
												</td>
											</tr>
										{% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="form-group edit-sku-from-div edit-attr-from-btn">
                                        <a class="addChild btn btn-primary  ">添加</a>
                                        <button type="button" id="product_para_group_detail_submit" class="btn btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
<script>

    //点击添加
    $(".addChild").on("click", function () {
        var insertHtml = '<tr class="addInputList">' +
                '<td><input type="text" class="form-control form-control-hidden" id="categoryName" placeholder="参数名称"></td>' +
                '<td><a id="categorySubmit" class="addBtn">确定</a> | <a class="deleteInput delect">删除</a></td>'+
                '</tr>';
        $("#attribute-table").append(insertHtml);
        $("#categoryName").focus();
        $(".deleteInput").click(function () {
            $(".addInputList").remove();
        });
        $("#categorySubmit").click(function () {
            var name = $("#categoryName").val();
            var url = $("#categoryUrl").val();
            addOrEditCategory(name,'',$("#para_group_id").val(),'add');
        })
    });


    function addOrEditCategory(name,id,para_group_id,method) {
        console.info(" Name: " + name + " id: " + id + " para_group_id: " + para_group_id);
        //提交服务器如果成功，删除输入行，增加新添加的行
        if (name != "") {
			var url = "/admin/product-para-edit/";
			var postdata = {"name":name,"id":id,"para_group_id":para_group_id};
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					console.info('enter...');
				
					$("#infoMessage").html(data.message);
					if(data.success==true){
						console.info('enter 2 ...');
						var newId = data.category_id;
						$(".addInputList").remove();
							
						console.info('enter 3 ...');
						newId = data.new_id;					
						if(method=='add'){
							$(".addInputList").remove();
							$("#attribute-table").append(
								'<tr id="attr-' + newId +'">' +
								'<td><span class="nameText">'+name+'</span></td>' +
								'<td class="attr-td"><a class=" editCategory" data-id="' + newId + '">编辑</a> | <a class="deleteCategory delect" data-id="' + newId + '">删除</a></td>'+
								'</tr>'
							);
						}
						console.info('enter 5 ...');						
					}
					$("#myModal").modal('toggle');
				}
			});
        }
    }
    //删除分类
    $("#attribute-table").on("click","td >.deleteCategory", function () {
        var listId = $(this).parent().parent().attr("id");
		id = $(this).data("id");
		var url = "/admin/product-para-delete/";
			var postdata = {"id":id};
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					console.info('enter...');
				
					$("#infoMessage").html(data.message);
					if(data.success==true){
						$("#" + listId).remove();
					}
					$("#myModal").modal('toggle');
				}
			});
		
		
        
    });

    //编辑分类
    $("#attribute-table").on("click","td >.editCategory", function () {
        var name = $(this).parent().prev().find(".nameText").text();
        var this_span= $(this).parent();
        $(this).parent().hide();
        $(this).parent().find(".attr-td").hide();
		
		id = $(this).data("id");
		
        $(this).parent().prev().find(".nameText").html('<input value="' + name + '" type="text" class="form-control" id="categoryName" placeholder="项目名称">');
        $(this).parent().parent().append('<td><a class="editCategorySubmit">确定</a> | <a class="editCategoryCancel delect">取消</a></td>');

        $(".editCategoryCancel").click(function () {
            $(this).parent().prev().show();
            $(this).parent().hide();
            $(this).parent().prev().prev().find(".nameText").html(name);
            $(this).parent().remove();
        });

        $(".editCategorySubmit").click(function () {
            var name = $("#categoryName").val();
			addOrEditCategory(name,id,$("#para_group_id").val(),'edit');
			
            $(this).parent().prev().prev().find(".nameText").html(name);
            $(this).parent().prev().show();
            $(this).parent().remove();
        })

    })
</script>
{% endblock %}
