{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>编辑产品</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">产品管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load staticfiles %}
{% load shopcart_extras %}

<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product">

        <ul class="tag">
            <li class="active" data="tag_basic_info">基本信息</li>
            <li data="tag_detail_info">详细信息</li>
            <li data="tag_product_para">属性</li>
            <li data="tag_sku">SKU</li>
			<li data="tag_correlation">相关产品</li>
        </ul>
        <div class="add-content detail-info active" id="tag_basic_info">
            <form id="product-basic-info-form" method="POST">
				{% csrf_token %}
                <div class="item-free attr-first-array item">
                    <label>商品类型<span class="point">*</span>：</label>

                    <div class="btn-group normal">
                        <button type="button" class="btn btn-default inputBtn inputBtn2"><span class="selected-text">{{product.type|default:"B2B"}}</span>
                        </button>
                        <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn " data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu2" role="menu" id="category-selection">
                            <li class="dropdown-item" data-value="B2B">B2B</li>
                            <li class="dropdown-item" data-value="B2C">B2C</li>
                            <li class="dropdown-item" data-value="B2B+B2C">B2B+B2C</li>
                        </ul>
                        <input class="dropdown-item-input" type="hidden" name="type" value="{{product.type|default:"B2B"}}">
                    </div>
                </div>
                <div class="item">
                    <label>产品名称<span class="point">*</span>：</label>
                    <input type="text" name="name" class="form-control" value="{{product.name}}">
                </div>

                <div class="item"><label>产品编号：</label><input type="text" name="item_number" class="form-control"
                                                             value="{{product.item_number}}"></div>
                <div class="item btn-item">
                    <label>自定义URL<span class="point">*</span>：</label>
                    <input type="text" name="static_file_name" class="form-control"
                           value="{{product.static_file_name|default_if_none:""}}">
                    <button type="button" class="btn btn-primary url_advise_btn">推荐</button>
                </div>
                <div class="item "><label>关键词：</label>
                    <input type="text" class="form-control" value="{{product.keywords}}" name="keywords">
                </div>
                <div class="item  product-add-form-control-item"><label>简要描述：</label>
                    <textarea type="text" class="form-control product-add-form-control" name="short_desc">{{product.short_desc}}</textarea>
                </div>
                <div class="item add-product-tree">
                    <label>分类：（<a href="/admin/category-list/" target='_blank'>新增分类</a>）</label>
                    <div class="trees" id="product_category_selection">
                        <ul>
                            {% for cat in top_cat_list%}
                            <li class="tree1">
                                <input name="category_check" value="{{cat.id}}" data-cat-id="{{cat.id}}" type="checkbox"
                                       class="three-check category-selection-checkbox"
                                       {{product_category_id_list|check_if_in_categorys:cat}}>
                                <p>{{cat.name}}</p>
                            </li>
                            {% for cat2 in cat.childrens.all%}
                            <li class="tree2">
                                <input name="category_check" value="{{cat2.id}}" data-cat-id="{{cat2.id}}" type="checkbox"
                                       class="three-check category-selection-checkbox"
                                       {{product_category_id_list|check_if_in_categorys:cat2}}>
                                <p>{{cat2.name}}</p>
                            </li>
                            {% for cat3 in cat2.childrens.all%}
                            <li class="tree3">
                                <input name="category_check" value="{{cat3.id}}" data-cat-id="{{cat3.id}}" type="checkbox"
                                       class="three-check category-selection-checkbox"
                                       {{product_category_id_list|check_if_in_categorys:cat3}}>
                                <p>{{cat3.name}}</p>
                            </li>
                            {% for cat4 in cat3.childrens.all%}
                            <li class="tree4">
                                <input name="category_check" value="{{cat4.id}}" data-cat-id="{{cat4.id}}" type="checkbox"
                                       class="three-check category-selection-checkbox"
                                       {{product_category_id_list|check_if_in_categorys:cat4}}>
                                <p>{{cat4.name}}</p>
                            </li>
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <input type="hidden" name="product_category_list" value="{{product_category_id_list|join:" ,"}}"/>
                    </div>
                </div>
                <div class="item">
                    <label>Youtube：</label>
                    <input type="text" class="form-control" value="{{product.youtube}}" name="youtube">
                </div>				
				
                <div class="item">
                    <label>排序：</label>
                    <input type="text" class="form-control-sort" value="{{product.sort_order}}" name="sort_order">
                </div>
                <div class="item">
                    <label>上架：</label>
                    <input type="checkbox" class="normal-check" name="is_publish" {{product.is_publish|yesno:"checked,,"}}>
                </div>
                <div class="submit-item">
                    <input type="hidden" name="id" value="{{product.id}}">
                    <button type="button" id="product-basic-info-submit-btn" class="btn btn-primary next-steep">保存
                    </button>
                </div>
            </form>
        </div>
        <div class="add-content attr" id="tag_detail_info">
			<form id="product-detail-info-form" method="POST">
				{% csrf_token %}
				<div class="item">
					<label>市场价：</label>
					<input type="text" name="market_price" value="{{product.market_price|default:"0.0"}}" class="form-control-product-content form-control">
				</div>
				<div class="item">
					<label>售价1：</label>
					<input type="text" class="form-control-product-content form-control" name="price_level_0" value="{{product|admin_product_price:"0"}}">
					<label class="form-control-product-content-up">起订量区间：</label>
					<input type="text" name="quantity_level_0" value="{{product|admin_product_price_quantity:"0"}}"  class="form-control-product-content form-control">
				</div>
				<div class="item">
					<label>售价2：</label>
					<input type="text" class="form-control-product-content form-control" name="price_level_1" value="{{product|admin_product_price:"1"}}">
					<label class="form-control-product-content-up">起订量区间：</label>
					<input type="text" name="quantity_level_1" value="{{product|admin_product_price_quantity:"1"}}" class="form-control-product-content form-control">
				</div>
				<div class="item">
					<label>售价3：</label>
					<input type="text" class="form-control-product-content form-control" name="price_level_2" value="{{product|admin_product_price:"2"}}">
					<label class="form-control-product-content-up">起订量区间：</label>
					<input type="text" name="quantity_level_2" value="{{product|admin_product_price_quantity:"2"}}" class="form-control-product-content form-control">
				</div>
				<div class="item">
					<label>库存：</label>
					<input type="text" name="quantity" value="{{product.quantity|default:"1"}}" class="form-control-product-content form-control">
				</div>
				<div class="item">
					<label>最小起订量：</label>
					<input type="text" name="min_order_quantity" value="{{product.min_order_quantity}}"  class="form-control-product-content form-control">
				</div>
				<div class="item form-control-product-volume">
					<label>体积：</label>
					<label class="form-control-product-volume-lable">长：</label>
					<input type="text" name="cuboid_long" value="{{product.cuboid_long|floatformat:"0"}}"   class="form-control-product-content form-control">
					<span>mm</span>
					<label class="form-control-product-volume-lable">宽：</label>
					<input type="text" name="cuboid_width" value="{{product.cuboid_width|floatformat:"0"}}" class="form-control-product-content form-control">
					<span>mm</span>
					<label class="form-control-product-volume-lable">高：</label>
					<input type="text" name="cuboid_height" value="{{product.cuboid_height|floatformat:"0"}}" class="form-control-product-content form-control">
					<span>mm</span>
				</div>
				<div class="item">
					<label>重量：</label>
					<input type="text" name="weight" value="{{product.weight|floatformat:"0"}}"  class="form-control-product-content form-control">
					<span>g</span>
				</div>
				<div class="item">
					<label>自定义模板：</label>
					<div class="btn-group normal">
						<button type="button" class="btn btn-default inputBtn"><span class="selected-text">{{product.detail_template|default:"无需自定义"}}</span>
						</button>
						<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu" id="detail_template-selection">
							<li class="dropdown-item" data-value="">无需自定义</li>
							{% for t in custmize_template %}
							<li class="dropdown-item" data-value="{{t}}">{{t}}</li>
							{% endfor %}
						</ul>
						<input class="dropdown-item-input" type="hidden" name="detail_template" value="{{product.detail_template}}"/>
					</div>
				</div>
				
	
				<div class="item">				
					<p class="form-control-product-images-title">产品主图</p>
					<button type="button" class="btn btn-primary cd-popup-trigger" data-type="product" data-which-page="uploading" data-trigger-name="main" data-id="{{product.id}}">添加主图</button>
				</div>
				<div class="clearfix"></div>
	
				<div id="product_main_picture_show" class="item product-images ">
						{% for image in product.get_main_image_list %}
							<div class="images">
								<a href='{{image.get_image_url}}' target="_blank"><img src='{{image.get_thumb_url}}' alt='{{image.alt_value}}'></a>
								<div class="image-operaion">
									<a href="#" class="set-picture-attr" data-method="set_main" data-id="{{image.id}}" data-item-id="{{product.id}}" data-image-type="product">设为首图 </a> |
									<a href="#" class="set-picture-attr set-picture-attr-delete" data-method="delete" data-id="{{image.id}}" data-item-id="{{product.id}}" data-image-type="product">删除 </a>
									
								</div>
							</div>
						{% empty %}
							<p>There is no image at all.</p>
						{% endfor %}
				</div>

				<div class="item">
					<label>详细描述：</label>
				</div>
	
				<div class="item item-area">
					<textarea type="text" id="product_desc_editor" name="description" class="form-control">{{product.description}}</textarea>
				</div>
				<div class="submit-item">
					<input type="hidden" name="id" value="{{product.id}}">
					<button id="product-detail-info-submit-btn" type="button" class="btn btn-primary next-steep">保存</button>
				</div>
			</form>
        </div>
        <div class="add-content attr" id="tag_product_para">
			<form id="product_para_detail_form">
				<input name="product_id" value="{{product.id}}" type="hidden" />
				<div class="item-free attr-first-array item attr-first-array2">
					<label>选择属性：<br/>(<a href="/admin/product-para-group-edit/">添加属性组</a>)</label>
	
					<div class="btn-group normal">
						<button type="button" class="btn btn-default inputBtn"><span class="selected-text">{{product|admin_product_para_group:"name"}}</span>
						</button>
						<button type="button" class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu" id="category-selection">
							<li class="dropdown-item" data-value="">请选择一个属性组</li>
							{% for group in product_para_group_list %}
								<li class="dropdown-item" data-value="{{group.id}}">{{group.name}}</li>
							{% endfor %}
						</ul>
						<input class="dropdown-item-input" type="hidden" name="product_para_group" value="{{product|admin_product_para_group:"id"}}"/>
					</div>
					
					<button  type="button" id="make_product_para" class="btn btn-primary product_para_detail_btn">确定</button>
				</div>
				{%for para in product.parameters.all%}
					<div class="item tag_attribute-input">
						<label>{{para.product_para.name}}</label>
						<input type="text" name="product_para_id_{{para.id}}" class="form-control" value="{{para.value}}">
					</div>
				{%endfor%}
				<div class="submit-item">
					<input type="hidden" id="prd_method" name="method" value="save" />
					<button type="button" id="product_para_value_submit" class="btn btn-primary next-steep">保存</button>
					<button type="button" id="product_para_value_clear" class="btn btn-primary next-steep">清空</button>
				</div>
			</form>
        </div>
        <div class="add-content photo " id="tag_sku">
            <div class="item-free  item product-choose-attribute product-choose-attribute2">
                <label>选择SKU：<br/>(<a href="/admin/product-sku-group-edit/">添加SKU组</a>)</label>

                <div class="btn-group normal">
                    <button type="button" class="btn btn-default inputBtn"><span class="selected-text">请选择一个SKU组</span>
                    </button>
                    <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="category-selection">
                        <li class="dropdown-item" data-value="">请选择一个SKU组</li>
                        {% for group in attribute_group_list %}
                        <li class="dropdown-item" data-value="{{group.id}}">{{group.name}} - {{group.code}}</li>
                        {% endfor %}
                    </ul>
                    <input class="dropdown-item-input" type="hidden" name="attribute-group" value=""/>

                </div>
                <button type="button" class="btn btn-primary add-attribute-group">添加</button>

            </div>
            <div class="item item-hint product-choose-attribute-p">
                <p>请添加完毕所有相关SKU组之后，点击“生成SKU”按钮</p>
            </div>

			<form id="arrtibute_to_make_sku">
				<div class="item product-choose-sku-title">
					<h2>SKU选择</h2>
				</div>
				<div id="attribute_group_show">
				{% for group in attribute_group_belong %}
					<div class="" id="group_div_parent_{{group.id}}">
						<div class="item " id="title_div_{{group.id}}">
							<p>{{group.name}} - {{group.code}}</p>
						</div>
						<div class="item add-content-checkbox add-content-checkbox-SKU" id="items_{{group.id}}">
							{% for att in group.attributes.all %}
								<input type="checkbox" value="{{att.id}}" name="attribute-id" class="attribute-to-sku" data-attr-id="{{att.id}}" {{product|check_if_in_product_attribute:att}}>
								<p>{{att.name}}</p>
							{%endfor%}
						</div>
					</div>
				{% endfor %}
				</div>
			</form>
			<div class="product-choose-attribute product-choose-attribute-add-sku">
				<button type="button" class="btn btn-primary make-sku-list">生成SKU</button>
				<div class="message">
					<span>?</span>
					<div class="ico">
						<div class="text">
							<h4>描述</h4>
							<p>先下拉选择SKU组后，点“添加”，然后勾选想要的SKU属性，点击“生成SKU”方能生效。</p>
						</div>
					</div>
				</div>
			</div>
			<form id="sku_attribute_form">
				<div class="item product-choose-sku-title2 product-choose-sku-title">
					<h2>SKU列表</h2>
				</div>
				<div class="  box-body no-padding ">
					<table class="table  product-choose-sku-table">
						<tbody>
						<tr>
							<th>SKU序号</th>
							<th>SKU属性组合</th>
							<th>产品编号</th>
							<th>库存</th>
							<th>图片</th>
							<th>操作</th>
							<th></th>
						</tr>
						{% for pa in product.attributes.all %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{pa.get_grouped_attribute_desc}}</td>
								<td>
									<input type="text" name="pa-sub_item_number-{{pa.id}}" value="{{pa.sub_item_number}}">
									<input type="hidden" name="pa_id" value="{{pa.id}}" />
								</td>
								<td><input type="text" name="pa-quantity-{{pa.id}}" value="{{pa.quantity}}"></td>
								<td><img id="img_{{pa.id}}" src="{{pa.image.get_thumb_url}}" alt=""></td>
								<td>
									
									<button type="button" data-type="product" data-trigger-name="sku" data-id="{{product.id}}" data-extra-info="{{pa.id}}" data-sku-id="{{pa.id}}" class="btn btn-primary cd-popup-trigger">上传</button>
									
								</td>
								<td>
									<button type="button" class="btn btn-danger sku_delete_link" data-sku-id="{{pa.id}}">删除</button>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</form>

            <div class="submit-item product-choose-sku-button">
                <button type="button" id="product-attribute-submit-btn" class="btn btn-primary next-steep">保存</button>
                <button type="button" id="product-attribute-clear-btn" data-product-id="{{product.id}}" class="btn btn-primary next-steep">清除SKU</button>
            </div>
        </div>
		<div class="add-content correlation" id="tag_correlation">
            <div class="box xy-list page-list-content product-correlation">
                <div class="box-body no-padding">
					<form id="related_product_form">
                    <table id = "related-product-table" class="table table-striped page-table-list ">
                        <tbody>
                        <tr>
                            <th>选择</th>
                            <th>产品图片</th>
                            <th>编号</th>
                            <th>产品名称</th>
                            <th>分类</th>
                            <th>操作</th>
                        </tr>
						{%for p in product.get_related_products%}
                        <tr>
                            <td><input name="is_oper" id="rp_checkbox_{{p.id}}" value="{{p.id}}" type="checkbox"></td>
                            <td><img src="{{p.get_thumb_url}}"></td>
                            <td>{{p.item_number}}</td>
                            <td>{{p.name}}</td>
                            <td>
								<ul>
									{%for cat in p.categorys.all%}
									<li>{{cat.name}}</li>
									{%endfor%}
								</ul>
							</td>
                            <td><a class="deleteCategory message-delete related-product-batch-oper" data-method="delete" data-id="{{p.id}}">删除</a></td>
                        </tr>
						{%endfor%}
                        </tbody>
                    </table>
					<input name="host_id" type="hidden" value="{{product.id}}" />
					</form>
                </div>
                <div class="box-footer clearfix">
                    <div class="xy-box-select">
                        <input type="checkbox" id="related-content-checkbox-all">
                        <a id="related-content-btn-all" href="#">全选</a>
                        <button type="button" data-method="delete" class="btn btn-danger related-product-batch-oper">删除
                        </button>

                        <button id="related_product_add_btn" type="button" class="btn btn-primary common-popup-trigger"  data-target-url="/admin/related-product-list/?host_id={{product.id}}&page_size=3" data-id="{{product.id}}" data-reject-no-host="true">增加相关产品</button>
                    </div>

                </div>
            </div>
        </div>

	</div>	
	<input type="hidden" id="open_file_upload_trigger" value="" />
	<input type="hidden" id="album_trigger_sku_id" value="" />
</section>

<!--弹出-->
{% include 'admin/default/album_modal_win.html' %}
{% include 'admin/default/common_pop_win.html' %}
<!-- cd-popup-container -->

{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<script src="{% static 'admin/default/js/upload.1.0.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'admin/default/js/ckeditor.js' %}" type="text/javascript"></script>
	<script>	
	$(document).ready(function() {
		var tab_name = $.getUrlParam('tab_name');
		if (tab_name){
			$(".product-info-tag li,.add-content").removeClass("active");
			$("#" + tab_name).addClass("active");
		};
		
		$(".url_advise_btn").click(function(){		
			title = $("input[name=name]").val();
			
			arr = new Array();
			arr = title.split(" ");
			url = "";
			
			$.each(arr, function(idx, item) {
				if(item.trim()!=""){
					url = url + item + "-";
				}
			});
			if(url.endWith("-")){
				url = url.substring(0,url.length-1);
				url = url + ".html";
			}
			$("input[name=static_file_name]").val(url);
		});
				
		CKEDITOR.replace('product_desc_editor',{
			filebrowserUploadUrl: '{{upload_url}}'
		});		
	});
	function reload_picture_list(extra){
			//从服务器查询图片列表
		if (extra!=null && extra.extra_info!=null && extra.extra_info!=""){
			console.log("skuid:"+extra.extra_info);
			var sku_id = extra.extra_info;
			var id = extra.img_id;
			
			var url = "/admin/product-set-image/";
			
			var postdata = {"sku_id":sku_id,"picture_id":id,"item_id":{{product.id|default:"0"}},"method":"set_sku"};
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					if(data.success==true){
						$("#img_"+sku_id).attr("src",data.thumb);
						$(".cd-popup").removeClass("is-visible");
					}			
				}
			});
			
			
		}else{
			var url = "/product/get-product-images/main/";
			var postdata = {"id":{{product.id|default:"0"}}};
				
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					if(data.success==true){
						//逐个插入图片
						var tmpHtml = "";
						$.each( data.image_list, function( key, val ) {
							//console.log( key, val, this );
							console.log(this.image);
							tmpHtml = tmpHtml
							+ '<div class="images">'
							+	'<a href="' + this.image + '" target="_blank"><img src="' + this.thumb + '" alt="' + this.alt + '"></a>'
							+	'<div class="image-operaion">'
							+		'<a href="#" class="set-picture-attr" data-method="set_main" data-id="' + this.id + '" data-item-id="'+this.product_id+'" data-image-type="product">设为首图 </a> | '
							+		'<a href="#" class="set-picture-attr" data-method="delete" data-id="' + this.id + '" data-item-id="'+this.product_id+'" data-image-type="product">删除 </a> '
							+	'</div>'
							+ '</div>';
						});
						$("#product_main_picture_show").html(tmpHtml);
					}
				}
			});
		}
	};
	
	function reload_related_product_list(){
		var url = location.href;
		var newurl = changeURLArg(url,"tab_name","tag_correlation");
		location.href = newurl; 
	};
	
	function album_dblclick_callback(id){
		var type = 'product';
		var sku_id = $("#album_trigger_sku_id").val();
	
		

		var method = "set_sku";
		var trigger = $("#open_file_upload_trigger").val();

		
		if (trigger=='main'){
			var method = "set_main";
		}
		
		if (trigger=='sku'){
			var method = "set_sku";
		}
		
		console.log("type:" + type + " method:" + method + " trigger:" + trigger);

		var url = "";
		if (type == "product"){
			url = "/admin/product-set-image/";
		}
		
		var postdata = {"sku_id":sku_id,"picture_id":id,"item_id":{{product.id|default:"0"}},"method":method};
		$.ajax({
			cache: false,
			type: "POST",
			url:url,
			data:postdata,
			async: false,
			error: function(request) {
				alert("System error");
			},
			success: function(data) {
				if(data.success==true){
					if (trigger=='main'){
						reload_picture_list();
					}
					
					if (trigger=='sku'){
						$("#img_"+sku_id).attr("src",data.thumb);
					}
					$(".cd-popup").removeClass("is-visible");
				}			
			}
		});
	
		
	};
	
	</script>
	
{% endblock %}
