{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
    {% load shopcart_extras %}
    <section class="content-header">
        <h1>招聘管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
            <li class="active"><a href="#">{{ is_blog|yesno:"招聘管理" }}</a></li>
        </ol>
    </section>
{% endblock %}


{% block main %}
    {% load i18n %}
    {% load staticfiles %}
    {% load shopcart_extras %}
    <script>
        document.body.style.backgroundColor = "#f0f0f0";
    </script>
    <section class="content">
        <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
        <div class="col-md-12 add-product ">
            <ul class="tag">
                <li class="active" data="tag_basic_info">基本信息</li>
            </ul>


            <div class="add-content active" id="tag_basic_info">
                <form id="recruit-basic-info-form">
                    <div class="item item2">
                        <label>岗位名称<span class="point">*</span>：</label>
                        <input type="text" value="{{ recruit.title }}" name="title" class="form-control ">
                    </div>
                    <div class="item btn-item btn-item2">
                        <label>自定义URL<span class="point">*</span>：</label><input type="text" name="static_file_name"
                                                                                 value="{{ recruit.static_file_name|default:"" }}"
                                                                                 class="form-control">
                        <button type="button" id="static_file_name_advice" class="btn btn-primary">推荐</button>
                    </div>

                    {#                    <div class="item item2"><label>网页标题：</label><input type="text" name="page_title"#}
                    {#                                                                       class="form-control"#}
                    {#                                                                       value="{{ recruit.page_title }}"></div>#}

                    <div class="item item2"><label>关键字：</label><input type="text" name="keywords"
                                                                      value="{{ recruit.keywords|default:"" }}"
                                                                      class="form-control"></div>

                    <div class="item item2"><label>招聘人数：</label><input type="text" name="number"
                                                                       value="{{ recruit.number }}"
                                                                       class="form-control"></div>

                    <div class="item item2"><label>学历要求：</label><input type="text" name="education"
                                                                       value="{{ recruit.education }}"
                                                                       class="form-control"></div>

                    <div class="item item2"><label>工作地点：</label><input type="text" name="site"
                                                                       value="{{ recruit.site }}"
                                                                       class="form-control"></div>

                    <div class="item item2"><label>工作类型：</label><input type="text" name="type"
                                                                       value="{{ recruit.type }}"
                                                                       class="form-control"></div>


                    {#                    <div class="item item-area item2"><label>简要描述：</label><textarea type="text" name="short_desc"#}
                    {#                                                                                    class="form-control">{{ recruit.short_desc|default:"" }}</textarea>#}
                    {#                    </div>#}
                    <div class="item item-area">
                        <label>详细信息:</label>
                    </div>
                    <div class="item item-area">
                        <textarea type="text" id="recruit_content_editor" name="content"
                                  class="form-control">{{ recruit.content|default:"" }}</textarea>
                    </div>


                    <div class="item item2"><label>排序号：</label><input type="text" name="sort_order"
                                                                      value="{{ recruit.sort_order }}"
                                                                      class="form-control"></div>
                    <div class="submit-item item">
                        <input type="hidden" name="breadcrumbs" value=""/>
                        <input type="hidden" name="id" value="{{ recruit.id }}"/>
                        <button type="button" id="recruit-basic-info-submit-btn" class="btn btn-primary addPSubmit">保存
                        </button>
                    </div>
                </form>
            </div>

            {#            <div class="add-content" id="tag_detail_info">#}
            {#                <form id="recruit-detail-info-form">#}
            {#                    <div class="item item-area">#}
            {#                        <label>详细描述:</label>#}
            {#                    </div>#}
            {#                    <div class="item item-area">#}
            {#                        <textarea type="text" id="recruit_content_editor" name="content"#}
            {#                                  class="form-control">{{ recruit.content|default:"" }}</textarea>#}
            {#                    </div>#}
            {##}
            {#                    <div class="submit-item item">#}
            {#                        <input type="hidden" name="id" value="{{ recruit.id }}"/>#}
            {#                        <button type="button" id="recruit-detail-info-submit-btn" class="btn btn-primary addPSubmit">#}
            {#                            提交#}
            {#                        </button>#}
            {#                    </div>#}
            {#                </form>#}
            {#            </div>#}
        </div>
    </section>
    {% include 'admin/default/album_modal_win.html' %}


{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'admin/default/js/upload.1.0.2.js' %}"></script>
    <script src="{% static 'admin/default/js/ckeditor.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var tab_name = $.getUrlParam('tab_name');
            if (tab_name) {
                $(".recruit-info-tag li,.add-content").removeClass("active");
                $("#" + tab_name).addClass("active");
            }

            CKEDITOR.replace('recruit_content_editor', {
                filebrowserUploadUrl: '{{upload_url}}'
            });

            $("#recruit_page_title_advice").click(function (event) {
                event.preventDefault();
                $("input[name=page_title]").val($("input[name=title]").val());
            });

            $("#static_file_name_advice").click(function (event) {
                event.preventDefault();
                var title = $("input[name=title]").val();
                var arr = new Array();
                arr = title.split(" ");
                url = "";

                $.each(arr, function (idx, item) {
                    if (item.trim() != "") {
                        url = url + item + "-";
                    }
                });
                if (url.endWith("-")) {
                    url = url.substring(0, url.length - 1);
                    url = url + ".html";
                }
                $("input[name=static_file_name]").val(url);
            });
        });

    </script>
{% endblock %}
