{% extends "admin/default/content_base.html" %}

{% block main %}
{% load i18n %}

{% load staticfiles %}
{% load shopcart_extras %}
<!--content -->
<!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
<input type="hidden" id="related_reoducts_host_id" value="{{host_id}}"/>
<div class="box xy-search product-related-alter">
    <div class="box-header with-border">
        <h3 class="box-title">请选择产品</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form>
                         <div class="btn-group normal product-button-search">
                             <button type="button" class="btn btn-default inputBtn"><span
                                    class="selected-text">{{query_item|is_equal:"item_name"|yesno:"产品名称,产品编号,"}}</span></button>
                             <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                                data-toggle="dropdown">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                             </button>
                                        <ul class="dropdown-menu" role="menu" id="selectOption2">
                                            <li class="dropdown-item" data-value="item_name">产品名称</li>
                                            <li class="dropdown-item" data-value="item_number">产品编号</li>
                                        </ul>
                                        <input type="hidden" class="dropdown-item-input" name="query_item" value="{{query_item|default:"item_name"}}">
                                    </div>
									<div class="btn-group normal product-button-search">
                                        <button type="button" class="btn btn-default inputBtn"><span
                                                class="selected-text">{{query_category_name|default:"请选择分类"}}</span></button>
                                        <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" id="selectOption2">
											<li class="dropdown-item" data-value="">请选择分类</li>
											{%for cat in cat_list%}
												<li class="dropdown-item" data-value="{{cat.id}}">{{cat.name}}</li>
											{%endfor%}
                                        </ul>
                                        <input type="hidden" class="dropdown-item-input" name="query_category" value="{{query_category|default:""}}">
                                    </div>
									
                                    <div class="form-group">
                                        <input type="text" name="item_value" value="{{item_value}}" class="form-control product-list-search-input">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">查询</button>
                                    </div>
                                </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box xy-list-product">
        <div class="box-body no-padding">
            <table class="table table-striped related-products-table">
                <tbody>
                <tr>
                    <th>选择</th>
                    <th>产品图片</th>
                    <th>编号</th>
                    <th>产品名称</th>
                    <th>分类</th>
                </tr>
				{%for product in product_list%}
                <tr>
                    <td><input type="checkbox" name="selected"></td>
                    <td><a href="#"><img src="{{product.thumb}}"></a></td>
                    <td>{{product.item_number}}</td>
                    <td>{{product.name}}</td>
                    <td>
                        <ul>
							{%for cat in product.categorys.all%}
								<li>LED light</li>
							{%endfor%}
                        </ul>
                    </td>
                </tr>
				{%endfor%}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <div class="xy-box-select">
                <button id="add-new-sku" type="button" class="btn btn-primary">确定添加</button>
            </div>
            <div class="xy-pages-jump">
                <button type="submit" class="btn btn-primary">跳转</button>
                <input type="text" class="form-control">
                <p>跳转到：</p>

                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
                <p>共7条记录 , 共3页，每页显示：15条</p>
            </div>
        </div>
    </div><!-- /.box -->
</div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
<script>

	
	$(document).ready(function($){
		//点击确定按钮
		jQuery("#order-price-adjusment-btn").click(function(){
			var url = "/admin/order-price-adjusment/";
			var order_id = $("#oder_id_input").val();
			var price = $("#order_price_adjusment").val();
			
			var postdata = {"price_adjusment":price,"order_id":order_id};
		
			$.ajax({
				cache: false,
				type: "POST",
				url:url,
				data:postdata,
				async: false,
				error: function(request) {
					alert("System error");
				},
				success: function(data) {
					$("#infoMessage").html(data.message);
					$('#myModal').on('hidden.bs.modal', function (e) {
						window.parent.price_adjusment_popwin_callback();
					});
					
					$("#myModal").modal('toggle');
					
				}
			});
		});
	});
</script>
{% endblock %}
