{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
    <section class="content-header">
        <h1>图片展示 <span class="box-subtitle">插件管理</span></h1>
    </section>
{% endblock %}

{% block main %}
    {% load i18n %}
    {% load shopcart_extras %}
    <script>
        document.body.style.backgroundColor = "#f0f0f0";
    </script>
    <section class="content">
        <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
        <div class="col-md-12 add-product plug-in-slider-detail">
            <form id="slider_detail_form">
                <div class="add-content active">
                    <div class="item item2">
                        <label>幻灯片代码</label>
                        <input disabled="disabled" type="text" class="form-control " name="code" value="{{ slider.code }}">
                    </div>
                    <div class="item item2">
                        <label>幻灯片备注</label>
                        <input type="text" class="form-control " name="name" value="{{ slider.name }}">
                    </div>
                    <div class="item add-product-tree article-add-title plug-in-slider-detail-save">
                        <label></label>
                        <button type="button" class="btn btn-primary index-img-add-btn" data-id="{{ slider.id }}"
                                id="slider_detail_submit_btn">保存
                        </button>
                    </div>
                    <div class="item add-product-tree ">
                        <label></label>
                        <button type="button" class="btn btn-primary cd-popup-trigger index-img-add-btn"
                                data-type="slider"
                                data-id="{{ slider.id }}">添加图片
                        </button>
                    </div>
                    <div id="slider_main_picture_show" class="item product-images plug-in-slider-detail-img">
                        <label></label>
                        {% for img in slider.get_image_list %}
                            <div class="images article-images-list col-md-1">
                                <a href="{{ img.image }}" target="_blank"><img src="{{ img.thumb }}"></a>
                                <a href="#" class="set-picture-attr point" data-method="delete" data-id="{{ img.id }}"
                                   data-slider-id="{{ slider.id }}" data-image-type="slider">删除 </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="item index-img-bottom-btn">
                        <label></label>
                        <button type="button" onclick="javascript:window.location.href='/admin/slider-list/'" class="btn btn-primary index-img-add-btn">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% include 'admin/default/album_modal_win.html' %}

{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'admin/default/js/upload.1.0.2.js' %}"></script>
    <script>
        function reload_picture_list() {
            location.reload(true);
        };
    </script>
{% endblock %}