{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
<section class="content-header">
    <h1>{{page_name}}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台首页</a></li>
        <li class="active"><a href="#">系统参数管理</a></li>
    </ol>
</section>
{% endblock %}

{% block main %}
{% load i18n %}
{% load shopcart_extras %}

<section class="content">
    <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
    <div class="col-md-12 add-product system-attr">
        <div class="system-attr-mian">
            <ul class="tag">
				<li class="{{current_page|equalornot:"site_config,active,"}}" data="tag_site_config"><a href="../site_config/">网站信息</a></li>
				<li class="{{current_page|equalornot:"email_config,active,"}}" data="tag_email_config"><a href="../email_config/">邮箱配置</a></li>
				<li class="{{current_page|equalornot:"display_config,active,"}}" data="tag_display_config"><a href="../display_config/">显示配置</a></li>
				<li class="{{current_page|equalornot:"picture_config,active,"}}" data="tag_picture_config"><a href="../picture_config/">图片配置</a></li>
			</ul>
            <!--页签-->			
			<form id="site_config_form">
			{% csrf_token %}
            <div class="add-content website-info active" id="tag_site_config">
                <div class="item">
                    <label>网站名称：</label>
                    <input type="text" name="system_config_site_name" class="form-control" value="{{system_para.site_name}}">
                    <div class="message">
                        <span>?</span>
                        <div class="ico">
                            <div class="text">
                                <h4>描述</h4>
                                <p>网站名称，用于网站每个页面浏览器标题栏的后缀。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <label>首页标题：</label>
                    <input type="text" name="system_config_index_page_title" class="form-control" value="{{system_para.index_page_title}}">
                </div>
                <div class="item">
                    <label>首页关键词：</label>
                    <input type="text" name="system_config_index_keywords" class="form-control" value="{{system_para.index_keywords}}">
                </div>
                <div class="item item-textarea">
                    <label>首页描述：</label>
                    <textarea type="text" name="system_config_index_description" class="form-control">{{system_para.index_description}}
                        </textarea>
                </div>
                <div class="item">
                    <label>热线：</label>
                    <input type="text" name="system_config_hot_line" class="form-control" value="{{system_para.hot_line}}">
                </div>
				<div class="item">
                    <label>办公电话：</label>
                    <input type="text" name="system_config_office_phone" class="form-control" value="{{system_para.office_phone}}">
                </div>
                <div class="item">
                    <label>网址：</label>
                    <input type="text" name="system_config_base_url" class="form-control" value="{{system_para.base_url}}">
                </div>
                <div class="item">
                    <label>邮箱：</label>
                    <input type="text" name="system_config_service_email" class="form-control" value="{{system_para.service_email}}">
                </div>

                <div class="item">
                    <label>地址：</label>
                    <input type="text"  name="system_config_contact_address" class="form-control" value="{{system_para.contact_address}}">
                </div>
                <div class="item">
                    <label>版权信息：</label>
                    <input type="text" name="system_config_copyright" class="form-control" value="{{system_para.copyright}}">
                </div>
                <div class="item">
                    <label>货币：</label>
                    <div class="btn-group normal product-button-search">
                        <button type="button" class="btn btn-default inputBtn"><span class="selected-text">{{system_para.currency|currency_list:"zh_CN"}}</span>
                        </button>
                        <button type="button" class="btn btn-foursquare dropdown-toggle selectBtn"
                                data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="selectOption">
                            <li class="dropdown-item" data-value="USD">美元</li>
                            <li class="dropdown-item" data-value="RMB">人民币</li>
                            <li class="dropdown-item" data-value="EUR">欧元</li>
                        </ul>
                        <input type="hidden" class="dropdown-item-input" name="system_config_currency" value="{{system_para.currency}}">
                    </div>

                </div>
                <div class="submit-item">
                    <button id="site_config_submit_btn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
			</form>
    </div>
</section>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}