{% extends "admin/default/content_base.html" %}
{% block breadcrumbs %}
    <section class="content-header">
        <h1>添加管理员 <span class="box-subtitle">用户管理</span></h1>
    </section>
{% endblock %}


{% block main %}
    {% load i18n %}

    {% load staticfiles %}
    {% load shopcart_extras %}
    <script>
        document.body.style.backgroundColor = "#f0f0f0";
    </script>
    <section class="content">
        <!-- 每个row 就是一行的块区，可以是1到多个个块区，看下面的col-md-x -->
        <div class="col-md-12 add-product">
            <h1 class="add-product-h1">添加管理员</h1>
            <div class="page_editor user-add">
                <form id="user_admin_detail_form">
                    <div class="item ">
                        <label>邮件地址</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="item ">
                        <label>密码</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="item item2">
                        <label>姓</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="item item2">
                        <label>名</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="item btn-item btn-item2">
                        <label>类型</label>
                        <label>管理员</label>
                    </div>

                    <div class="form-group article user-add-btn">
                        <button id="user_admin_detail_submit_btn" type="button" class="btn btn-primary next-steep ">确定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}

{% endblock %}