{% extends "client/sanyan/base.html" %}
{% block breadcrumbs %}
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a> - <a href="/Products.html"><span>Products</span></a> - <a href="#0"><span>Electric Fireplace</span></a>
    </div>
</div>
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<div class="Categories">
    <div class="container">
        <div class="row">
            <div class="product-list-left col-md-3 col-xs-12">
                <div class="product-list-left-bg">


                    <h2>Categories</h2>
                    <ul>
                        <li><a href="/Electric-Fireplace.html">Electric Fireplace</a></li>
                        <li><a href="/Traditional-Electric-Fireplace.html">- Traditional Electric Fireplace</a></li>
                        <li><a href="/Entertainment-Center-Fireplace.html">- Entertainment Center Fireplace</a></li>
                        <li><a href="/Portable-Electric-Fireplace.html">- Portable Electric Fireplace</a></li>
                        <li><a href="/Wall-Mounted-Electric-Fireplace.html">- Wall Mounted Electric Fireplace</a></li>
                        <li><a href="/Electric-Fireplace-Insert.html">- Electric Fireplace Insert</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Bio-ethanol-Fireplace.html">Bio-ethanol Fireplace</a></li>
                        <li><a href="/Ethanol-Fireplace-With-Gelbox.html">- Ethanol Fireplace With Gelbox</a></li>
                        <li><a href="/Floor-Ethanol-Fireplace.html">- Floor Ethanol Fireplace</a></li>
                        <li><a href="/Table-Ethanol-Fireplace.html">- Table Ethanol Fireplace</a></li>
                        <li><a href="/Wall-Mounted-Ethanol-Fireplace.html">- Wall Mounted Ethanol Fireplace</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Wood-mantel.html">Wood mantel</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Gas-Logs.html">Gas Logs</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Accessories.html">Accessories</a></li>
                    </ul>

                </div>
            </div>
            <div class="categories-list-right col-md-9 col-xs-12">

                <div class="ArticleList-right-one">
                    <a class="ArticleList-right-a" href="/Ethanol-Fireplace-With-Gelbox.html"><img src="{% static "client/sanyan/images/Cate_11.jpg"%}"></a>
                    <div class="ArticleList-right-one-center">
                        <a class="ArticleList-right-h3" href="/Ethanol-Fireplace-With-Gelbox.html"><h3>Ethanol Fireplace Gelbox with Wood Mantel</h3></a>
                        <p class="ArticleList-right-content">Ethanol fireplace with classic mantel, elegant and brief design, fit all the modern home. </p>
                    </div>
                    <a class="ArticleList-right-button" href="/Ethanol-Fireplace-With-Gelbox.html">
                        <button>
                            VIEW MORE
                        </button>
                    </a>
                </div>

                <div class="ArticleList-right-one">
                    <a class="ArticleList-right-a" href="/Floor-Ethanol-Fireplace.html"><img src="{% static "client/sanyan/images/Cate_12.jpg"%}"></a>
                    <div class="ArticleList-right-one-center">
                        <a class="ArticleList-right-h3" href="/Floor-Ethanol-Fireplace.html"><h3>Floor-standing Ethanol Fireplace</h3></a>
                        <p class="ArticleList-right-content">Freestanding style, can be used both indoors and outdoors. Create a cozy, intimate atmosphere. </p>
                    </div>
                    <a class="ArticleList-right-button" href="/Floor-Ethanol-Fireplace.html">
                        <button>
                            VIEW MORE
                        </button>
                    </a>
                </div>

                <div class="ArticleList-right-one">
                    <a class="ArticleList-right-a" href="/Table-Ethanol-Fireplace.html"><img src="{% static "client/sanyan/images/Cate_13.jpg"%}"></a>
                    <div class="ArticleList-right-one-center">
                        <a class="ArticleList-right-h3" href="/Table-Ethanol-Fireplace.html"><h3>Table ethanol fireplace</h3></a>
                        <p class="ArticleList-right-content">The modern and compact design makes it a great home accessory. It can be placed in any where in room. </p>
                    </div>
                    <a class="ArticleList-right-button" href="/Table-Ethanol-Fireplace.html">
                        <button>
                            VIEW MORE
                        </button>
                    </a>
                </div>

                <div class="ArticleList-right-one">
                    <a class="ArticleList-right-a" href="/Wall-Mounted-Ethanol-Fireplace.html"><img src="{% static "client/sanyan/images/Cate_14.jpg"%}"></a>
                    <div class="ArticleList-right-one-center">
                        <a class="ArticleList-right-h3" href="/Wall-Mounted-Ethanol-Fireplace.html"><h3>Wall Mounted Ethanol Fireplace</h3></a>
                        <p class="ArticleList-right-content">Can be mounted on both concrete and dry walls, smokeless & ventless real fire, amplify room’ s atmosphere and create a warm and cozy ambience.</p>
                    </div>
                    <a class="ArticleList-right-button" href="/Wall-Mounted-Ethanol-Fireplace.html">
                        <button>
                            VIEW MORE
                        </button>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}