{% extends "client/sanyan/base.html" %}
{% block breadcrumbs %}


    <div class="crumb">
        <div class="container">
            <a href="/">HOME</a> - <a href="#0"><span>CONTACT US</span></a>
        </div>
    </div>
{% endblock %}
{% block main %}
    {% load i18n %}
    {% load staticfiles %}
    <div class="contact">
        <div class="container">
            <h1>CONTACT</h1>
            <div class="row">
                <div class="contact-left col-md-6 col-xs-12">
                    <h2>Contact Info</h2>
                    <h3>Ningbo Warrmth Housewares CO., Ltd.</h3>
                    <ul>
                        <li class="contact-left-fw">Address:</li>
                        <li>{{ system_para.contact_address }}</li>
                        <li><span class="contact-left-fw">Postcode:</span>315040</li>
                        <li><span class="contact-left-fw">Tel:</span>{{ system_para.office_phone }}</li>
                        <li><span class="contact-left-fw">Fax:</span>{{ system_para.hot_line }}</li>
                        <li>
                            <a href="#"><img src="{% static "client/sanyan/images/facebook.png" %}"></a>
                            <a href="#"><img src="{% static "client/sanyan/images/youtube.png" %}"></a>
                        </li>
                    </ul>

                </div>
                <div class="contact-right col-md-6 col-xs-12">
                    <h2>Contact form</h2>
                    <div class="contact-form">
                        <div class="row">
                            <form id="inquiryForm" action="/inquiry/add/" method="POST" class="form-horizontal">
                                {% csrf_token %}
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <div>
                                            <label>Name<i>*</i></label>
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" name="name" id="name">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Email<i>*</i></label>
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" name="email" id="email">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Title</label>
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" name="title" id="title">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Phone</label>
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" name="phone" id="phone">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Company</label>
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" name="company" id="company">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Message<i>*</i></label>
                                            <div class="col-lg-12 col-md-12">
                                                <textarea name="message" id="message"></textarea>
                                            </div>
                                        </div>
                                        <img id="check_code_img" src="/create_code/" onclick="refresh_check_code(this)">
                                        <input type="text" name="code">
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 contact-button">
                                    <button type="button" id="inquiry-submit">Submit</button>
                                </div>
                                <!--<input type="reset" style="display: none">-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="map"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'client/sanyan/js/bootstrapValidator.js' %}"></script>
    <script type="text/javascript">
        $('#inquiryForm').bootstrapValidator({
//        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'This is a required field.'
                        },
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'This is a required field.'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address.'
                        }
                    }
                },
                message: {
                    validators: {
                        notEmpty: {
                            message: 'This is a required field.'
                        },
                    }
                },
            }
        });
    </script>
    <script>
        function refresh_check_code(ths) {
            ths.src += '?';
            //src后面加问好会自动刷新验证码img的src
        }
    </script>
    <script type="text/javascript">

        function initMap() {
            var myLatLng = {lat: 29.8818982155, lng: 121.6188512610};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Ningbo Warrmth Housewares CO., Ltd.'
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAD4V7OLhs-097iPNhYneZvCDbOVSzZvk&callback=initMap">
    </script>
{% endblock %}