<div class="footer">
    <div class="container">
        <a href="#0"><i class="iconfont">&#xe66e;</i></a>
        <a href="#0"><i class="iconfont">&#xe8d0;</i></a>
        <p class="footer-p">{{system_para.contact_address}}</p>
        <p>Email: <a href="mailto:{{system_para.service_email}}">{{system_para.service_email}}</a></p>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright © <a href="#">Warrmth.com</a> All Rights Reserved Designed by <a href="#">Linkec.cn</a></p>
    </div>
</div>