{% load staticfiles %}
<!--phone menu-->
<div class="neirong neirong-hide">
    <div class="neirong-bd">
        <a href="/">Home</a>
        <a href="/Why-Us.html">Why Us<i></i></a>
        <a href="/phone-products-list.html">Products<i></i></a>
        <a href="/blog.html">News<i></i></a>
        <a href="/Service.html">Service<i></i></a>
        <a href="/contact-us.html">Contact Us<i></i></a>
    </div>
    <div class="neirong-close"></div>
</div>
<!--phone menu end-->
<!--header-->
<div class="header-top"></div>
<div class="header">
    <div class="container">
        <div class="logo">
            <img src="{% static "client/sanyan/images/logo.png"%}" alt="logo">
        </div>

        <div class="iphone-search">
            <a href="/Search.html"><span class="glyphicon glyphicon-search"></span></a>
        </div>
        <section class="buttonset">
            <div id="showLeftPush" class="glyphicon glyphicon-menu-hamburger buttonpush"></div>
        </section>

        <div class="header-menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li class="li2">
                    <a href="/Why-Us.html">ABOUT US</a>
                    <div class="row index-drop-down2">
                        <ul class="menu-first-ul">
                            <li><a href="/Profile.html">COMPANY PROFILE</a></li>
                            <li><a href="/Why-Us.html">WHY US</a></li>
                        </ul>
                    </div>
                </li>

                <li class="li1">
                    <a href="/Products.html">PRODUCTS</a>
                </li>
                <li><a href="/blog.html">NEWS</a></li>
                <li><a href="/Service.html">SERVICE</a></li>
                <li><a href="/contact-us.html">CONTACT US</a></li>
            </ul>
        </div>
        <div class="header-search">
            <form method="GET" action="/query/product/">
                <input class="header-search-input" type="text" name="query" id="q"
                       value="">
                <button class="glyphicon glyphicon-search" type="submit"></button>
            </form>
        </div>
    </div>
</div>
<div class="menu">
    <div class="container">
        <div class="row index-drop-down">
            <div class="menu-second-ul-bd col-md-2 col-xs-2">
                <ul class="menu-second-ul ">
                    <li><a href="/Electric-Fireplace.html">Electric Fireplace</a></li>

                    <li><a href="/Traditional-Electric-Fireplace.html">Traditional Electric Fireplace</a></li>
                    <li><a href="/Entertainment-Center-Fireplace.html">Entertainment Center Fireplace</a></li>
                    <li><a href="/Portable-Electric-Fireplace.html">Portable Electric Fireplace</a></li>
                    <li><a href="/Wall-Mounted-Electric-Fireplace.html">Wall Mounted Electric Fireplace</a></li>
                    <li><a href="/Electric-Fireplace-Insert.html">Electric Fireplace Insert</a></li>
                </ul>
            </div>
            <div class="menu-second-ul-bd col-md-2 col-xs-2">
                <ul class="menu-second-ul ">
                    <li><a href="/Bio-ethanol-Fireplace.html">Bio-ethanol Fireplace</a></li>

                    <li><a href="/Ethanol-Fireplace-With-Gelbox.html">Ethanol Fireplace With Gelbox</a></li>
                    <li><a href="/Floor-Ethanol-Fireplace.html">Floor Ethanol Fireplace</a></li>
                    <li><a href="/Table-Ethanol-Fireplace.html">Table Ethanol Fireplace</a></li>
                    <li><a href="/Wall-Mounted-Ethanol-Fireplace.html">Wall Mounted Ethanol Fireplace</a></li>
                </ul>
            </div>
            <div class="menu-second-ul-bd col-md-1 col-xs-1">
                <ul class="menu-second-ul ">
                    <li><a href="/Wood-mantel.html">Wood mantel</a></li>
                </ul>
            </div>
            <div class="menu-second-ul-bd col-md-1 col-xs-1">
                <ul class="menu-second-ul ">
                    <li><a href="/Gas-Logs.html">Gas Logs</a></li>
                </ul>
            </div>
            <div class="menu-second-ul-bd col-md-1 col-xs-1">
                <ul class="menu-second-ul ">
                    <li><a href="/Accessories.html">Accessories</a></li>
                </ul>
            </div>
            <div class="menu-second-ul-bd col-md-1 col-xs-1">
                <ul class="menu-second-ul ">
                    <li><a href="/Home-Furnishing.html">Home Furnishing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>