{% extends "client/sanyan/base.html" %}
{% block breadcrumbs %}
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a>
        - <a href="#0"><span>Products</span></a>
    </div>
</div>
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<div class="product-list">
    <div class="container">
        <div class="row">
            <div class="product-list-left  col-xs-12" style="display:block!important;">
                <div class="product-list-left-bg">
                    <h2>Categories</h2>
                    <ul>
                        <li><a href="/Electric-Fireplace.html">Electric Fireplace</a></li>
                        <li><a href="/Traditional-Electric-Fireplace.html">- Traditional Electric Fireplace</a></li>
                        <li><a href="/Entertainment-Center-Fireplace.html">- Entertainment Center Fireplace</a></li>
                        <li><a href="/Portable-Electric-Fireplace.html">- Portable Electric Fireplace</a></li>
                        <li><a href="/Wall-Mounted-Electric-Fireplace.html">- Wall Mounted Electric Fireplace</a></li>
                        <li><a href="/Electric-Fireplace-Insert.html">- Electric Fireplace Insert</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Bio-ethanol-Fireplace.html">Bio-ethanol Fireplace</a></li>
                        <li><a href="/Ethanol-Fireplace-With-Gelbox.html">- Ethanol Fireplace With Gelbox</a></li>
                        <li><a href="/Floor-Ethanol-Fireplace.html">- Floor Ethanol Fireplace</a></li>
                        <li><a href="/Table-Ethanol-Fireplace.html">- Table Ethanol Fireplace</a></li>
                        <li><a href="/Wall-Mounted-Ethanol-Fireplace.html">- Wall Mounted Ethanol Fireplace</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Wood-mantel.html">Wood mantel</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Gas-Logs.html">Gas Logs</a></li>
                    </ul>
                    <ul>
                        <li><a href="/Accessories.html">Accessories</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}