{% extends "client/sanyan/base.html" %}
{% block breadcrumbs %}
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a>
        - <a href="#0"><span>Products</span></a>
    </div>
</div>
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<div class="product-list">
    <div class="container">
        <div class="row">
            <div class="product-list-left  col-xs-12">
                <div class="header-search" style="display: block!important; width: 100%;float: none!important;padding-bottom: 30px" >
                    <form method="GET" action="/query/product/">
                        <input class="header-search-input" type="text" name="query" id="q"
                               value="">
                        <button class="glyphicon glyphicon-search" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}