{% extends "client/sanyan/base.html" %}
{% block breadcrumbs %}
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a> - <a href="#0"><span>Profile</span></a>
    </div>
</div>
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<div class="Profile">
    <div class="container">
        <img src="{% static " client/sanyan/images/Profile_img_01.jpg"%}">
        <h1>Warrmth - THE FIREPLACE BRAND "Take Warrmth Home ..."</h1>
        <p>Warrmth is a dynamic, internationally-minded supplier with a strong vision based in China:</p>

        <b>Our vision:</b>
        <p>- To offer innovative, environmentally-focused products and bring Warrmth to every home.</p>
        <b>Our belief:</b>
        <p>- Innovation captures the market, reliability and flexibility holds on to it and this is our end focus.</p>
        <p>We are inspired by Western styling and regularly work alongside overseas designers to provide a more novel
            and focused product base to suit the application or requirement of our clients.</p>
        <p>The Company specializes in indoor decorative fireplaces marketed under our Warrmth brand – this includes
            wooden mantelpieces, electric fireplaces (including wall-mounted, recreational, classical and portable
            styles), bio–ethanol (gel) fireplaces, gas logs, accessories and so forth. The products we produce are
            pleasing to the eye, suitable, easy to use and energy efficient and hold European certificates such as
            SATIC, TUV, CE/GS, Reach, CB, and cETLul, or CSA.</p>
        <p>Warrmth is a modern business with more than a decade of experience and loyal staff who have been with us from
            the beginning. We were one of the first Chinese companies to export bio-ethanol (gel) fireplaces, which we
            began to manufacture in 2003. We offer OEM and ODM - integrating development, manufacturing with marketing
            departments to achieve the desired results. We have our own specialized technicians, engineers, QC/QA who
            ensure the products are designed, developed and produced to the required standards. </p>
        <p>Since safety has always been primary concern of ours, in 2004 we started cooperating with our European buyers
            to improve our products’ security features. Warrmth was the first Chinese supplier to hold the SITAC safety
            certificate, which all our bio-ethanol (gel) fireplaces hold. What’s more, we have passed more than 10 years
            without receiving a single quality complaint.</p>
        <p>The in-house manufacturing capability for wooden mantelpieces is 400 per day, and guaranteed to be produced
            to both required quality and delivery time.</p>
        <p>Being a company which is small, dynamic and by treating clients with a detailed, tailored service we always
            aim to meet requirements and expectations.</p>
        <p>In order to maintain the highest ideals, all products comply with recognized international standards and are
            inspected at each production stage - a process that secures our success and growth. The company has worked
            for and holds numerous quality certificates and operates with a history of very low rejects which keeps our
            manufacturing costs low.</p>
        <p>Building on our past success Warrmth is now successfully competing throughout Europe and North America and is
            looking for like-minded clients to work with to develop strong partnerships.</p>
        <p>We look forward to your inquiry and the start of a long-term, mutually beneficial relationship.</p>
        <p><i>"Our Warrmth penetrates our clients, reaching into their customers’ homes"</i></p>
        <div class="row">
            <div class="profile-img col-md-6 col-xs-12">
                <img src="{% static "client/sanyan/images/Profile_img_02.jpg"%}" >
            </div>
            <div class="profile-img col-md-6 col-xs-12">
                <img src="{% static "client/sanyan/images/Profile_img_03.jpg"%}" >
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}