.main h1{font-size: 20px;line-height: 26px; padding: 24px 0 18px 0; width: 100%; color: #f7931d;}
/*购物车详情页*/
.carts-main,.carts-sidbar{width:100%; display: inline-block; border:1px solid #ddd;}
.carts-main{padding:25px 20px;margin-bottom: 100px;}
.carts-item,.carts-title{width:100%; display: inline-block;float:left;border-bottom: 1px solid #ddd;}
.carts-goods-price,.carts-goods-pricet,.carts-goods-sub,.carts-goods-name,.carts-goods-move,.carts-goods-pricet,.carts-goods-subt{float:left;text-align:left;}
.carts-goods-img,.carts-goods-qty{ float:left; text-align: center;}
.check-out .carts-goods-sub,.check-out .carts-goods-subt{ text-align: center;}
.carts-goods-img img{width:100%;}
.carts-goods-name a{color:#666; font-size: 14px;}
.carts-goods-name a:hover{color:#f7931d;text-decoration: none;}
.carts-goods-name div{color:#f7931d; font-size: 12px;}
.carts-list .carts-goods-name p{font-size: 12px;}
.carts-list .carts-goods-name p,.carts-list .carts-goods-sub{color:#f7931d;}
.carts-list{float:left}
.cartmoveico{cursor: pointer; color:#e13b3f;padding:10px;}
.carts-sidbar{background:#fbfbfb;}
.carts-sidbar h4{line-height: 35px; padding-bottom:5px;padding-left:25px; background:#f5f5f5;}
.carts-subtotal{height:66px;padding:18px 10px 0 10px;line-height: 48px;margin:0px 20px 0 20px; border-bottom:1px solid #ccc;}
.carts-grandtotal{height:54px;padding:0px 10px 0 10px;margin:0px 20px 0 20px;line-height:54px; font-size: 18px; }
.carts-subtotal span:first-child,.carts-grandtotal span:first-child{float:left;}
.carts-subtotal span:nth-child(2),.carts-grandtotal span:nth-child(2){float:right;color:#f7931d;}
.carts-checkout{margin:16px 20px 30px 20px; text-align: center;}
.carts-checkout a{width:100%; padding:9px 0; display: block; background: #f7931d;border:1px solid #f7931d; color:#fff;font-size: 16px;}
.carts-checkout a:hover{ text-decoration: none;color:#666;border:1px solid #ccc; background: #fff;}
.carts-end{width:100%; display: inline-block;float:left;height:36px; margin:28px 0 22px 0;}
.carts-end div a{padding:6px 18px; border:1px solid #ccc;margin-left:15px;display: block;color:#666;}
.carts-end div a:hover{background: #f7931d; color:#fff; border:1px solid #f7931d; text-decoration: none;}
.carts-end div:first-child{float:left;}
.carts-end div:nth-child(2),.carts-end div:nth-child(3){float:right;}
/*加减数量组件*/
.quy-item{ line-height:28px;display: inline-block;}
.quy-item input{max-width:38px;padding:0 6px; text-align: center; border:1px solid #ababab;float:left; border-radius:0; }
.quy-item a{background: #f4f4f4;color:#666; font-weight: bold;cursor: pointer; font-size: 16px; display: block;}
.quy-item a:hover{color:#f7931d; text-decoration: none;}
.decrease{padding:0 11px; border:1px solid #ababab; border-right:none;float:left;}
.increase{padding:0 11px; border:1px solid #ababab; border-left:none;float:left;}
/*check out*/
.check-out h2{font-size: 14px; color:#333; line-height: 28px; padding-bottom:8px; border-bottom: #ccc solid 1px; margin-bottom:15px;}
.check-out .carts-sidbar,.check-out .carts-main{border:none;padding:0; background: #fff;}
.check-new-address p{float:left;text-align: left;color:#ff0000;line-height:18px;padding:12px 0 0 0}
.check-new-address label{margin-top:10px;}
.check-address-submit{font-size: 14px;float: right; line-height:38px;margin-top:15px;}
.check-address-submit button{color:#fff;padding: 0 17px;background: #f7931d;border:1px solid #f7931d; display: block;}
.check-address-submit button:hover{color:#666;border:1px solid #ccc; background: #fff;}
.check-address{position:relative;}
.check-new-address{width:100%; display: inline-block; padding-bottom:60px;}
.check-choice-address{font-size:13px; color:#666;line-height: 24px;padding: 8px 10px;border: 1px solid #ccc;float: left; display: block; width:100%;position:relative; z-index: 1;}
.check-choice-address:hover{ color:#666; text-decoration: none;}
.check-choice-address span:nth-child(1){float:left;}
.check-choice-address span:nth-child(2){float:right; margin-top:10px;}
.check-address-list{display:none;width:100%;padding:0 0px 15px 0px;font-size: 13px; line-height: 26px; border: 1px solid #ccc; border-top:none;position:absolute;z-index:2; top:40px; background: #fff;}
.check-address-list a{ color:#666;width:100%; height:26px; display: block;padding:0 10px;}
.check-address-list a:hover{color:#f7931d; text-decoration: none;}
.check-pay{width:100%; margin-top:46px; float:left;}
.check-fee-item,{font-size: 16px;}
.check-fee-item a{height:24px;padding:3px 20px 2px 10px;color:#666; }
.check-fee-item a:hover{color:#666;text-decoration: none;}
.check-fee-item span{height:24px;padding:3px 0 2px 0;color:#f7931d;font-size: 16px;}
.check-pay-item img{height:24px;margin:0 0 0 10px;}
.check-pay-item{ font-size: 16px; padding:6px 0 10px 0;}
.check-pay-count{ line-height: 66px; margin-top:12px; border-top:1px solid #ccc; font-size:16px;}
.check-pay-count span{color:#f7931d;font-size:18px;}
.check-pay-count span:first-child{margin-left:52px;}
.check-pay-count a{line-height:40px;color: #fff;text-decoration: none;padding: 0 18px;background: #f7931d;border: 1px solid #f7931d;display:inline-block;}
.check-pay-count a:hover{text-decoration: none;color:#666;border:1px solid #ccc; background: #fff;}
/*myorder*/
.order h2,.wish-list h2{font-size:20px;line-height: 26px; padding: 24px 0 18px 0;}
.order-sidbar h2{color:#666; font-size: 18px;line-height: 26px; padding: 24px 0 18px 0;}
.order-main h2{color:#f7931d;}
.order-sidbar li{font-size: 14px; line-height: 37px; border-bottom: 1px solid #efefef;}
.order-sidbar li a{color:#666; display: block; position:relative;padding-left:15px;}
.order-sidbar li a span{font-size:8px;padding-right:5px; position: absolute;top:15px;left:0;}
.order-sidbar li a:hover{ text-decoration: none;color:#f7931d}
.order-title,.order-item{width:100%; display: inline-block;float:left;}
.order-title{ background: #f7f7f7; border-left:1px solid #efefef;}
.order-title li,.order-item li{float:left; text-align: center; line-height: 54px;height:54px;border-bottom:1px solid #efefef; border-right:1px solid #efefef;display: block;}
.order-item li{font-size:13px;}
.order-item li:nth-child(5) a{padding:5px 10px; background: #f7931d;color:#fff;border:1px solid #f7931d;-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.order-item li:nth-child(5) a:hover{color:#666; text-decoration: none;background: #fff;border:1px solid #ccc;-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.order-item li:nth-child(6) a:hover,.order-item li:nth-child(6) a{color:#f7931d; text-decoration: none;}
.order-item{border-left:1px solid #efefef;}
.order-pages{width: 100%;display: inline-block;float: left;text-align: center;margin:80px 0;}
.order-pages a{border:1px solid #ccc;padding:2px 7px;margin-right:2px;color:#666;}
.order-pages a:hover{color:#fff; background:#f7931d;border:1px solid #f7931d; text-decoration: none;}
.order-pages span{color:#fff; background:#f7931d;padding:2px 7px; border:1px solid #f7931d;}
.order-pages .next,.order-pages .next:hover{ background: url("../images/ico/pages-next.jpg") no-repeat;margin-left: 4px;}
.order-pages .prev,.order-pages .prev:hover{ background: url("../images/ico/pages-prev.jpg") no-repeat;margin-right: 4px;}
.order-pages .next,.order-pages .prev{padding:2px 11px;}
/*order view*/
.order-view .carts-main{border-left:none; border-right: none; border-bottom: none;padding: 12px 0px; margin-bottom:0;}
.order-view h2{font-size:20px;line-height: 26px; padding: 24px 0 6px 0;color:#f7931d;}
.order-info{width:100%; display: inline-block;}
.order-info a{color:#f7931d;}
.order-info h3{line-height: 36px; font-weight: bold;color:#333333; font-size: 14px;padding-top:12px;width:100%; display: inline-block;}
.order-info li{ list-style-type: none; width:100%; float:left; line-height: 26px; font-size: 13px;}
.order-info ul{width:100%; display: inline-block;}
.order-view .carts-end{float:none;margin: 0px 0 50px 0; height: auto;}
.carts-end h3{text-align: right; line-height: 64px; font-size: 24px;}
.carts-end h4{text-align: right; line-height: 38px; font-size: 14px;}
.carts-end h3 span:nth-child(1),.carts-end h4 span:nth-child(1){}
.carts-end h3 span:nth-child(2),.carts-end h4 span:nth-child(2){width:104px;display: inline-block;}
/*wish list*/
.wish-list h2{color:#f7931d;}
.wish-list-update{float:right !important;}
.wish-list .order-pages{margin:50px 0 40px 0;}
/*Add New Address*/
.add-address-border{ border-top:#f7931d solid 3px;box-shadow: 0 1px 2px #ddd;display: inline-block;margin-bottom:60px;}
.add-address-main{padding:30px 50px!important;}
.add-address-border .check-address-submit{float:left;}
.add-address-border .check-address-submit a{padding: 0 30px;}
.address-main{width:100%; display: inline-block;padding-bottom:90px; padding-left:10px;}
.address-main h3 {font-size: 20px; line-height: 26px; padding: 24px 0 40px 0;width: 100%;display: inline-block;}
.address-main h3 span{float:left;}
.address-main h3 a{float:right; color:#fff; font-size: 16px; background: #f7931d ;padding:6px 27px;border:1px solid #f7931d;}
.default{border:2px solid #f7931d !important;margin-bottom:16px !important;}
.address-item ul{padding:15px 35px 8px 35px;border:1px solid #efefef;margin-bottom:18px;}
.address-item{ float:left;}
.address-item li{width:100%; display: inline-block;}
.address-item:nth-child(odd){padding-left:0 !important;padding-right:0px !important;}
.address-item:nth-child(even){padding-left:0px !important;padding-right:0px !important;}
.address-item:nth-child(odd) ul{width: 98%;margin-left: 1.8%;}
.address-item:nth-child(even) ul{width: 98%;margin-right:1.8%;}
.address-item a{font-size: 12px; color:#fff; background:#f7931d;border:1px solid #f7931d; padding:2px 17px;margin-left:10px; float:right;}
.address-item a:hover,.address-main h3 a:hover{text-decoration: none;color:#666;border:1px solid #ccc; background: #fff;}
/*user info*/
.edit-account{padding: 30px 50px;}
.edit-account p{padding:9px 0 9px 30px; line-height: 22px;margin-bottom:0;}
.check-box{display: inline-block;float: left;width: 100%;padding:20px 0 0 0; line-height: 18px; font-size: 13px;}
.check-box input{top: 2px;position: relative;}
.check-box span{padding-left:10px;}
.change-password{display: none;}
.edit-account .check-address-submit{margin-top:30px;}


@media (min-width:1200px) {
    .order-title li:nth-child(1),.order-item li:nth-child(1),.order-title li:nth-child(4),.order-item li:nth-child(4){width:17%;}
    .order-title li:nth-child(2),.order-item li:nth-child(2),.order-title li:nth-child(6),.order-item li:nth-child(6){width:12%;}
	.order-title li:nth-child(5),.order-item li:nth-child(5){width:20%;}
    .order-title li:nth-child(3),.order-item li:nth-child(3){width:22%;}
    .carts-goods-price,.carts-goods-pricet,.carts-goods-sub,.carts-goods-subt,.carts-goods-name{padding-left:20px;}
    .carts-goods-name{width:294px;padding-right:30px;}
    .check-out .carts-goods-name{width:290px;padding-right:15px;}
    .check-out .carts-goods-qty { width: 158px;padding-left:10px;}
    .check-out .carts-goods-sub, .check-out .carts-goods-subt{padding-left:0px;}
    .check-out .carts-goods-img{width:100px;padding-left:10px;}
    .order-view .carts-goods-name{width:370px;}
    .order-view .carts-goods-qty{ width: 170px;}
    .order-view .carts-goods-price,.order-view .carts-goods-pricet{ width: 120px;}
    .wish-list .carts-goods-name{width:430px;}
    .wish-list .carts-goods-price,.wish-list .carts-goods-pricet{width:240px;}
    .wish-list .carts-goods-move{width: 68px;}
    .carts-goods-img{width:90px;}
    .carts-goods-price,.carts-goods-pricet{width:100px;}
    .carts-goods-qty{width:158px;}
    .carts-goods-sub,.carts-goods-subt{width:120px;}
    .carts-goods-move{width:46px;}
    .carts-item{padding:30px 0;}
    .carts-title div{height:50px; line-height: 50px;}
    .carts-goods-name{line-height:22px;height:90px; overflow: hidden;}
    .carts-goods-name div{max-height:66px;overflow: hidden;}
}

@media (max-width:1200px) {
   .order-title{display: none;}
   .order-list ul{ border:1px solid #efefef;border-top:none;padding:10px; font-size: 13px;}
   .order-list ul:nth-child(1){border-top:1px solid #efefef;}
   .order-list li{width:100%; border:none; line-height:28px; height:28px;}
    .order-item li:nth-child(5) a { padding: 3px 10px;}

}

@media (max-width:1199px) and (min-width:992px) {
    .col-xy-8{width:70% !important;}
    .col-xy-4{width:30% !important;}
    .carts-goods-price,.carts-goods-pricet,.carts-goods-sub,.carts-goods-subt,.carts-goods-name{padding-left:15px;}
    .carts-goods-name{width:190px;padding-right:15px;}
    .carts-goods-img{width:90px;}
    .carts-goods-price,.carts-goods-pricet{width:90px;}
    .carts-goods-qty{width:114px;}
    .carts-goods-sub,.carts-goods-subt{width:100px;}
    .carts-goods-move{width:36px;}
    .carts-item{padding:30px 0;}
    .carts-title div{height:50px; line-height: 50px;}
    .order-view .carts-goods-name{width:280px;}
    .order-view .carts-goods-qty{ width: 150px;}
    .order-view .carts-goods-price,.order-view .carts-goods-pricet{ width: 100px;}
    .wish-list .carts-goods-name{width:360px;}
    .wish-list .carts-goods-price,.wish-list .carts-goods-pricet{width:158px;}
    .wish-list .carts-goods-move{width:70px;}
    .check-out .carts-goods-name{width:276px;}
}
@media (max-width:1170px) and (min-width:992px){
    .carts-grandtotal,.carts-subtotal{margin: 0px 20px 0 20px;padding:0;}
    .carts-checkout {margin: 6px 15px 25px 15px;}
    .carts-sidbar h4{padding-left:15px;}
}

@media (min-width:992px) {

}

@media (max-width:991px){
    .check-new-address p {padding: 12px 0 0 0 !important;}
    .edit-account {padding: 30px 32px; }
    .edit-account p { padding: 9px 0;}
    .address-main{padding-bottom:40px;}
    .address-item:nth-child(odd) ul, .address-item:nth-child(even) ul{width: 100%;margin-left:0%;}
    .carts-goods-price,.carts-goods-pricet,.carts-goods-sub,.carts-goods-subt,.carts-goods-name{padding-left:10px;}
    .carts-goods-name{width:32%;padding-right:10px;}
    .carts-goods-img{width:12%;}
    .carts-goods-price,.carts-goods-pricet{width:15%;}
    .carts-goods-qty{width:19%;}
    .carts-goods-sub,.carts-goods-subt{width:15%;}
    .carts-goods-move{width:7%;}
    .carts-item{padding:30px 0;}
    .carts-title div{height:50px; line-height: 50px;}
    .carts-main{margin-bottom:20px;}
    .carts-sidbar h4{ line-height: 40px; padding-bottom:0;}
    .order-view .carts-goods-name{width:39%;}
    .wish-list .carts-goods-name{width:52%;}
    .wish-list .carts-goods-price,.wish-list .carts-goods-pricet{width:26%;}
    .wish-list .carts-goods-move{width:10%;}
    .check-out .carts-goods-name{width:39%;}
}
@media (max-width:991px) and (min-width:769px) {

}
}
@media (max-width:767px) and (min-width:660px){

}

@media (min-width:769px) {

}

@media (max-width:768px) {
    .col-xy-12{width:100% !important;}
   .carts-main{padding:0 20px 20px 20px;}
   .carts-item{position:relative; line-height: 22px;}
   .carts-title{display:none;}
   .carts-goods-img,.carts-goods-price,.carts-goods-price,.carts-goods-sub,.carts-goods-subt,.carts-goods-qty,.carts-goods-name{width:100% !important; text-align: center;}
   .carts-goods-img img{width:100px;}
    .carts-goods-name{padding-top:15px;}
   .carts-goods-price{padding-bottom:16px;}
   .carts-goods-sub,.carts-goods-subt{padding-top:10px;}
   .carts-goods-move{position:absolute;z-index:2;top:20px; right:15px;}
    .carts-end{height:auto;}
    .carts-end div a {width:100%;padding: 5px 0px;margin-left:0px;}
    .carts-end div{width:100%;text-align: center;margin-bottom:10px;}
    .carts-end h3{line-height: 40px;}
    .carts-end h4{ line-height: 30px;}
}

@media (max-width:659px){

}

@media (max-width:560px) {
    .carts-end h3{font-size: 18px;}
}
@media (max-width:480px) {
    .address-item ul{padding:15px 18px 8px 18px}
    .address-item a {padding: 3px 10px;}
    .address-main h3 a {font-size: 14px;padding: 3px 12px;}
	
}

@media (max-width:400px) {
    .spec-scroll .items{height:75px;}
}