@font-face {
    font-family: opensan;  /*名称自定义*/
    src: url("../fonts/opensan.ttf")   /*字体文件上传放进网站对应目录*/
}
body {font-family: opensan, Arial, Helvetica;font-size: 14px;line-height: 24px;color: #666;overflow-x:hidden;}
a:hover,a,a:focus{text-decoration: none;cursor: pointer;}
*{margin:0; padding:0;outline: none !important;}
label i{color:#ff0000;}
label{margin-bottom: 0!important;}
li, ul{ list-style-type:none;}
.color{color:#f7931d !important;}
.none{display: none;}
input[type="text"],textarea{ -webkit-appearance: none;}
button{border-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0; border-top-left-radius:0; border-top-right-radius:0;-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
button:hover{border-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0; border-top-left-radius:0; border-top-right-radius:0;-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.delay,.delay:hover{-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.ico-down{width:10px; height:10px; background: url("../images/ico/down.jpg"); display: inline-block;}
/*top*/
.menu-phone{display: none;}
.top{height:36px; width:100%; background: #f7f7f7; line-height:18px; padding:9px 0;font-size: 12px;}
.top-language{position: relative;float:left; display: none;}
.top-language li a{ display: block; text-transform: uppercase; color:#666; text-align:left;line-height:24px}
.top-language ul ul li img{height:24px;padding: 3px 10px 5px 0; }
.top-language li img{height:18px;padding: 0px 10px 2px 0; }
/*.top-language ul li:hover > ul {display: inline-block;}*/
.top-language ul ul {width:102px; z-index:9; display:none; border-radius:0;position: absolute;left:0; top:15px;padding-top:6px;}
.top-language ul ul li {float: left;  position: relative;line-height:24px;}
.top-link{float:right;}
.top-link li{float:left;padding:0 15px; color:#666; text-transform:uppercase;border-left:1px solid #ccc;}
.top-link li a{color:#f7931d}
.top-link li:last-child{padding-right:0;}
.top-link li:first-child{border-left:none;}

/*middle*/
.top-middle{width: 100%;background: #fff;display: inline-block;}
.top-search{width:35%;position: relative;margin-top:30px; float:left;}
.top-search input{width:200px;height:35px; padding:10px 16px; line-height: 16px; border:1px solid #ddd;border-radius:0; }
.top-search button{position: absolute;left: 200px;top:0;height: 35px;width:35px;border:1px #ddd solid;border-left:none;}
.top-logo{width:30%;float:left; text-align: center;}
.top-logo img{height:100px;}
.top-middle-right{width:35%; float:right;font-size: 14px; text-align: right; line-height:50px;padding-top:30px;}
.top-phone{ display: inline-block;}
.top-cart{ display: inline-block;}
.top-cart-num{width:41px; height:41px; display: block; text-align:center; background: url(../images/ico/cart-top.png);color:#fff;}
.top-cart-num a{padding:20px;}
.top-phone span:first-child{font-size: 12px;padding-right:8px;}
/*menu*/
.menu{width: 100%;display: inline-block;}
.menu ul{position:relative;}
.menu ul li{float:left;line-height:46px;text-transform: uppercase}
.menu ul li a{color:#666;padding:8px 30px 8px 0;}
.menu ul li a:hover{color:#f7931d; text-decoration:none;}
.menu ul li:hover > ul{display:table;}
.menu ul ul {z-index:9; display:none; border-radius:0;background: #fff;position: absolute;top:40px;padding:15px;border-top:4px solid #f7931d;box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);}
.menu ul ul li {float: left;  position: relative;line-height:24px;padding:0; display: inline-block;width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.menu ul ul li a{padding-left: 20px;}
.menu ul ul li a:hover{color:#f7931d;text-decoration: underline;}

/*footer*/
.footer{width:100%; background: #f7f7f7;padding:34px 0 42px 0;display: inline-block; font-size: 13px;}
.footer-item{width:25%;float:left}
.footer-letter{margin-left:25%;}
.footer-item h5{font-size: 16px; color:#f7931d; line-height: 50px;}
.footer-item ul li i{width:18px;height:23px;margin-right:3px; }
.footer-item li{line-height:22px;padding:4px 0;}
.list-allow-left{padding:8px 7px; background: url(../images/ico/list-arrow-left.jpg);}
.footer li{line-height:22px;padding:4px 0 0 0; color:#444;}
.footer li a{color:#444;}
.footer li a:hover{color:#f7931d}
.footer-ico-empty{padding-left:20px !important;line-height:24px !important;padding-top:0px !important;padding-bottom:8px !important;color:#666 !important;}
.footer-letter label{font-weight: normal; line-height: 48px; padding-top:15px;}
.footer-form{width:100%;position: relative;}
.footer-form input{width:70%;height:35px; padding:10px 16px; line-height: 16px;border:1px solid #ddd;border-top-right-radius: 0;border-bottom-right-radius: 0;}
.footer-form button{font-size:14px;position: absolute;left:70%;top:0;height: 35px;color:#fff; background:#f7931d;width:30%;border:1px solid #f7931d;border-left:none;}
.footer-form button:hover{color:#666; background:#fff;border:1px solid #ddd;border-left:none;}
.copy{width:100%; display: inline-block; background: #fff;}
.copy p{width:41%;float:right; text-align:right; font-size:13px; line-height:72px;padding-bottom:3px;}
.copy-media{width:23%; float:left; display: inline-block;}
.copy-pay{width:36%; float:left; display: inline-block; padding:22px 0 25px 0;}
.copy-pay img{height:28px; margin-left:12px;}
.copy p a{color:#f7931d;}
.copy-media a:first-child{padding:0;margin: 0;}
.copy-media a:first-child img{height:72px;padding-right:40px;padding-top:3px;}
.copy-media a:nth-child(2),.artical-media a:nth-child(1){ background:#9e9e9e;}
.copy-media a:nth-child(2):hover,.artical-media a:nth-child(1):hover{ background:#3c599b;}
.copy-media a:nth-child(3),.artical-media a:nth-child(2){ background:#9e9e9e;}
.copy-media a:nth-child(3):hover,.artical-media a:nth-child(2):hover{ background:#1ca8e3;}
.copy-media a:nth-child(4),.artical-media a:nth-child(3){ background:#9e9e9e;}
.copy-media a:nth-child(4):hover,.artical-media a:nth-child(3):hover{ background:#4975b6;}
.copy-media a{ display: inline-block;float:left;margin:21px 4px; cursor: pointer;border-radius: 50%;-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.copy-media a{-webkit-transition:0.4s; -moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
/*login register*/
.login-left{width:50%;float:left;padding-right:50px; position: relative; height:360px;z-index:1;}
.login-left div a{position:absolute;bottom:7px;right:56px;font-size: 14px;padding:7px 18px; background: #f7931d;color:#fff;border:1px solid #f7931d;}
.login-left div a:hover{color:#666;border:1px solid #ccc; background: #fff;}
.login-right{width:50%;float:left;}
.login h2,.register h2,.forget h2,.reset-password h2{font-size: 18px; line-height:26px;padding:12px 0;}
.login h1,.register h1,.forget h1,.reset-password h1{font-size: 20px; line-height: 26px;padding:24px 0 18px 0;width:100%;color:#f7931d;}
.login p{font-size: 13px; line-height: 24px;}
.login-right p{margin-bottom:6px;}
.login-main,.register-main,.forget-main,.reset-password-main{border-top:3px solid #f7931d;padding:25px 32px 38px 32px;box-shadow: 0 1px 2px #ddd; display: inline-block;width:100%;margin-bottom:76px;}
.login-right label{line-height: 36px; padding-top:6px; font-size: 14px;width:100%;}
.login i,.forget i,.reset-password i,.register i,.check-out i{color:#ff0000;}
.login-right input{line-height: 24px; padding:7px 10px; border:1px solid #ccc;width:100%;}
.login-right span{color:#ff0000; line-height:24px;padding:13px 0; margin-bottom:20px; text-align: right; width:100%;display: inline-block; min-height: 44px;}
.login-submit{width:100%; display: inline-block; line-height:38px;}
.login-submit a{color:#f7931d;font-size: 13px;float:left;}
.login-submit button{font-size: 14px; color:#fff; float:right; background: #f7931d; border:none;width:66px;line-height: 38px;border:1px solid #f7931d;}
.login-submit button:hover{color:#666;border:1px solid #ccc; background: #fff;}
.forget-item input,.reset-password input,.register-item input{line-height: 24px; padding:7px 10px; border:1px solid #ccc;width:100%;float:left;}
.register-item div, .forget-item div, .reset-password-item div,.login-right div{padding-left:0 !important;padding-right:0 !important;}
.register p,.forget p,.reset-password p{float:left;text-align: left;color:#ff0000;line-height:18px;padding:12px 0 10px 30px !important;font-size: 13px;}
.forget-item label,.reset-password-item label,.register-item label{line-height: 36px; padding-top:4px; font-size: 14px;width:100%;}
.register-item,.forget-item,.reset-password-item{ display: inline-block; float: left;width:100%;}
.register-submit,.forget-submit,.reset-password-submit{width:50%; float:left;margin-top:40px;padding-bottom:15px; line-height: 38px;}
.register-submit a,.forget-submit a,.reset-password-submit a,.register-submit a:hover,.forget-submit a:hover,.reset-password-submit a:hover{color:#f7931d;font-size: 13px;float:left;}
.register-submit button,.forget-submit button,.reset-password-submit button{font-size: 14px; color:#fff; float:right; background: #f7931d;padding:0 18px;border:1px solid #f7931d;}
.register-submit button:hover,.forget-submit button:hover,.reset-password-submit button:hover{color:#666;border:1px solid #ccc; background: #fff;}
.forget h3,.reset-password h3{font-size:13px; width:100%; line-height:24px; padding:12px 0 25px 0;}
.forget-main,.reset-password-mian{padding-bottom:48px;}
/*jump*/
.payment-jump h3 img{width: 18px;padding-bottom: 3px;margin-left: 3px;}
/*Home*/
.home{padding-top:24px;}
.sliders{width:100%;}
.sliders img{width:100%;}
.home h1,.products h1{color:#666666; font-size:18px; line-height: 30px; padding-top:25px;}
.home-products-main div img,.products-main div img{ width:100%;}
.home-products-main h2,.products-main h2{ font-size: 14px; text-align: center; line-height: 18px; margin-top:14px; height:36px; overflow: hidden;}
.home-products-main h2 a,.products-main h2 a{color:#666; text-decoration: none;}
.home-products-main h2 a:hover,.products-main h2 a:hover{color:#f7931d;}
.home-products-main p,.products-main p{ font-size:20px; color:#333; text-align: center; line-height: 36px;margin-bottom:34px;}
.home-products-main p:hover,.products-main p:hover{color:#f7931d;}
.home-product-des,.products-des{padding-bottom:15px; font-size: 14px;}

/*home about*/
.home-about a{float:left;}
.home-about img{width:100%;}
.pinte{float:left;}

/*home 优势*/
.home-adv div{width:33.333%;float:left;}
.home-adv{margin-bottom:45px;}
.home-adv img{width:100%;}
.home-adv h4{line-height: 30px; padding:13px 0; margin-top:24px; text-align: center; font-size:18px;}
/*面包屑*/
.crumb{width:100%; background: #f7f7f7;line-height: 40px;}
.crumb a:hover{color:#f7931d; text-decoration: none}
.crumb a{font-size: 12px; color:#666; padding:0 3px;}
.crumb a:first-child{padding-left:0;}
/*产品详情页*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block; width:100%;}
.jqzoom img{ width:100%;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.spec-preview{border:1px solid #DFDFDF; float:left;}
.spec-scroll{clear:both;width:100%; float:left;}
.spec-scroll .items{float:left;position:relative;width:100%;height:110px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width100%;}/*width:999999px;*/
.spec-scroll .items ul li{float:left;width:80px;margin:12px 20px 12px 0; cursor: pointer;}
.spec-scroll .items ul li img{border:1px solid #CCC;width:100%;}
.spec-scroll .items ul li img:hover{border:1px solid #f7931d;}
/*产品详细描述*/
.detail{width:1170px; margin:40px auto;}
.detail-main{width:500px; float:left;padding-top:6px;}
.detail-attr{width:670px; float:left; padding-left:40px;}
.detail-attr h1{ line-height:28px; font-size:20px; color:#666; padding-bottom:15px;padding-top:2px;}
.detail-attr-des{font-size:12px; color:#999999; line-height:18px; height:60px;margin-bottom:20px;border-bottom:1px solid #ddd; overflow: hidden;}
.detail-price span:nth-child(2){font-size:30px; color:#ff0000;}
.detail-price span:nth-child(1){font-size:18px; color:#999999; text-decoration: line-through;padding-right:15px;}
.detail-price{margin-bottom:20px;}
.detail-color{width:100%; padding-bottom:20px; }
.detail-attr-discount{ line-height:22px; font-size:12px;color:#f7931d; padding-bottom:8px;}
.detail-attr-lable{ line-height:48px; width:100%; font-size:12px; color:#666666; text-transform:uppercase;}
.detail-attr ul{width:100%; display:inline-block;}
.detail-attr li{float:left;margin-right:10px; line-height: 30px; font-size: 16px; display: inline-block;}
.detail-attr li img{width:100%; border:1px #fff solid; cursor:pointer;}
.cart-move{display:none;position: absolute;z-index: 999;}
.detail-quality{padding-top:24px;border-top:1px solid #ddd;}
.detail-quality .detail-add-btn{ font-size:16px;text-transform: capitalize;padding:10px 37px;border:1px solid #f7931d; line-height:30px; margin-right:20px; color:#fff; background: #f7931d;font-size: 16px;}
.detail-quality a:hover{text-decoration: none; cursor: pointer;}
.detail-heart{vertical-align: top;line-height: 28px !important;border: 1px solid #ed4949;color:#ed4949;padding: 2px 7px 0 7px; font-size:16px;}
.detail-heart:hover,.detail-heart:focus,.detail-heart-click{color:#fff;border: 1px solid #ed4949;background:#ed4949;}
.detail-quality .small-quality{margin-right:25px;height:40px;width:60px; border:1px solid #ddd;padding-left:10px; font-size: 18px; color:#f7931d;}
.detail-quality .detail-add-btn:hover{color:#fff;text-decoration: none;border:1px solid #ed4949; background: #ed4949;}
.detail-quality p{font-size: 12px; color:#ff0000; width:100%; line-height: 20px; padding:20px 0; margin:0; border-bottom:1px solid #ddd;}
.detail-attr-social{width:100%;display:inline-block;}
.detail-des{ display: inline-block; border-left:1px solid #ddd; border-bottom:1px solid #ddd;}
.detail-des-main{padding:30px;margin-top:35px; border-right:1px solid #ddd;}
..detail-des-main h2, .detail-des-main h3,.detail-des-main h4,.detail-des-main h5,.detail-des-main h6{line-height: 40px;font-size: 18px;color: #000;}
.detail-des-title{width:114px;color:#f7931d; font-size: 14px; height:36px;line-height: 33px; text-align: center;border-top:2px solid #f7931d; border-right:1px solid #ddd;float:left;}
.detail-des-line{width:1054px;height: 36px;border-bottom:1px solid #ddd;float:left;}
.redborder img{border-color:#ff0000 !important;}
.imycart-modal{box-shadow: 0 3px 10px rgba(200,200,200,.5) !important;border: 1px solid rgba(200,200,200,.3) !important;border-top: 3px solid #f7931d !important;}
.imycart-modal,.modal-footer .btn{ background: #f7931d; border-color:#f7931d; color:#fff;}
.imycart-modal,.modal-footer .btn:hover,.imycart-modal,.modal-footer .btn:focus{color:#666;border:1px solid #ccc; background: #fff;}
/*artical list*/
.artical{padding-top:30px;}
.artical-sidbar{padding-left:35px !important;}
.artical-sidbar h3{color:#333; font-size: 16px; line-height: 20px;padding-bottom:20px;}
.artical-sidbar div a{background: #9e9e9e;display: inline-block; float: left;margin-right: 8px;cursor: pointer; border-radius: 50%;}
.artical-list img{width:100%;}
.artical-list h2{font-size:20px;color:#f7931d; line-height: 24px; padding:18px 0 8px 0;}
.artical-list h2 a{color:#f7931d;}
.artical-item{width:100%; float:left;}
.artical-list-date{color:#f7931d;font-size: 13px;padding-bottom:20px;}
.artical-pages{width: 100%;display: inline-block;float: left;text-align: center;margin:80px 0;}
.artical-pages a{border:1px solid #ccc;padding:2px 7px;margin-right:2px;color:#666;}
.artical-pages a:hover{color:#fff; background:#f7931d;border:1px solid #f7931d; text-decoration: none;}
.artical-pages span{color:#fff; background:#f7931d;padding:2px 7px; border:1px solid #f7931d;}
.artical-pages .next,.artical-pages .next:hover{background: url("../images/ico/pages-next.jpg") no-repeat;margin-left:4px;}
.artical-pages .prev,.artical-pages .prev:hover{ background: url("../images/ico/pages-prev.jpg") no-repeat;margin-right:4px;}
.artical-pages .next,.artical-pages .prev{padding:2px 11px;}
.products-main .artical-pages{margin:20px 0 80px 0;}
/*artical 详情*/
.artical-content{padding-bottom:80px;}
.artical-content p{margin-bottom:15px;}
.artical-content h1{font-size: 20px;color:#f7931d;padding:20px 0 10px 0; line-height: 26px;}
.artical-date{font-size: 13px;padding-bottom:10px;}
.artical-date span:nth-child(1){padding-right:24px;}
.artical-content img{max-width:100%; margin-bottom:10px;}
/*single*/
.single-main{min-height: 300px;}
.single-main img{max-width: 100%;}
.single-main h1{font-size: 20px;color:#f7931d;}
/*Contact*/
.contact h1,.contact h2{font-size: 20px;  line-height: 26px; padding: 24px 0 18px 0;color: #f7931d;}
.contact h2{margin-bottom:5px;}
.contact-info div{width:100%; line-height: 24px;font-size: 13px;}
.contact-info div:nth-child(odd){padding-top: 8px;font-weight: bold}
.contact-info div:nth-child(even){ padding-bottom: 8px;}
.contact-form{width:100%;}
.contact-form div div{width:100%;float: left;}
.contact-form div input{ line-height: 24px; padding: 7px 10px;border: 1px solid #ccc; width: 100%;}
.contact-form div button{color: #fff; padding: 0 17px;background: #f7931d;border: 1px solid #f7931d;display: block; line-height: 38px; margin-top: 24px; margin-bottom:90px;}
.contact-form div button:hover{color: #666;  border: 1px solid #ccc;background: #fff;}
.contact-form div label{line-height: 32px; padding-top: 18px;font-size: 14px;width: 100%;}
.contact-form div textarea{line-height: 24px; padding: 7px 10px;border: 1px solid #ccc; width: 100%; min-height: 280px;float:left;}
.contact-form div p{line-height: 30px; height:30px;margin-bottom: 0; color:#ff0000;}
.contact-form p span{ display: none;}

@media (max-width:1200px) {
    .copy-media{width:36%;}
    .copy-pay{width:64%;text-align: right;}
    .copy p{width:100%; text-align: center;}
    .detail {width: 970px;}
    .detail-attr { width: 470px;}
    .detail-des-line{width:854px;}
}
@media (max-width:1170px) {
    .pinte{ display: none;}
    .home-about a{width:100%;}
}

@media (max-width:1200px) and (min-width:769px) {
    .copy p {line-height: 24px; padding-bottom: 18px; }
    .detail-attr-des{height:72px;}
}
@media (max-width:992px){
    .artical-sidbar{display: none;}
    .detail {width:750px;}
    .detail-attr {width: 370px;padding-left:25px;}
    .detail-main {width: 380px;}
    .spec-scroll .items ul li{width:70px;margin: 12px 6px 12px 0;}
    .detail-des-line{width:635px;}
    .register p, .forget p, .reset-password p{padding: 12px 0 10px 0px !important;}
    .register-submit, .forget-submit, .reset-password-submit{width:100%;}
    .contact-form div textarea{min-height: 150px;}
    .contact-form div button{margin-top:50px;}
}

@media (max-width:992px) and (min-width:600px){
    .home-products-main div,.products-main div{width:25% !important;}

}
@media (min-width:769px) and (max-width:992px){
    .footer-letter{width:32%;margin-left: 18%;}
}
@media (min-width:660px) and (max-width:767px){
    .detail {width:100%;}
    .detail-attr {width:47%;padding-left:3%;}
    .detail-main {width: 50%;}
    .spec-scroll .items ul li{width:16%;margin: 12px 2%;}
}
@media (min-width:769px) {
    .menu-phone-ico,.login-creat{ display: none;}
    .menu-phone{ display: none !important;}
    .detail-des{margin-top:30px;}
    .menu-low li a {padding:6px 0 !important;}
    .menu-low li a:hover{text-decoration: none !important;}
    .menu ul ul li,.menu ul ul{max-width: 524px;}
}
@media (max-width:768px) {
    .col-xs-12{width:100% !important;}
    .detail-quality .detail-add-btn{padding:10px 18px;margin-right: 8px;}
    .detail-quality .small-quality{margin-right:8px;}
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .row{margin-right:-6px !important; margin-left:-6px !important;}
    .zoomdiv,.jqZoomPup{display: none !important;}
    .top-cart span{line-height: 40px;}
    .footer-letter,.footer-item{width:100%; margin-left:0;}
    .copy p,.copy-media,.copy-pay{width:100%; float: none;text-align: center;}
    .copy-media a:first-child{width:100%;}
    .copy-media a:first-child img {padding-right:0px;}
    .copy p{ line-height:20px;padding-bottom:20px;}
    .copy-media a{float:none;margin:4px; border-radius: 50%;}
    .copy-pay { padding:12px 0 16px 0;}
    .footer-form {width:55%;margin-right:45%;}
    .login-main, .register-main, .forget-main, .reset-password-main {padding: 20px 15px 35px 15px;}
    .login-creat{display: inline-block;width:100%;margin-bottom:40px;text-align: right;}
    .login-creat a{font-size: 14px;padding: 8px 18px;background: #f7931d;   color: #fff;}
    .login-creat a:hover{color:#666;border:1px solid #ccc; background: #fff;}
    .login-right span{margin-bottom:30px; line-height:20px;padding-top:10px;}
    .login p{padding-bottom:15px;}
    .login-left { width:100%;padding:0px;height: auto;position:unset;}
    .login-right {width: 100%;}
    .main{margin-top:116px;}
    .top{position: fixed; top:0;z-index: 999;}
    .top-middle{position: fixed;top:36px;z-index: 999;}
    .top-middle-right{padding-top:20px;}
    .top-logo img{height:80px;}
    .top-cart-num{width:35px; height:35px;background: url(../images/ico/cart-top2.png);}
    .menu{display: none;}
    .login-left div,.top-search,.top-phone{display: none;}
    .menu-phone-ico{width:35%; float:left;display: inline-block;    padding-top:22px; }
    .menu-phone-ico .icon-bar{background: #f7931d;height: 3px !important;}
    .menu-phone-ico .navbar-toggle{margin-top:2px;float: left;padding:10px 10px 9px 0px;}
    .top-language li a {float: left; line-height: 18px;}
    .top-language ul ul {position: inherit;float: left;padding-top:0; padding-left:10px;}
    .top-language ul ul li img {height: 18px; padding: 0 10px 2px 0;}
    .menu-phone{ overflow-y: hidden;position: fixed;top: 0; left: 0px; z-index: 99999; width: 250px; height: 100%;padding:20px 15px 20px 30px;background-color: #151515;}
    .wapper-move{ position: relative;left: 250px;}
    .wapper-rgb{display: none; width:100%; height:100%; position: fixed;top:0px; z-index: 9999;background: rgba(0,0,0,0.2); cursor: pointer;}
    .menu-phone li a{width:80%;float:left;color: #fff;line-height: 40px; font-size: 14px;text-transform: uppercase; display: block;}
    .menu-low-one,.menu-low-two,.menu-low-three{display: none;}
    .menu-low-one li a i { padding: 0 12px 0 0;}
    .menu-low-one li a{ font-size: 12px; text-transform:capitalize;white-space: nowrap;padding-left:20px;overflow: hidden;text-overflow: ellipsis;}
    .menu-phone li span{ float:right; line-height: 40px; padding:0 13px;cursor: pointer;width:20%; color:#fff;}
    .detail-des-line{width:75%;}
    .detail-des-title{width:25%;}
}
@media (max-width:659px){
    .detail {width:100%;}
    .detail-attr {width:100%;padding-left:10px; padding-right:10px;}
    .detail-main {width: 100%;padding-left:10px; padding-right:10px;}
    .spec-scroll .items ul li{width:16%;margin: 12px 2%;}
    .spec-scroll .items{height:130px;}
    .detail-des-main{padding:20px 15px;}
    .detail-des{margin-top:10px;}
    .top-link ul li{padding:0 12px;}
}
@media (max-width:767px) {
    .top-link ul li:first-child{display: none;}
    .top-link ul li:last-child{padding-right:2px;}
}
@media (max-width:560px) {
    .top-link ul li:nth-child(3){display: none;}
    .spec-scroll .items{height:116px;}
    .detail-des-line{width:65%;}
    .detail-des-title{width:35%;}
}
@media (max-width:500px) {
    .spec-scroll .items{height:100px;}
    .contact-form div button{margin-bottom:50px;}
}
@media (max-width:480px) {
    .spec-scroll .items{height:90px;}
    .home-about a{width:100%;}
    .home-adv div{width:100%;}
    .footer-form {width:78%;margin-right:22%;}
    .copy-pay img{margin-bottom:3px; margin-left:3px;}
    .artical-content{padding-bottom:40px;}
    .login-right span {text-align:left;}
    .detail{ margin: 20px auto;}
    .login-creat a {width: 100%;display: block;text-align: center;}
    .login-submit a {width: 100%;display: block;}
    .login-submit button{width:100%;}
    .register-submit button, .forget-submit button, .reset-password-submit button{width: 100%;display: block;}
    .register-submit a, .forget-submit a, .reset-password-submit a, .register-submit a:hover, .forget-submit a:hover, .reset-password-submit a:hover {
        width: 100%;}

}
@media (max-width:400px) {
    .spec-scroll .items{height:75px;}
}
@media (max-width:380px) {
    .top-language ul ul { width: 96px;}
    .top-language li img { padding: 0px 7px 2px 0 !important; }
    .top-link ul li { padding: 0 8px; }
}