{% extends "client/glass_en/base.html" %}
{% block breadcrumbs %}
<!--crumb-->
<div class="crumb">
    <div class="container">
        <a href="/">Home</a> > <a><span>{{article.title}}</span></a>
    </div>
</div>
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<!--crumb end-->
<div class="article">
    <div class="container">
        <h1>{{article.title}}</h1>
        <div>{{article.content|safe}}</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}