<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-list col-md-3">
                <ul>
                    <li>Profile</li>
                    <span></span>
                    <li><a href="/About-Us.html">About Us</a></li>
                    <li><a href="/contact-us.html">Contact Us</a></li>
                    <li><a href="/blog.html">News</a></li>
                </ul>
            </div>
            <div class="footer-list col-md-3">
                <ul>
                    <li><a href="/Products.html">Products</a></li>
                    <span></span>
                    <li><a href="/Silicon-Powder.html">Silicon Powder</a></li>
                    <li><a href="/Quartz-Sand.html">Quartz Sand</a></li>
                    <li><a href="/Calcium-Carbonate.html">Calcium Carbonate</a></li>
                    <li><a href="/Other-Minerals.html">Other Minerals</a></li>
                </ul>
            </div>
            <div class="footer-list col-md-3">
                <ul>
                    <li>Contact</li>
                    <span></span>
                    <li>Tel: {{system_para.office_phone}}</li>
                    <li>Fax: {{system_para.hot_line}}</li>
                    <li>Email: <a href="mailto:{{system_para.service_email}}">{{system_para.service_email}}</a></li>
                </ul>
            </div>
            <div class="footer-list col-md-3">
                <ul>
                    <li>News Letter</li>
                    <span></span>
                    <form id="inquiryForm" action="/inquiry/add/" method="POST" class="foot-form-horizontal ">
                        {% csrf_token %}
                        <input type="text" name="email" id="email" placeholder="Email">
                        <button type="button" id="inquiry-submit">Submit</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright ©<a href="#">glassmining.com</a> All Rights Reserved. Support by <a href="#">LinkEC</a></p>
    </div>
</div>
<!--footer end-->