{% extends "client/glass_en/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<!--slider-->
<div class="index-slider">
    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line"
         data-ride="carousel" data-pause="hover" data-interval="5000">
        <!-- Indicators -->
        <div class="carousel-inner" role="listbox" id="index-slider">

        </div>
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="index-slider-phone ">
    <div id="bootstrap-touch-slider2" class="carousel bs-slider slide  control-round indicators-line"
         data-ride="carousel" data-pause="hover" data-interval="5000">
        <!-- Indicators -->
        <div class="carousel-inner" role="listbox" id="index-slider-phone">

        </div>
        <a class="left carousel-control" href="#bootstrap-touch-slider2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#bootstrap-touch-slider2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--slider end-->
<div class="index-body-products">
    <div class="container ">
        <div class="row">
            <div class="index-product-list col-md-3 col-xs-6">
                <a href="/Silicon-Powder.html">
                    <h2>Silicon Powder</h2>
                    <span></span>
                    <img src="{% static "client/glass_en/images/index_pic01.png"%}">
                    <p>Silicon Powder GLP-006</p>
                </a>
            </div>
            <div class="index-product-list col-md-3 col-xs-6">
                <a href="/Quartz-Sand.html">
                    <h2>Quartz Sand</h2>
                    <span></span>
                    <img src="{% static "client/glass_en/images/index_pic02.jpg"%}">
                    <p>High Quality Quartz Sand GLQ-D005</p>
                </a>
            </div>
            <div class="index-product-list col-md-3 col-xs-6">
                <a href="/Calcium-Carbonate.html">
                    <h2>Calcium Carbonate</h2>
                    <span></span>
                    <img src="{% static "client/glass_en/images/index_pic03.jpg"%}">
                    <p>Calcination Colorful Calcium Carbonate GLC-CF006</p>
                </a>
            </div>
            <div class="index-product-list col-md-3 col-xs-6">
                <a href="/Other-Minerals.html">
                    <h2>Other Minerals</h2>
                    <span></span>
                    <img src="{% static "client/glass_en/images/index_pic04.jpg"%}">
                    <p>Minera M002</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="index-about-us">
    <div class="container">
        <div class="row">
            <div class="index-about-us-left col-md-6">
                <h2>Over 20 Years Experience</h2>
                <img src="{% static "client/glass_en/images/index_about01.jpg"%}" alt="">
            </div>
            <div class="index-about-us-right col-md-6">
                <h3>About Us</h3>
                <p>Since 1996 Glass Holding Group established it’s Quartz Sand manufacturing base in Fenyang
                    Anhui,China,After 19 years development“Glass”becaming the most professional quartz sand and
                    non-metallic
                    mineral Supplier.
                </p>
                <p>
                    Form the open-cut,processing,technolog development,scientific managment and sales Integration
                    system.
                </p>
                <p>Due to the Market demand and our customer increased year by year,we exploits 4 main quartz sand
                    base
                    and
                    owned 5 entity processing enterprises.
                    We believe that “Glass” will be the Top High-tech and efficient international Mining Group!</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block scripts %}
{% load staticfiles %}
<script>
    $(document).ready(function () {

//        PC-slider
        $.ajax({
            cache: false,
            type: "GET",
            url: '/common/get-slider-images/?slider_name=index',
            data: null,
            async: false,
            error: function (request) {
            },
            success: function (data) {
                if (data.success == true) {
                    var innerHtml = " ";
                    $.each(data.image_list, function (index, id) {
                        console.log('image:' + this + "index:" + index);
                        active = "";
                        if (index == 0) {
                            active = "active";
                        }
                        var imgsrc = this.image;
                        var imghref = this.href;
                        var imgalt = this.alt;
                        if (imghref == "http://") {
                            imghref = "#0"
                        }
                        console.log("imghref:" + imghref)

                        var tmp = '<div class="item ' + active + '">'
                            + '<a href="' + imghref + '"><img class="slide-image" src=' + imgsrc + ' style="width:100%" data-src="" alt="' + imgalt + '"></a>'
                            + '</div>';
                        innerHtml = innerHtml + tmp;
                    });
                    console.log('innerHtml:' + innerHtml);
                    $("#index-slider").html(innerHtml)
                }
            }
        });


//        phone-slider
        $.ajax({
            cache: false,
            type: "GET",
            url: '/common/get-slider-images/?slider_name=index-slider-phone',
            data: null,
            async: false,
            error: function (request) {
            },
            success: function (data) {
                if (data.success == true) {
                    var innerHtml = " ";
                    $.each(data.image_list, function (index, id) {
                        console.log('image:' + this + "index:" + index);
                        active = "";
                        if (index == 0) {
                            active = "active";
                        }
                        var imgsrc = this.image;
                        var imghref = this.href;
                        var imgalt = this.alt;
                        if (imghref == "http://") {
                            imghref = "#0"
                        }
                        console.log("imghref:" + imghref)

                        var tmp = '<div class="item ' + active + '">'
                            + '<a href="' + imghref + '"><img src=' + imgsrc + ' style="width=100%" data-src="" alt="' + imgalt + '"></a>'
                            + '</div>';
                        innerHtml = innerHtml + tmp;
                    });
                    console.log('innerHtml:' + innerHtml);
                    $("#index-slider-phone").html(innerHtml)
                }
            }
        });

    });
</script>
<script type="text/javascript" src="{% static 'client/glass_en/js/jquery.touchSwipe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'client/glass_en/js/bootstrap-touch-slider.js' %}"></script>
<script type="text/javascript">
    $('#bootstrap-touch-slider').bsTouchSlider();
</script>
<script type="text/javascript">
    $('#bootstrap-touch-slider2').bsTouchSlider();
</script>
{% endblock %}
