{% extends "client/glass_en/base.html" %}
{% block breadcrumbs %}
<!--crumb-->
<div class="crumb">
    <div class="container">
        <a href="/">HOME</a> > <a><span>Products</span></a>
    </div>
</div>
<!--crumb end-->
{% endblock %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
<div class="product">
    <div class="container">
        <p>Quartz sand is a hard, wear-resisting, stable chemical properties of silicate minerals, the main mineral
            composition is SiO2, quartz sand color for the milky white or colorless translucent, 7 hardness, brittle
            no cleavage, conchoidal fracture, oily luster, density 2.65, bulk density (1-20 mesh is 1.6 ~ 1.8),
            20-200 mesh is 1.5, the chemical, thermal and mechanical properties has obvious anisotropy, insoluble in
            acid, slightly soluble in KOH solution, melting point 1750 ℃.
        </p>
        <p>Common specifications are: 0.5-1mesh, 1-2mesh, 2-4mesh, 4-8mesh, 8-16mesh, 16-32mesh, 10-20mesh, 20-40
            mesh, 40-80 mesh, 100-120 mesh.</p>
        <p>Quartz has high refractories, and the quartz sand is usually divided into: ordinary quartz sand, refined
            quartz sand, high purity quartz sand, melting quartz sand and silica powder.</p>

        <img src="{% static "client/glass_en/images/product_pic02.jpg"%}">
        <img src="{% static "client/glass_en/images/product_pic03.jpg"%}">
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
{% endblock %}