<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="utf-8"/>
    <title>{{system_para.site_name}}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{system_para.base_url}}/static/email/default/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{system_para.base_url}}/static/email/default/css/single.css" type="text/css"/>
    <link rel="stylesheet" href="{{system_para.base_url}}/static/email/default/css/bootstrap.min.css" type="text/css"/>
	{%block head_extra%}
	{%endblock%}

<body>
<div class="email-wapper">
	{% include 'email/default/header.html' %}
	{% block main%}
	{% endblock %}
	{% include 'email/default/footer.html' %}
	
	{% block scripts %}
	{% endblock %}
</div>
</body>
</html>
