{% extends "email/default/base.html" %}
{% block main %}
{% load i18n %}
    <div class="email-content">
        Hi {{name}},<br/>
		<p>Thanks for your inquiry! It has been received and we will handle and respond within 24 work hours!</p>
		
		<p>{{system_para.site_name}} values every inquiry from our possible customers!</p>
		<p>Any questions,  please feel free to contact us at anytime.</p>
		
		
		<p>Regards，</p>		
		<p>{{system_para.site_name}}.</p>
    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
