<html>
	<head>
	</head>
	<body>
		<h1>Hi {{email}}:</h1>
		<p>You have requested to reset your CassieHaribrush login details.</p>
		<p>Please note that this will change your current password.</p>
		
		<p>If you really want to do it, click the following link :</p>
		<p><a href="{{reset_password_link}}" target="_blank">{{reset_password_link}}</a></p>
		
		
		<p>Please be careful when sharing these details with others.</p>
		<p>If you did not make this request, you can ignore this message and your password will remain the same.</p>
	</body>
</html>