{% extends "email/default/base.html" %}
{% block main %}
{% load i18n %}
    <div class="email-content">
        <p>Hi {{email}},</p>
        <p>You have requested to reset your {{system_para.site_name}} login details.<br/>
            Please note that this will change your current password.
              <br>
              <br>
        </p>
        <p>
            If you really want to do it, click the following link:<br/>
            <p><a href="{{reset_password_link}}" target="_blank">{{reset_password_link}}</a></p>
          <br>
          <br>
        </p>
        <p>
            Please be careful when sharing these details with others.<br/>
            If you did not make this request, you can ignore this message and your password will remain the same.
        </p>

    </div>
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
{% endblock %}
