<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_name}} | {{system_para.site_name}}</title>
    <meta name="keywords" content="{{page_key_words}}">
    <meta name="description" content="{{page_description}}">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    {% load staticfiles %}
    
    <link rel="stylesheet" href="{% static "client/demo/css/bootstrap.min.css"%}" type="text/css"/>
    <link rel="stylesheet" href="{% static "client/demo/css/style.css"%}" type="text/css"/>
    <link rel="stylesheet" href="{% static "client/demo/css/style-phone.css"%}" type="text/css"/>
    <link rel="stylesheet" href="{% static "client/demo/css/bootstrap-touch-slider.css"%}" type="text/css"/>

    {%block head_extra%}
    {%endblock%}

</head>
<body>
<!--header-->
<!--phone menu-->
{% include 'client/demo/header.html' %}
<!--header end-->

<!--content-->
<div class="body">
    <!-- Breadcrumbs -->
    {% block breadcrumbs %}
    {% endblock %}
    <!-- Breadcrumbs End -->
    {% block main%}
    {% endblock %}
    <!--add csrftoken-->
    {% csrf_token %}
</div>
<!--content end-->
{% include 'client/demo/modal_win.html' %}

<!--footer-->
{% include 'client/demo/footer.html' %}
<!--footer end-->
<script src="{% static 'client/demo/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'client/demo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'client/demo/js/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static 'client/demo/js/bootstrap-touch-slider.js' %}"></script>
<script src="{% static 'client/demo/js/main.js' %}"></script>
<script src="{% static 'client/demo/js/jquery.cookie.js' %}"></script>
<script src="{% static 'client/demo/js/jquery.json.min.js' %}"></script>
<script src="{% static 'client/demo/js/icetus.1.0.21.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>