<div class="footer">
    <div class="container">
        <ul class="footer-left">
            {% for cat in menu_list %}
            <li><a href="{{ cat.url }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="footer-right">
            <li><a href="#"><i class="iconfont">&#xe77a;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xecb3;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe639;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe74d;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe8a7;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe697;</i></a></li>
            <li><a href="#"><i class="iconfont">&#xe6ce;</i></a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright © <a href="#">LinkEC</a> All Rights Reserved. Support by <a href="#">iCetus</a></p>
    </div>
</div>