<script src="../../../static/client/911signal/js/imycart.js"></script>{% extends "client/911signal/base.html" %}
{%block head_extra%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'client/911signal/css/cart.css'%}" type="text/css"/>
{%endblock%}
{% block main %}
{% load i18n %}
<div class="order add_new_address main">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-3 col-xy-12">
                    {% include 'client/911signal/side_nav.html' %}
                </div>
                <div class="col-md-9 col-xs-12">
                    <h2 class="color">{{title}}</h2>
                    <div class="add-address-border">
                        <div class="add-address-main col-md-6">
                            <form id="address-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="check-new-address">
                                        <input type="hidden" class="input-address-id" name="address_id" value="{{address.id}}" />
                                        <div class="register-item">
                                            <label>First Name<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" maxlength="50" name="first_name" id="id_first_name" value="{{address.first_name}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>Last Name<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" maxlength="50" name="last_name" id="id_last_name" value="{{address.last_name}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>Address1<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" id="id_address_line_1" maxlength="100" name="address_line_1" value="{{address.address_line_1}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>Address2</label>
                                            <div class="col-xs-12"><input type="text" id="id_address_line_2" maxlength="100" name="address_line_2" value="{{address.address_line_2}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>City<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" id="id_city" maxlength="50" name="city" value="{{address.city}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>State/Province<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" maxlength="50" name="province" id="id_province" value="{{address.province}}"></div>
                                        </div>

                                        <!--<div class="register-item">-->
                                            <!--<label>Country：</label>-->
                                            <!--<div class="btn-group normal icetus-select">-->
                                                <!--<button type="button" style="width: 92%;text-align: left"  class="btn btn-default inputBtn"><span class="selected-text">{{address.country|default:"United States of America"}}</span></button>-->
                                                <!--<button type="button" style="height: 34px"  class="btn btn-foursquare dropdown-toggle selectBtn" data-toggle="dropdown">-->
                                                    <!--<span class="caret"></span>-->
                                                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                                                <!--</button>-->
                                                <!--<ul class="dropdown-menu" style="top: 70%!important;padding-left: 10px" role="menu" id="detail_template-selection">-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="United States of America">United States of America</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Canada">Canada</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Mexico">Mexico</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Puerto Rico">Puerto Rico</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Argentina">Argentina</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Brazil">Brazil</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Chile">Chile</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Columbia">Columbia</li>-->
                                                    <!--<li style="cursor:pointer;" class="dropdown-item" data-value="Peru">Peru</li>-->
                                                <!--</ul>-->
                                                <!--<input class="dropdown-item-input" type="hidden" maxlength="50" name="country" id="id_country" value=""/>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="register-item">
                                            <label>Country：</label>
                                            <select onchange="country.value=this.options[this.selectedIndex].value">
                                                <option value="">{{address.country|default:"Country"}}</option>
                                                <optgroup label="广东省">
                                                    <option value="深圳">深圳</option>
                                                    <option value="广州">广州</option>
                                                    <option value="珠海">珠海</option>
                                                    <option value="惠州">惠州</option>
                                                </optgroup>

                                                <optgroup label="湖南省">
                                                    <option value="长沙">长沙</option>
                                                    <option value="株洲">株洲</option>
                                                    <option value="岳阳">岳阳</option>
                                                    <option value="张家界">张家界</option>
                                                </optgroup>

                                                <optgroup label="江西省">
                                                    <option value="南昌">南昌</option>
                                                    <option value="赣州">赣州</option>
                                                    <option value="宜春">宜春</option>
                                                    <option value="九江">九江</option>
                                                </optgroup>
                                            </select>
                                            <input class="dropdown-item-input" type="hidden" maxlength="50" name="country" id="id_country" value="{{address.country}}"/>
                                        </div>

                                        <div class="register-item">
                                            <label>Zip/Postal Code<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" id="id_zipcode" maxlength="50" name="zipcode" value="{{address.zipcode}}"></div>
                                        </div>
                                        <div class="register-item">
                                            <label>Telephone<i>*</i></label>
                                            <div class="col-xs-12"><input type="text" id="id_tel" name="tel" value="{{address.tel}}"></div>
                                        </div>
                                        <div class="check-address-submit"><button type="button" class="btn-address-submit" data-submit-method="close_self">Save</button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'client/911signal/js/bootstrapValidator.js' %}"></script>
<script type="text/javascript" src="{% static 'client/911signal/js/jquery.combo.select.js' %}"></script>
<script>
    $('#address-form').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            last_name:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            province:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            zipcode:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            address_line_1:{
                validators: {
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            city:{
                validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            country:{
                validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
            tel:{
                validators:{
                    notEmpty: {
                        message: 'This is a required field.'
                    }
                }
            },
        }
    });
</script>

<script>
    $(function() {
        $('select').comboSelect()
    });
</script>
{% endblock %}
