{% extends "client/911signal/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="home main">
        <!--<div class="container">-->
        <div class="row">
            <!--<div class="sliders">-->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="http://www.911signalonline.com/Surface-Mounts/C4-Strobe-Lights.html"><img src="{% static "client/911signal/images/C4-LED-Lighthead.jpg"%}" style="width: 100%" data-src=" " alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href="http://www.911signalonline.com/Surface-Mounts/T4-LED-Lightheads.html"><img src="{% static "client/911signal/images/T&X-series-lighthead.jpg"%}" style="width: 100%" data-src="" alt="Second slide"></a>
                    </div>
                    <div class="item">
                        <a href="http://www.911signalonline.com/Surface-Mounts/X6-Strobe-Lights.html"><img src="{% static "client/911signal/images/X6-strobe-light.jpg"%}" style="width: 100%" data-src="" alt="Third slide"></a>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left">
	</span></a><a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!--</div>-->
        <div class="container slider-bottom">
            <div class="col-md-4 index-recommended">
                <img src="{% static "client/911signal/images/index_png3.png"%}" alt="">
                <p class="slider-bottom-p">FAST SHIPPING & RETURN</p>
                <!--<p class="slider-bottom-p2">Free shipping on all orders over $99.</p>-->
            </div>
            <div class="col-md-4 index-recommended">
                <img src="{% static "client/911signal/images/index_png2.png"%}" alt="">
                <p class="slider-bottom-p">MONEY BACK GUARANTEE</p>
                <!--<p class="slider-bottom-p2">100% money back guarantee.</p>-->
            </div>
            <div class="col-md-4 index-recommended">
                <img src="{% static "client/911signal/images/index_png1.png"%}" alt="">
                <p class="slider-bottom-p">CUSTOMER SERVICE 24/7</p>
                <!--<p class="slider-bottom-p2">Lorem ipsum dolor sit amet.</p>-->
            </div>
        </div>
        <div class="slider-bottom-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <img src="{% static "client/911signal/images/POLICE-VEHICLES.jpg"%}" alt="">
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="{% static "client/911signal/images/AMBULANCE.jpg"%}" alt="">
                    </div>
                    <div class="col-md-3 col-xs-6 slider-bottom-bottom2">
                        <img src="{% static "client/911signal/images/FIRE-TRUCKS.jpg"%}" alt="">
                    </div>
                    <div class="col-md-3 col-xs-6 slider-bottom-bottom2">
                        <img src="{% static "client/911signal/images/COMMERCIAL-AND-WORK-VEHICLES.jpg"%}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--Featured products-->
        <div class="container">
            <div class="row home-products">
                <h1 class="home-products-h1">FEATURED PRODUCTS</h1>
                <span class="home-products-line"></span>
                <div class="row home-products-main">
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/F6-LED-Lighthead.html"><img src="{% static "client/911signal/images/F6.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/F6-LED-Lighthead.html">New Vertical or Horizontal Version LED LIGHTHEAD - F6</a></h2>
                        <p>$43.99</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/F6-LED-Lighthead.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/X6-Strobe-Lights.html"><img src="{% static "client/911signal/images/X6.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/X6-Strobe-Lights.html">CREE LED Extremely Narrow Light Head--X6</a></h2>
                        <p>$46.99</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/X6-Strobe-Lights.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/C4-Strobe-Lights.html"><img src="{% static "client/911signal/images/C4.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/C4-Strobe-Lights.html">LED Wide angle lens Grille Bumper Lighthead - C4</a></h2>
                        <p>$36.69</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/C4-Strobe-Lights.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Hide-A-Ways/ANT-PRO-Hideaway-Lights.html"><img src="{% static "client/911signal/images/ANT-pro.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Hide-A-Ways/ANT-PRO-Hideaway-Lights.html">3PCS LED hideaway light - ANT PRO</a></h2>
                        <p>$39.99</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Hide-A-Ways/ANT-PRO-Hideaway-Lights.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--NEW products-->
        <div class="container">
            <div class="row home-products">
                <h1 class="home-products-h1">NEW PRODUCTS</h1>
                <span class="home-products-line"></span>
                <div class="row home-products-main">
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/T4-LED-Lightheads.html"><img src="{% static "client/911signal/images/T4.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/T4-LED-Lightheads.html">LED Strobe Lighthead - T4</a></h2>
                        <p>$29.99</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/T4-LED-Lightheads.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/T8-LED-Lightheads.html"><img src="{% static "client/911signal/images/T8.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/T8-LED-Lightheads.html">LED Strobe Lighthead, Newest Lens Design - T8</a></h2>
                        <p>$59.29</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/T8-LED-Lightheads.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/X9-LED-Lighthead.html"><img src="{% static "client/911signal/images/X9.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/X9-LED-Lighthead.html">New 180 Degrees LED Strobe Light - X9</a></h2>
                        <p>$59.69</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/X9-LED-Lighthead.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.911signalonline.com/Surface-Mounts/X18-LED-Lighthead.html"><img src="{% static "client/911signal/images/X18.jpg"%}" alt=""></a>
                        <h2><a href="http://www.911signalonline.com/Surface-Mounts/X18-LED-Lighthead.html">18 Pcs LED Strobe Lighthead - X18</a></h2>
                        <p>$102.29</p>
                        <div class="home-products-buttom">
                            <div class="products-buttom-index">
                                <div class="glyphicon glyphicon-shopping-cart"></div>
                                <a href="http://www.911signalonline.com/Surface-Mounts/X18-LED-Lighthead.html"><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="index-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a href="http://www.911signalonline.com/Become-a-Dealer.html"><img src="{% static "client/911signal/images/BECOME-A-DEALER.jpg"%}" alt=""></a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="https://youtube.com/c/911strobe"><img src="{% static "client/911signal/images/FOLLOW-OUR-YOUTUBE-CHANNEL.jpg"%}" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a href="http://www.911signalonline.com/Special.html"><img src="{% static "client/911signal/images/SPECIALS-PRODUCT.jpg"%}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{%endblock%}
{% block scripts %}
{% load staticfiles %}
{% endblock %}
