<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>MyOrder | Cassie</title>
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/cart.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<!--手机左侧菜单-->
<div class="menu-phone">
    <ul class="menu-phone-main">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">products</a>
            <span class="glyphicon glyphicon-plus menu-phone-plus" data="phone-plus1" status="close"></span>
            <ul class="menu-low-one" id="phone-plus1">
                <li><a href="#"><i><</i>products1</a></li>
                <li><a href="#"><i><</i>products2</a></li>
                <li><a href="#"><i><</i>products3</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--头部上面的一根红线-->
<div class="header-line">
<!--头部-->
<div class="wapper">
    <div class="wapper-rgb"></div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="top-language">
                    <ul>
                        <li><a href="#"><img src="images/ico/America.jpg">English<span class="ico-down"></span></a>
                            <ul>
                                <li><a href="#"><img src="images/ico/Chinese.jpg">chinese</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-link">
                    <ul>
                        <li>Dong Tuo Welcome!</li>
                        <li><a>MY ACCOUNT</a></li>
                        <li><a>MY WISHLIST</a></li>
                        <li><a>log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-middle">
        <div class="container">
            <div class="row">

                <div class="menu-phone-ico">
                    <button type="button" class="navbar-toggle" id="menu-ico">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="top-logo">
                    <a href="#"><img src="images/911logo.jpg" class="logo"></a>
                </div>


                <div class="top-search">
                    <input class="form-control" placeholder="Search..." name="q" id="q" value="" type="text">
                    <button class="glyphicon glyphicon-search" type="submit"></button>
                </div>

                <div class="top-middle-right">
                    <div class="top-phone"><span class="glyphicon glyphicon-earphone"></span><span>(+86)186 14 25 78</span></div>
                    <div class="top-cart">
                        <span class="top-cart-num">2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 菜单 -->
    <div class="menu">
        <div class="container menu-background">
            <div class="row menu-row">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">PRODUCTS<img src="images/ico/menu-arrow.png"></a>
                        <ul class="menu-low">
                            <li><a href="#">products1</a></li>
                            <li><a href="#">products2</a></li>
                            <li><a href="#">products3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="order main">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 col-xs-4 col-xy-12">
                       <div class="order-sidbar">
                           <h2>My Account</h2>
                           <ul>
                               <li><a><span class="glyphicon glyphicon-triangle-right"></span>My Order</a></li>
                               <li><a><span class="glyphicon glyphicon-triangle-right"></span>Account Information</a></li>
                               <li><a><span class="glyphicon glyphicon-triangle-right"></span>Address Book</a></li>
                               <li><a><span class="glyphicon glyphicon-triangle-right"></span>My Wishlist</a></li>
                           </ul>
                       </div>
                    </div>
                    <div class="col-md-9 col-xs-8 col-xy-12">
                       <div class="order-main">
                          <h2>My Order</h2>
                          <ul class="order-title">
                            <li>Oder#</li>
                            <li>Date</li>
                            <li>Ship To</li>
                            <li>Order Total</li>
                            <li>Order Status</li>
                            <li></li>
                          </ul>
                          <div class="order-list">
                            <ul class="order-item">
                              <li>2669897166</li>
                              <li>2015-10-10</li>
                              <li>Dong Tuo</li>
                              <li>$605.00</li>
                              <li><a>Pay Now</a></li>
                              <li><a>View Order</a></li>
                            </ul>
                            <ul class="order-item">
                               <li>2669897166</li>
                               <li>2015-10-10</li>
                               <li>Dong Tuo</li>
                               <li>$605.00</li>
                               <li><span>Pending</span></li>
                               <li><a>View Order</a></li>
                            </ul>
                          </div>
                          <div class="order-pages">
                              <a class="prev"></a>
                              <span>1</span>
                              <a>2</a>
                              <a>3</a>
                              <a>4</a>
                              <a class="next"></a>
                          </div>
                         </div>
                       </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-item">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><i class="list-allow-left"></i>Contact us</li>
                        <li><i class="list-allow-left"></i>Delivery</li>
                        <li><i class="list-allow-left"></i>Warranty Info</li>
                        <li><i class="list-allow-left"></i>Privacy Policy</li>
                        <li><i class="list-allow-left"></i>Sitemap</li>
                    </ul>
                </div>
                <div class="footer-item footer-contact">
                    <h5>Contact Information</h5>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker"></i>Address</li>
                        <li class="footer-ico-empty">#18 Chuangfu Road, Xiaogang Industrial District, Beilun, Ningbo,
                            China
                        </li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Phone:</li>
                        <li class="footer-ico-empty">(+86) 87150659</li>
                        <li><i class="glyphicon glyphicon-envelope"></i>Email:</li>
                        <li class="footer-ico-empty"><a href="mailto:info@cassiehairbrush.com"></a>info@cassiehairbrush.com
                        </li>
                    </ul>
                </div>
                <div class="footer-item footer-letter">
                    <h5>Be the First to Know</h5>

                    <p>Get all the latest information on Events,Sales and Offers. Sign up for newsletter today.</p>
                    <label>Enter your e-mail Address</label>

                    <div class="footer-form">
                        <input type="text" id="letterEmail" name="letterEmail">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="copy-media">
                    <a href="#"><img src="images/911logo2.png"></a>
                    <a hre="#"><img src="images/ico/facebook-footer.png"></a>
                    <a hre="#"><img src="images/ico/twitter-footer.png"></a>
                    <a hre="#"><img src="images/ico/linkin-footer.png"></a>
                </div>
                <div class="copy-pay">
                    <img src="images/ico/icon_visa.jpg">
                    <img src="images/ico/icon_paypal.jpg">
                    <img src="images/ico/icon_discover.jpg">
                    <img src="images/ico/icon_master.jpg">
                    <img src="images/ico/icon_master2.jpg">
                    <img src="images/ico/icon_ae.jpg">
                </div>
                <p>©Copyright 2016 by Cassie. All Rights Reserved Designed by <a href="#">iCetus.</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script>
$(function() {
    //为加减商品数量遍历赋值属性,（前台填充html）
    var num1=0;
    var num2=0;
    var num3=0;
    var num4=0;
    var num5=0;
	var num6=0;
    var num7=0;
    $(".carts-list input").each(function () {
        num1++;
        $(this).attr("id","cartqty"+num1);
        $(this).attr("price","price"+num1);
    });
    $(".increase").each(function () {
        num2++;
        $(this).attr("data","cartqty"+num2);
    });
    $(".decrease").each(function () {
        num3++;
        $(this).attr("data","cartqty"+num3);
    });
    $(".cartmoveico").each(function () {
        num4++;
        $(this).attr("data","good"+num4);
    });
    $(".carts-item").each(function () {
        num5++;
        $(this).attr("id","good"+num5);
    });
	$
    (".carts-goods-price").each(function () {
        num6++;
        $(this).addClass("price"+num6);
    });
    $(".carts-goods-sub").each(function () {
        num7++;
        $(this).attr("id","price"+num7);
    });

    //为加减商品数量遍历赋值属性-------->结束

    //删除某个商品
    $(".cartmoveico").click(function (obj) {
        var goodid = this.getAttribute("data");
        $("#" + goodid).remove();
        subchange();
    });

    //商品数量增加和减少
    $(".decrease,.increase").click(function (obj) {
            var qid = this.getAttribute("data");
            var clas = this.getAttribute("class");
            var val = $("#" + qid).val();
            var pid=$("#" + qid).attr("price");
            var price=$("."+pid).text().substring(1);
            if(clas=='decrease'&&val>1){val--;}
            if(clas=='increase'){val++;}
            $("#" + qid).attr("value", val);
            var sub= (price*val).toFixed(2);
            $("#"+pid).text("$"+sub);
            subchange();
     });

    //清空购物车中商品
    $(".carts-clear").click(function (obj) {
        $(".carts-list").remove();
        subchange();
    });

    //购物车总计金额计算
    function subchange() {
        var total= 0;
        var num=0;
        $(".carts-goods-sub").each(function () {
            var str = new String($(this).text().substring(1));
            var num = Number(str);
            total += num;
        });
        $("#carts-subtotal").text("$"+total.toFixed(2));
        $("#carts-grandtotal").text("$"+total.toFixed(2));
    }

});
</script>
</body>
</html>