<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>Payment Success | Cassie</title>
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<!--手机左侧菜单-->
<div class="menu-phone">
    <ul class="menu-phone-main">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">products</a>
            <span class="glyphicon glyphicon-plus menu-phone-plus" data="phone-plus1" status="close"></span>
            <ul class="menu-low-one" id="phone-plus1">
                <li><a href="#"><i><</i>products1</a></li>
                <li><a href="#"><i><</i>products2</a></li>
                <li><a href="#"><i><</i>products3</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--头部上面的一根红线-->
<div class="header-line">
</div>
<!--头部-->
<div class="wapper">
    <div class="wapper-rgb"></div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="top-language">
                    <ul>
                        <li><a href="#"><img src="images/ico/America.jpg">English<span class="ico-down"></span></a>
                            <ul>
                                <li><a href="#"><img src="images/ico/Chinese.jpg">chinese</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-link">
                    <ul>
                        <li>Dong Tuo Welcome!</li>
                        <li><a>MY ACCOUNT</a></li>
                        <li><a>MY WISHLIST</a></li>
                        <li><a>log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-middle">
        <div class="container">
            <div class="row">

                <div class="menu-phone-ico">
                    <button type="button" class="navbar-toggle" id="menu-ico">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="top-logo">
                    <a href="#"><img src="images/911logo.jpg" class="logo"></a>
                </div>


                <div class="top-search">
                    <input class="form-control" placeholder="Search..." name="q" id="q" value="" type="text">
                    <button class="glyphicon glyphicon-search" type="submit"></button>
                </div>

                <div class="top-middle-right">
                    <div class="top-phone"><span class="glyphicon glyphicon-earphone"></span><span>(+86)186 14 25 78</span></div>
                    <div class="top-cart">
                        <span class="top-cart-num">2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 菜单 -->
    <div class="menu">
        <div class="container menu-background">
            <div class="row menu-row">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">PRODUCTS<img src="images/ico/menu-arrow.png"></a>
                        <ul class="menu-low">
                            <li><a href="#">products1</a></li>
                            <li><a href="#">products2</a></li>
                            <li><a href="#">products3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="forget payment-jump main">
        <div class="container">
            <div class="row">
                <h1>Payment</h1>
                <div class="forget-main">
                    <h2>Payment Success</h2>
                    <h3>Your order No.324564 payment success, we will delivery for you as soon as possible.</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-item">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><i class="list-allow-left"></i>Contact us</li>
                        <li><i class="list-allow-left"></i>Delivery</li>
                        <li><i class="list-allow-left"></i>Warranty Info</li>
                        <li><i class="list-allow-left"></i>Privacy Policy</li>
                        <li><i class="list-allow-left"></i>Sitemap</li>
                    </ul>
                </div>
                <div class="footer-item footer-contact">
                    <h5>Contact Information</h5>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker"></i>Address</li>
                        <li class="footer-ico-empty">#18 Chuangfu Road, Xiaogang Industrial District, Beilun, Ningbo,
                            China
                        </li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Phone:</li>
                        <li class="footer-ico-empty">(+86) 87150659</li>
                        <li><i class="glyphicon glyphicon-envelope"></i>Email:</li>
                        <li class="footer-ico-empty"><a href="mailto:info@cassiehairbrush.com"></a>info@cassiehairbrush.com
                        </li>
                    </ul>
                </div>
                <div class="footer-item footer-letter">
                    <h5>Be the First to Know</h5>

                    <p>Get all the latest information on Events,Sales and Offers. Sign up for newsletter today.</p>
                    <label>Enter your e-mail Address</label>

                    <div class="footer-form">
                        <input type="text" id="letterEmail" name="letterEmail">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="copy-media">
                    <a href="#"><img src="images/911logo2.png"></a>
                    <a hre="#"><img src="images/ico/facebook-footer.png"></a>
                    <a hre="#"><img src="images/ico/twitter-footer.png"></a>
                    <a hre="#"><img src="images/ico/linkin-footer.png"></a>
                </div>
                <div class="copy-pay">
                    <img src="images/ico/icon_visa.jpg">
                    <img src="images/ico/icon_paypal.jpg">
                    <img src="images/ico/icon_discover.jpg">
                    <img src="images/ico/icon_master.jpg">
                    <img src="images/ico/icon_master2.jpg">
                    <img src="images/ico/icon_ae.jpg">
                </div>
                <p>©Copyright 2016 by Cassie. All Rights Reserved Designed by <a href="#">iCetus.</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>