<div class="order-sidbar">
    <h2>My Account</h2>
    <ul>
        <li><a href="/order/show/"><span class="glyphicon glyphicon-triangle-right"></span>My Order</a></li>
        <li><a href="/user/info/"><span class="glyphicon glyphicon-triangle-right"></span>Account Information</a></li>
        <li><a href="/user/address/show/"><span class="glyphicon glyphicon-triangle-right"></span>Address Book</a></li>
        <li><a href="/wishlist/"><span class="glyphicon glyphicon-triangle-right"></span>My Wishlist</a></li>
    </ul>
</div>