<html>
	<head>
	</head>
	<body>
		<p>文件上传</p>
		<form enctype="multipart/form-data" method="POST" action="{{action_url}}"> 
			{% csrf_token %}
			选择文件：<input type="file" name="upload" /><br>
			文件名生成方式：
			<select name="filename_type">
				<option value="origin">原文件名</option>
				<option value="random">随机</option>
				<option value="manual">自由输入</option>
			</select>
			<br/>
			自由输入文件名：（不要后缀）<input type="text" name="manual_name"/></br>
			重名文件处理方式：
			<select name="same_name_handle">
				<option value="reject">拒绝</option>
				<option value="rewrite">覆盖</option>
			</select>
			<br /> 
			排序序号（越大越靠前）：<input type="text" name="sort" value="0" />
			<br />
			是否显示在商品详情中：<input type="checkbox" name="is_show_in_product_detail" checked />
			<br>
			<input type="submit" value="上传文件" /> 
		</form>
		
		<div>
			<ul>
				{% for image in image_list %}
					<li style='float:left;'><a href='{{image.image}}'> <img width='128px' src='{{image.thumb}}' alt='{{item.name}}'/></a> | <a href='{{file_delete_url}}/{{image.id}}/{{host_item_id}}/'>删除</a></li>
				{% empty %}
					<li>There is no image at all.
				{% endfor %}
			</ul>
		</div>
	</body>
</html>