li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.li2 .row {
    z-index: 9;
    display: none;
    border-radius: 0;
    background: #fff;
    position: absolute;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
    margin-right: 0px;
    margin-left: -15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.menu ul li {
    float: left;
    list-style: none;
    padding: 0 28px;
}

.menu-first-ul li a {
    display: block;
    font-size: 12px !important;
    color: #666 !important;
    line-height: 30px;
}

.menu-first-ul {
    padding-left: 0px;
    width: 135px;
}

.menu-first-ul li {
    padding: 0 13px !important;
}

.body {
    background: #fefdf6;
}

.index-slider-phone {
    display: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*header*/
.header-top {
    height: 30px;
    background: #683f1c;
}

.header {
    line-height: 110px;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    max-width: 100%;
}

.header-menu {
    width: 65%;
    float: left;
}

.header-menu ul {

}

.header-menu ul li {
    float: left;
    padding: 0 25px;
}

.header-menu ul li a {
    color: #333;
}

.header-menu ul li a:hover {
    color: #683f1c;
}

.header-search {
    width: 15%;
    float: right;
}

.header-search input {
    width: 70%;
    line-height: 26px;
    border: 1px solid #683f1c;
}

.header-search button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #683f1c;
}

.iphone-search {
    display: none;
}

/*index*/
.index-product-list {
    text-align: center;
}

.index-product-list h2 {
    color: #693e1c;
    font-size: 16px;
    font-weight: bold;
}

.index-product-list img {
    max-width: 100%;
    height: auto;
}

.index-product-list p {
    color: #666;
    line-height: 24px;
}

.index-product {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
}

.index-drop-down {
    z-index: 9;
    display: none;
    border-radius: 0;
    background: #fff;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding: 20px 0 30px 15px;
}

.menu-second-ul {
    padding-left: 0px;
    text-align: left;
}

.menu-second-ul li {
    line-height: 30px;
    color: #666666;
    padding: 0px !important;
}

.menu-second-ul li a {
    color: #666666;
    font-size: 12px;
}

.menu-second-ul li a:hover {
    color: #693e1c;
}

.menu-second-ul li:first-child a {
    color: #693e1c;
    font-weight: bold;
    font-size: 14px;
}

.index-banner img {
    max-width: 100%;
}

.index-contact-left {
    float: left;
}

.index-contact-left p {
    margin: 0px;
    color: #fff;
}

.index-contact-right {
    float: right;
}

.index-contact-right input {
    line-height: 30px;
    border: 2px solid #fff;
    background: transparent;
    min-width: 300px;;
    color: #fff;
    padding-left: 15px;
    outline: none;
}

.index-contact-right button {
    background: #e05b14;
    color: #fff;
    border: 2px solid #fff;
    width: 85px;
    height: 36px;
}

.index-contact {
    background: #899f99;
    padding: 60px 0;
}

.index-ce img {
    max-width: 100%;
}

.index-ce {
    background: #fff;
    text-align: center;
    padding: 30px 0;
}

.index-drop-down .col-md-4 {
    width: 20%!important;
}

.index-drop-down .col-md-1 {
    width: 15%!important;
}

/*footer*/
.footer {
    background: #693e1c;
    text-align: center;
    padding: 35px 0 20px;
}

.footer a i {
    color: #fff;
    font-size: 20px;
    padding: 0 15px;
}

.footer p {
    margin: 0px;
    line-height: 24px;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer-p {
    margin-top: 20px !important;
}

.footer-bottom {
    text-align: center;
    background: #563317;
}

.footer-bottom p {
    color: #fff;
}

.footer-bottom p a {
    color: #fff;
}

/*crumb*/
.crumb {
    font-size: 12px;
    color: #3c352c;
    padding: 20px 0;
}

/*contact*/
.contact h1 {
    font-size: 20px;
    color: #693e1c;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.contact-left h2, .contact-right h2 {
    font-size: 18px;
    color: #3c352c;
    margin: 20px 0 40px;
}

.contact-left h3 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.contact-left ul {
    padding-left: 0px;
}

.contact-left ul li {
    line-height: 30px;
    color: #333333;
}

.contact-left ul li span {
    padding-right: 5px;
}

.contact-left-fw {
    font-weight: bold;
}

.form-group input {
    height: 42px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    background: transparent;
}

.form-group textarea {
    height: 300px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #ccc;
    background: transparent;
}

.contact-button button {
    width: 160px;
    height: 50px;
    color: #fff;
    background: #693e1c;
    outline: none;
    border: none;
    font-size: 20px;
}

.map {
    width: 100%;
    height: 400px;
    margin: 35px 0 80px;
}

.form-group label {
    padding-left: 15px;
    color: #3c352c;
}

/*Categories*/
.Categories {
    padding-bottom: 80px;
}

.ArticleList-right-one {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #eee;
}

.ArticleList-right-one a {
    float: right;
    position: relative;
    top: 70px;
}

.ArticleList-right-one a {
    float: right;
    position: relative;
    top: 45px;
}

.ArticleList-right-a {
    width: 35%;
    float: left !important;
    display: inline-block;
    top: 0px !important;
    overflow: hidden;
    position: relative;
}

.ArticleList-right-one img {
    float: left;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    overflow: hidden;
}

.ArticleList-right-a img {
    width: 100%;
}

.ArticleList-right-one-center {
    padding-left: 15px;
    float: left;
    width: 45%;
    color: #333;
}

.ArticleList-right-h3 {
    float: none !important;
    top: 0px !important;
}

.ArticleList-right-one-center h3 {
    font-size: 16px;
    color: #693e1c;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}

.ArticleList-right-content {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    height: 100px;
    margin-bottom: 0px;
}

.ArticleList-right-one a button {
    width: 135px;
    height: 50px;
    background: #693e1c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ArticleList-right-one img:hover {
    border: 1px solid #ccc;
    transform: scale(1.1);
}

.product-list-left h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333333;
}

.product-list-left ul {
    padding-left: 0px;
}

.product-list-left ul li:first-child a {
    font-size: 16px !important;
    color: #693e1c !important;
    font-weight: bold;
}

.product-list-left ul li {
    line-height: 30px;
    font-size: 14px;
}

.product-list-left ul li a {
    color: #333333;
}

.product-list-left ul li a:hover {
    color: #693e1c;
}

.product-list-left-bg {
    background: #fff;
    padding: 25px 0 50px 15px;
}

.ArticleList-right-a-new {
    width: 28% !important;
}

.ArticleList-right-one-center-new {
    width: 50% !important;
}

.article_contact {
    color: #666;
    line-height: 24px;
    margin-bottom: 60px;
}

.article_contact h1 {
    font-size: 16px;
    color: #693e1c;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.article_contact img {
    max-width: 100% !important;
    height: auto !important;
}

.Service-contact {
    margin: 25px 0;
}

.Service-contact h2 {
    color: #e05b14;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 24px;
    font-size: 16px;
}

.Service-contact p {
    line-height: 24px;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}

.Service h1 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

.Service {
    padding-bottom: 120px;
}

/*Profile*/
.Profile img {
    max-width: 100%;
}

.Profile h1 {
    color: #693e1c;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}

.Profile p {
    line-height: 24px;
    color: #666;
    margin-top: 0px;
}

.Profile b {
    color: #666;
    font-size: 16px;
}

.Profile {
    padding-bottom: 50px;
}

.profile-img {
    margin-bottom: 30px;
}

/*product*/
.product-detail {
    padding-bottom: 100px;
}

.product-list-right-contact {
    margin-bottom: 30px;
}

.product-list-right-contact h2 {
    font-size: 14px;
    font-weight: bold;
    color: #693e1c;
    text-align: center;
}

.product-list-right-contact h2 a {
    color: #693e1c;
}

.product-list-right-contact p {
    font-size: 12px;
    text-align: center;
    color: #666;
}

.product-list-right-contact img {
    max-width: 100%;
}

.product-main-right {

}

.product-main-right h1 {
    color: #333333;
    font-size: 20px;
}

.product-main-right h2 {
    color: #693e1c;
    font-size: 16px;
    font-weight: bold;
}

.product-main-right ul {
    padding-left: 0px;
}

.product-main-right ul li {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
}

.product-main-right ul li span {
    font-weight: bold;
}

.product-main-right-feature {
    padding-left: 20px !important;
}

.product-main-right-feature li {
    list-style: disc !important;
}

.product-main-right button {
    width: 180px;
    height: 50px;
    background: #693e1c;
    border: none;
    outline: none;
}

.product-main-right button a {
    color: #fff;
    font-size: 20px;
    display: block;
}

.product-des {
    width: 100%;
    display: inline-block;
}

.product-des h3 {
    font-size: 16px;
    color: #693e1c;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #693e1c;
}

.product-des p {
    background: #fff;
    color: #666666;
    padding: 30px 15px;
    line-height: 24px;
}

.recommended h2 {
    font-size: 16px;
    margin-bottom: 30px;
    color: #693e1c;
    font-weight: bold;
}

.recommended-list img {
    max-width: 100%;
}

.recommended-list p {
    font-weight: bold;
    color: #693e1c;
}

.recommended {
    margin: 20px 0 80px;
}

.artical-pages a {
    width: 28px;
    height: 28px;
    color: #333333;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 28px;
    margin: 0 5px;
    cursor: pointer;
}

.current_page {
    background: #693e1c !important;
    color: #fff !important;
}

.artical-pages {
    text-align: center;
    margin: 35px 0;
}

.artical-pages a:hover {
    background: #693e1c;
    color: #fff;
}
/*why-us*/
.why-us {
    text-align: center;
    padding-bottom: 80px;
}
.why-us h2{
    color: #693e1c;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 30px;
}
.why-us p{
    line-height: 24px;
    margin: 0px;
    color: #666666;
}
.why-us img{
    max-width: 100%!important;
}
.why-us .row img{
    margin-bottom: 30px;
    max-width: 100%!important;
}
.why-us-img-1{
    margin-top: 60px;
}
.why-us-img-2{
    margin-bottom: 45px; ;
}
@media (min-width: 1200px) {
    .index-drop-down {
        width: 1140px !important;
    }
}

@media (max-width: 1200px) {
    .header-menu ul li {
        float: left;
        padding: 0 15px;
    }

    .header-search input {
        width: 75%;
    }

    .header-search button {
        width: 20%;
    }
}

@media (max-width: 992px) {
    .product-main-left {
        width: 100% !important;
        margin-right: 0px !important;
    }

    .product-main-right {
        width: 100% !important;
    }

    .jqZoomPup, .zoomdiv {
        display: none !important;
    }

    .header-menu ul li a {
        font-size: 12px;
    }

    .header-menu ul li {
        float: left;
        padding: 0 5px;
    }

    .index-product-list:nth-child(odd) {
        clear: left;
    }
}

@media (min-width: 768px) {
    .index-drop-down {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .product-list-left {
        display: none;
    }

    .index-slider-phone {
        display: block;
    }

    .index-slider {
        display: none;
    }

    .ArticleList-right-a img {
        width: 100% !important;
    }

    .ArticleList-right-a {
        display: block !important;
        width: 50% !important;
    }

    .ArticleList-right-a {
        padding-left: 0px;
    }

    .ArticleList-right-one-center {
        width: 50% !important;
    }

    .ArticleList-right-one a {
        display: none;
    }

    .ArticleList-right-h3 {
        display: inline-block !important;
    }

    .ArticleList-right-one-center h3 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .ArticleList-right-content {
        font-size: 12px;
        overflow: hidden;
        height: 70px;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .header-menu, .header-search {
        display: none;
    }

    .buttonset {
        float: right;
        font-size: 24px;
    }

    .iphone-search {
        float: right;
        display: block;
        font-size: 24px;
    }

    .iphone-search span {
        top: 3px;
        padding-left: 10px;
    }

    .logo {
        width: 50%;
    }

    .index-contact {
        background: #899f99;
        padding: 15px 0;
    }

    .index-contact-left {
        margin-bottom: 15px;
    }

    .index-contact-right input {
        margin-bottom: 15px;
    }
}

@media (min-width: 993px) {
    .index-product-list:nth-of-type(4), .index-product-list:nth-of-type(7), .index-product-list:nth-of-type(10) {
        clear: left;
    }

    .index-drop-down {
        width: 940px;
    }
}





































































































