{% load staticfiles %}
{% load i18n %}
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-list col-md-2 col-xs-12">
                <h2>ABOUT</h2>
                <ul>
                    <li><a href="#"><span> > </span>Company Profile</a></li>
                    <li><a href="#"><span> > </span>Certification</a></li>
                    <li><a href="#"><span> > </span>Careers</a></li>
                </ul>
            </div>
            <div class="footer-list col-md-4 col-xs-12">
                <h2>PRODUCTS</h2>
                <div class="footer-list-left">
                    <ul>
                        <li><a href="/New-Products.html"><span> > </span>New Products</a></li>
                        <li><a href="/LED-Lightheads.html"><span> > </span>Led Lightheads</a></li>
                        <li><a href="/LED-Lightbars.html"><span> > </span>Led Warning Lightbars</a></li>
                        <li><a href="/LED-Warning-Lightbars.html"><span> > </span>LED Visor Lights</a></li>
                        <li><a href="/Hideaway-Lights.html"><span> > </span>Hideaway Lights</a></li>
                        <li><a href="/Cigarette-Plugs.html"><span> > </span>Cigarette Plugs</a></li>
                    </ul>
                </div>
                <div class="footer-list-right">
                    <ul>
                        <li><a href="/LED-Lightbars.html"><span> > </span>LED Lightbars</a></li>
                        <li><a href="/Beacons.html"><span> > </span>Beacons</a></li>
                        <li><a href="/Switch-Panels-Boxes.html"><span> > </span>Switch Panels Boxes</a></li>
                        <li><a href="/Siren-Speaker-Solutions.html"><span> > </span>SirenSpeaker Solutions</a></li>
                        <li><a href="/products.html" class="footer-list-more">More Products ></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-list col-md-2 col-xs-12">
                <h2>SUPPORT</h2>
                <ul>
                    <li><a href="#"><span> > </span>Downloads</a></li>
                    <li><a href="/faq.html"><span> > </span>FAQ</a></li>
                    <li><a href="/privacy.html"><span> > </span>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-list footer-list-contact col-md-4 col-xs-12">
                <h2>CONTACT</h2>
                <ul>
                    <li><span>ADD</span>: Qianzhou Village, Zhonggongmiao Town, Yinzhou Center Area, Ningbo
                        City,Zhejiang Province, China.
                    </li>
                    <li><span>ADD</span>: +86 574 8901 7911</li>
                    <li><span>Email</span>: <a href="mailto:sales@911signal.com">sales@911signal.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <span>Copyright © 2014 - 911Signal - All rights reserved.</span>
        <img src="{% static "client/911/images/footer-logo.png"%}" alt="foot  logo">
    </div>
</div>
<!--footer end-->