<!--index social-->
    <div class="index-social">
        <h2>Valeo on social media</h2>
        <a href="#"><i class="iconfont">&#xe77a;</i></a>
        <a href="#"><i class="iconfont">&#xecb3;</i></a>
        <a href="#"><i class="iconfont">&#xe639;</i></a>
        <a href="#"><i class="iconfont">&#xe697;</i></a>
        <a href="#"><i class="iconfont">&#xe8a7;</i></a>
        <a href="#"><i class="iconfont">&#xe6ce;</i></a>
    </div>
    <!--index social end-->

    <!--index menu-->
    <div class="index-body-menu">
        <ul>
            <li><a href="#">ABOUT 911</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">SUPPORT</a></li>
            <li><a href="#">MEDIA</a></li>
            <li><a href="#">NEWS CENTER</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>
    <!--index menu end-->