 <!-- Footer -->
<footer>
  <section class="footer-navbar">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-lg-8">
            <div class="footer-column pull-left collapsed-block">
              <h4>CUSTOMER SERVICE<a class="expander visible-xs" href="#TabBlock-1">+</a></h4>
              <div class="tabBlock" id="TabBlock-1">
                <ul class="links">
                  <li class="first"><a href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c421" title="Contact Us">Contact Us</a></li>
                  <li><a href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c422" title="Shipping Information">Shipping Information</a></li>
                  <li><a href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c423" title="Warranty Information">Warranty Information</a></li>
                  <li><a href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c424" title="Privacy Policy">Privacy Policy</a></li>
                
                </ul>
              </div>
            </div>
            <div class="footer-column pull-left collapsed-block">
              <h4>ABOUT US<a class="expander visible-xs" href="#TabBlock-2">+</a></h4>
              <div class="tabBlock" id="TabBlock-2">
                <ul class="links">
                  <li class="first"><a title="Why Choose Us" href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c425">Why Choose Us</a></li>
                  <li><a title="Become A Dealer" href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c426">Become A Dealer</a></li>
                  <li><a title="Buying Guides" href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c427">Buying Guides</a></li>
                  <li><a title="Awards" href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c428">Awards</a></li>
               
                </ul>
              </div>
            </div>
         </div>
          <div class="col-xs-12 col-lg-4">
            <div class="footer-column-last">
              <div class="newsletter-wrap collapsed-block">
                <h4>Sign up for emails<a class="expander visible-xs" href="#TabBlock-4">+</a></h4>
                <div class="tabBlock" id="TabBlock-4">
                  <form id="newsletter-validate-detail" method="post" action="#">
                    <div id="container_form_news">
                      <div id="container_form_news2">
                        <input type="text" class="input-text required-entry validate-email" placeholder="Enter your email address" title="Sign up for our newsletter" id="newsletter-email" name="email">
                        <button class="button subscribe add-to-emaillist" title="Subscribe" type="submit"><span>Subscribe</span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="social">
                <h4>Follow Us</h4>
                <ul class="link">
                  <li class="fb pull-left"><a href="#"></a></li>
                  <li class="googleplus pull-left"><a href="#"></a></li>
                  <li class="pintrest pull-left"><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div style="text-align:center"><a href="index.html"><img src="${ctxPath}/images/footer-logo.png" alt="footer-logo"></a></div>
          <address>
          <i class="icon-location-arrow"></i> {{system_para.contact_address}} <i class="icon-mobile-phone"></i><span> 0086-574-87150659</span> <i class="icon-envelope"></i><a href="mailto:{{system_para.copyright}}">{{system_para.service_email}}</a>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-xs-12 coppyright">&copy; {{system_para.copyright}}</div>
          <div class="col-sm-7 col-xs-12 company-links"></div>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- End Footer --> 