{% extends "classic/base.html" %}
{% block main %}
{% load i18n %}
  <!-- Main Container -->
  <section class="main-container col1-layout wow bounceInUp animated">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>{% trans 'Forgot Your Password' %}</h2>
		  <p id="applyMessage">{{apply_message}}</p> 
    	</div>
	    <form class="form-horizontal" method='POST' style="display:{{form_display}}">
		{% csrf_token %}
	      <div class="forgot-form" id="forgotForm">   
	        <h3 id="errorMessage"></h3>
	            <div class="content">
	              <p>Please enter your email address below. </p>
	              <p>You will receive a link to reset your password.</p>
	              
	              <ul class="form-list">
	                <li>
	                	<div class="control-group">
				                <div class="controls">
				                  	<label for="email">Email Address <span class="required">*</span></label>
				                  	<br>
				                  	<input type="email" title="Email Address" 
				                  		 class="input-text" id="email" value="" name="email" 
				                  		 placeholder="example@example.com"
										 data-validation-ajax-ajax="/validate/user/hope-exits/"
				                  		 required/>
				                  	<p class="help-block required"></p>
				                  </div>
			             </div>
	                </li>

	                <li>
			              <div class="control-group">
				              		<div class="controls">
											<label for="pass">Verify Code <span class="required">*</span></label>
											<br>
											<input type="input-text"  id="id_reg_captcha_1" data-captcha-key='id_reg_captcha_0' name="captcha_1" class="form-control form-control-captcha fl" placeholder="Enter the code below">
											<span class="v5-yzm fr"><a href="#" class="next-captcha"><img src="{{ imgage_url }}" class="captcha" alt="captcha">换一张</a></span>
											<input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}"> 
											 <p class="help-block required"></p>
					               	</div>
			                </div>
			               	<br>
	                </li>
	              </ul>
	              <p class="required">* Required Fields</p>
	              <div class="buttons-set">
	                <button id="SubmitForget" name="send" type="submit" class="button login"><span>{% trans 'SUBMIT' %}</span></button>
	              </div>
	         </div>   
	      </div>
		</form>
      </div>
      <br>
    </div>
  </section>
  <!-- Main Container End -->
{% endblock %}
<!-- JavaScript -->
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'classic/js/jqBootstrapValidation.js' %}"></script>
	<script type="text/javascript">
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
		$(document).ready(function() {

		});
	</script>
{% endblock %}