<!-- Header -->
{% load i18n %}
<header>
  <div class="header-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12"> 
          <!-- Header Logo -->
          <div class="logo"><a title="{{system_para.site_name}}" href="/"><img alt="{{system_para.site_name}}" src="{{system_para.logo_image}}"></a></div>
          <!-- End Header Logo --> 
          </div>
          <div class="col-lg-9 col-xs-12 right_menu">
            <div class="toplinks">
              <!-- Default Welcome Message -->
            <div class="welcome-msg hidden-xs">{{system_para.default_welcome_message}} : {{user.get_short_name|default:"^_^"}}</div>
            <!-- End Default Welcome Message -->
            <div class="links">
              <div class="myaccount"><a title="My Account" href="/cart/show"><span class="hidden-xs">{% trans 'My Cart' %}</span></a></div>
              <div class="wishlist"><a title="My Wishlist" href="/wishlist"><span class="hidden-xs">{% trans ' My Wishlist' %}</span></a></div>
			  <div class="myaccount"><a title="My Orders" href="/order/show"><span class="hidden-xs">{% trans 'My Orders' %}</span></a></div>
              <!-- <div class="check"><a title="Checkout" href="${ctxPath}/Cart/CheckOut.htm?step=review"><span class="hidden-xs">Checkout</span></a></div> -->
              <!-- <div class="demo"><a title="Blog" href="blog.html"><span class="hidden-xs">Blog</span></a></div> -->
              <!-- Header Company -->
              <div class="dropdown block-company-wrapper hidden-xs"><a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#">Company <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="${ctxPath}/Article/ShowArticleContent.htm?id=1c74a4e4372fc0f338dcd095cde3c42e">About Us</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Customer Service</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Privacy Policy</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="sitemap.html">Site Map</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Search Terms</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Advanced Search</a></li>
                </ul>
              </div>
              <!-- End Header Company -->
				{%	if user.is_authenticated %}          
					<div class="login"><a href="/user/logout/"><span class="hidden-xs">{%trans 'Log Out' %}</span></a></div>    
				{% else %}
					<div class="logout"><a href="/user/login/" class="loginModalLink"><span class="hidden-xs">{% trans 'Log In' %}</span></a></div>
				{% endif %}
              </div>
              <!-- links --> 
          </div>
          
          <!-- End Header Currency --> 
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->