  {% extends "classic/base.html" %}
  <!-- Breadcrumbs -->
  {% block breadcrumbs %}
   <div class="breadcrumbs bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>» </span></li>
            <li class=""> <a title="Go to Home Page" href="grid.html">Women</a><span>» </span></li>
            <li class="category13"><strong>Sed volutpat ac massa eget lacinia</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  {% block main %}
	<div class="main-container col1-layout">
		<div class="main container">
			<div class="col-main">
			  <div class="row">
					<div class="product-view">
						<div class="product-essential">
							<h2>{{i18n_text}}</h2>
							<h2>{{i18n_text_test}}</h2>
							<h2>{{i18n_text_near_example}}</h2>
							<h2>{{i18n_text_example}}</h2>
							<h2>{{show_const}}</h2>
							<input type="text"  id="id_reg_captcha_1" name="captcha_1" class="form-control form-control-captcha fl" placeholder="请输入验证码">
							<span class="v5-yzm fr"><a href="#" class="next-captcha"><img src="{{ imgage_url }}" class="captcha" alt="captcha">换一张</a></span>
							<input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}"> 
							
							<button type = 'button' id='tryGetProductInfo'>Try Get Product Info</button>
							
							{% load i18n %}
							<p>{% trans 'Translate in template.'%}</p>
							<p>{% blocktrans %}This string will have {{ value }} inside.{% endblocktrans %}</p>

							
							<form action='/product/52/' method='POST'>
								{% csrf_token %}
								<input type='submit' value='Make Static File' />
							</form>
							
							<p>form提交文件</p>
							<form enctype="multipart/form-data" method="POST" action="/upload/"> 
								{% csrf_token %}
								<input type="file" name="file" />
								<br /> 
								<input type="submit" value="上传文件" /> 
							</form>
							
							
							<a href='/file_upload/product/1' target='_blank'>打开上传文件窗口</a>
							
							{% load i18n %}
							i18N设置
							<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
								<input name="next" type="hidden" value="{{ redirect_to }}" />
								<select name="language">
									{% get_current_language as LANGUAGE_CODE %}
									{% get_available_languages as LANGUAGES %}
									{% get_language_info_list for LANGUAGES as languages %}
									{% for language in languages %}
										<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
											{{ language.name_local }} ({{ language.code }})
										</option>
									{% endfor %}
								</select>
								<input type="submit" value="Go" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  {% endblock %}
  {% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'classic/js/ajaxfileupload.js' %}"></script> 
	<script type="text/javascript">
		$(document).ready(function() {
				
			$('#tryGetProductInfo').click(function(){
				var product_to_get = new Object();
				product_to_get.product_id = 18;
				var attr_list = new Array();
				attr_list.push(21,24);
				product_to_get.attr_list = attr_list;

				var url = '/product/get-product-extra/'

				var encodedata = $.toJSON(product_to_get);
					$.ajax({
							type : 'POST',
							contentType : 'application/json',
							dataType : 'json',
							url : url,
							data : encodedata,
							success : function(result) {
									alert(result.message);
							},
							error : function(result) {
								alert(result.success);
							}
					});

			});
		});
	</script>
  {% endblock %}
  
  
