{% extends "classic/base.html" %}
{% block main %}
{% load i18n %}
  <!-- Main Container -->
  <section class="main-container col1-layout wow bounceInUp animated">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>{% trans 'Login or Create an Account' %}</h2>
		  <h2>{{ login_result }}</h2>
        </div>
        <fieldset class="col2-set">
          <legend>{% trans 'Login or Create an Account' %}</legend>
          <div class="col-1 new-users"><strong>{% trans 'New Customers' %}</strong>
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <button id="CreateAccount" class="button create-account"><span>Create an Account</span></button>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users"><strong>{% trans 'Registered Customers' %}</strong>
			  <h3 id="loginMessage"></h3>
              <form method="post" id="login_form" class="box" autocomplete="off">
			  {% csrf_token %}
	            <div class="content">
	              <p>{% trans 'Please log in with your e-mail and password' %}:</p>
	              <ul class="form-list">
	                <li>
	                	<div class="control-group">
				             	<div class="controls">
				                		<label for="email">Email Address <span class="required">*</span></label>
				                  		<br>
				                  		<input type="email" title="Email Address" 
				                  		 class="input-text" id="email" value="" name="email" 
				                  		 placeholder="example@example.com"
				                  		 required/>
				                  		 <p class="help-block required"></p>
				              	</div>
			            </div>
	                </li>
	                <li>
	                	<div class="control-group">
						    <label for="pass">Password <span class="required">*</span></label>
						    <div class="controls">
						      <input type="password" name="password" id="password"  class="input-text" minlength="6" maxlength="10" required/>
						      <p class="help-block required"></p>
						    </div>
						</div>
	                </li>
	              </ul>
	              <div class="buttons-set">
				  
					<input type="hidden" name="next" value="{{ next }}" /> 
	                <button id="SubmitLogin" name="send" type="submit" class="button login"><span>{% trans 'Login' %}</span></button>
	                <a class="forgot-word" href="/user/forget-password">{% trans 'Forgot Your Password' %}?</a> 
                 </div>
	            </div>
              </form>
          </div>
        </fieldset>

      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    </div>
  </section>
  <!-- Main Container End -->
{% endblock %}
<!-- JavaScript -->
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'classic/js/jqBootstrapValidation.js' %}"></script>
	<script type="text/javascript">
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
		$(document).ready(function() {

		});
	</script>
{% endblock %}
  
