  {% extends "classic/base.html" %}
  <!-- Breadcrumbs -->
  {% block breadcrumbs %}
   <div class="breadcrumbs bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>» </span></li>
            <li class=""> <a title="Go to Home Page" href="grid.html">Women</a><span>» </span></li>
            <li class="category13"><strong>Sed volutpat ac massa eget lacinia</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  {% block main %}
  {% load i18n %}
	<div class="main-container col1-layout">
		<div class="main container">
			<div class="col-main">
			  <div class="row">
				<div class="product-view">
				  <div class="product-essential">
					<form action="#" method="post" id="product_addtocart_form">
					  <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
					  <div class="product-img-box col-sm-5 col-xs-12 bounceInRight animated">
						<div class="new-label new-top-left"> New </div>
						<div class="product-image">
						  <div class="large-image"> <a href="{{product.image}}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="Thumbnail" src="{{product.image}}"> </a> </div>
						  <div class="flexslider flexslider-thumb">
							<ul class="previews-list slides">
								 {% for image in product.images.all %} 
									<li><a href='{{image.image}}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{image.thumb}}' "><img src="{{image.thumb}}" alt = "Thumbnail"/></a></li>
								 {% endfor %}
						   </ul>
						  </div>
						</div>
						<!-- end: more-images --> 
					  </div>
					  <div class="product-shop col-sm-7 col-xs-12 bounceInUp animated">
						<div class="product-name">
						  <h1>{{product.name}}</h1>
						</div>
						<div class="short-description"> 
						  <!--<h2>Quick Overview</h2>-->
						   <p>{{product.short_desc}}</p>
						</div>
						

						<div class="price-block">
						  <div class="price-box">
							<p class="old-price"> <span class="price-label">{%trans 'Market Price'%}:</span> <span class="price"> ${{product.market_price|floatformat:"2"}} </span> </p>
							<p class="special-price"> <span class="price-label">{%trans 'Price'%}</span> 
								<span id="product-price-main" class="price"> 
									{% if has_price_range %}
										${{price_min|floatformat:"2"}} - ${{price_max|floatformat:"2"}}
									{% else %}
										${{product.price|floatformat:"2"}}
									{% endif %}
								</span> </p>
						  </div>
						</div>
						<p class="availability in-stock pull-right"><span>{%trans 'In Stock'%}</span></p>
						<div class="add-to-box">
						  <div class="add-to-cart">
							<label for="qty">{%trans 'Quantity'%}:</label>
							<div class="pull-left">
							  <div class="custom pull-left">
								<button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
								<input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
								
								<button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
							  </div>
							</div>
			  
							 <button id="addToCartBtn"  class="button btn-cart" data-product-id="{{product.id}}" title="Add to Cart" type="button"><span><i class="icon-basket"></i> {%trans 'Add to Cart'%}</span></button>
			  
						  </div>
						 </div>
						 <div class="email-addto-box">
							  <p class="add-to-links"> <a id="addToWishList" data-product-id="{{product.id}}" class="link-wishlist" href="#"><span>{%trans 'Add to Wishlist'%}</span></a></p>
						 </div>
						 <div class="product-attributes">
							<!-- 先找出商品关联的所有的attributes，然后找出分组 -->
							<input type="hidden" id="product-attribute-id" value="" />
							{% for group in product.get_attributes %}
								<div>{{group.name}} + {{group.group_type}}</div>
								{% for attr in group.attr_list %}
									{% if group.group_type == 'text' %}
										{% if forloop.first %}
											<div>
												<input type='hidden' class="product-attribute-group-selected" title="{{group.code}}" value="" />
												<ul>
												{% endif %}
													<li><input class="product-attribute-item" data-attribute-id="{{attr.id}}" data-group-code="{{group.code}}" data-product-id="{{product.id}}" type="radio" name="{{group.code}}" value="{{attr.id}}" />{{attr.name}}</li>
												{% if forloop.last %}
												</ul>
											</div>
										{% endif %}
									{% elif group.group_type == 'image' %}
										{% if forloop.first %}<div><input type='hidden' class="product-attribute-group-selected" title="{{group.code}}" value="" />{% endif %}
										<img class="product-attribute-item" data-attribute-id="{{attr.id}}" data-group-code="{{group.code}}" data-product-id="{{product.id}}" height='30px' width='30px' src='{{attr.thumb}}' alt='{{attr.name}}' />
										{% if forloop.last %}</div>{% endif %}
									{% else%}
										<p>{{attr.name}}</p>
									{% endif %}
								{% endfor %}
							{% endfor %}
						 </div>
						</div>
					</form>
				  </div>
				  <div class="product-collateral col-sm-12 col-xs-12 bounceInUp animated">
					<div class="add_info">
					  <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
						<li class="active"> <a href="#product_tabs_description" data-toggle="tab"> {%trans 'Product Description'%} </a> </li>
						<li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
					  </ul>
					  <div id="productTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="product_tabs_description">
						  <div class="std">
							<p>{{product.description|safe}}<p>
						  </div>
						  <div class="std">
							  <!-- Comments begin -->
							  {% load comments %}
							  {% get_comment_count for product as comment_count %}
							  {% render_comment_list for product %}
							  <div class='clearfix'></div>
							  {% render_comment_form for product %}
							  <!-- Comments end -->
						  </div>
						</div>
					  </div>
					</div>
				  </div>

				</div>
			  </div>
			</div>
		  </div>
		 </div>
  {% endblock %}
  
