{% extends "classic/base.html" %}
{% block breadcrumbs %}
  <!-- Breadcrumbs -->
  <div class="breadcrumbs bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>» </span></li>
            <li class=""> <a title="Go to Home Page" href="grid.html">Women</a><span>» </span></li>
            <li class="category13"><strong>Tops & Tees</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  <!-- Breadcrumbs End --> 
{% block main %}
<!-- Main Container -->
<section class="main-container col2-left-layout bounceInUp animated">
<div class="page-header"><div class="container"><div class="row">
  <div class="col-xs-12">
              <h2>Tops & Tees</h2></div></div></div>
            </div>
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-9 col-sm-push-3">
        <article class="col-main">
          <div class="toolbar">
            <div class="sorter">
                <div class="view-mode"> <a href="grid.html" title="Grid" class="button button-grid">&nbsp;</a>&nbsp; <span title="List" class="button button-active button-list">&nbsp;</span>&nbsp; </div>
              </div>
            <div id="sort-by">
              <label class="left">Sort By: </label>
              <ul>
                <li><a title="orderBy" class="orderBy" data-column="create_time" href="#">On sale<span class="right-arrow"></span></a>
                  <ul>
                    <li><a title="orderBy" class="orderBy" data-column="price" href="#">Price</a></li>
                  </ul>
                </li>
              </ul>
              <a class="button-asc left sortDirection" href="#" title="Set Descending Direction">
				<span id="sortArrow" class="glyphicon {% if direction == 'desc' %}glyphicon-arrow-down {%else%} glyphicon-arrow-up {%endif%}"></span>
			  </a> </div>
            <div class="pager">
              <div id="limiter">
                <label>View: </label>
                <ul>
                  <li><a title="pageSize" class="pageSize" data-page-size="15" href="#">15<span class="right-arrow"></span></a>
                    <ul>
                      <li><a title="pageSize" class="pageSize" data-page-size="20" href="#">20</a></li>
                      <li><a title="pageSize" class="pageSize" data-page-size="25" href="#">25</a></li>
                      <li><a title="pageSize" class="pageSize" data-page-size="30" href="#">30</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
				<div class="pages">
					<label>Page:</label>
					<ul class="pagination">
						{% if product_list.has_previous %}
						<li><a name="pageChange" data-tag="Previous" class="pageChage" data-page="{{ product_list.previous_page_number }}" href="#">&laquo;</a></li>
						{% else %}
						<li class="active"><a>&laquo;</a></li>
						{% endif %}

						{% for p in page_range %}
						  {% ifequal p objects.number %}
						  <li class="active"><a>{{p}}</a></li>
						  {% else %}
						  <li><a class="pageChage"  data-page = "{{p}}" href="#" title="{{p}}">{{p}}</a><li>
						  {% endifequal %}
						{% endfor %}

						{% if product_list.has_next %}
						<li><a name="pageChange" class="pageChage" data-page = "{{p}}" data-page-range="{{page_range}}" data-tag="Next" href="#">&raquo;</a></li>
						{% else %}
						<li class="active"> <a>&raquo;</a></li>
						{% endif %}
					</ul>
				</div>
            </div>
          </div>
          <div class="category-products">
          <!-- 商品陈列开始 -->
          <ol class="products-list" id="products-list">
			{% for product in product_list %}
	          <li class="item">
	            <div class="product-image"> <a href="/product/{{product.id}}" title="{{product.name}}"> <img class="small-image" src="{{product.image}}" alt="{{product.name}}"> </a> </div>
	            <div class="product-shop">
	              <h2 class="product-name"><a href="/product/{{product.id}}" title="{{product.name}}">{{product.name}}</a></h2>
	              <div class="desc std">
	                <p>{{product.short_desc}} <a class="link-learn" title="" href="#">Learn More</a> </p>
	              </div>
	              <div class="price-box">
	                <p class="old-price"> <span class="price-label"></span> <span id="old-price-212" class="price"> ${{product.market_price}} </span> </p>
	                <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> ${{product.price}}</span> </p>
	              </div>
	              <div class="actions">
	                <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#" name="addToWishList" data-productid="{{product.id}}"><span>Add to Wishlist</span></a></span> </div>
	            </div>
	          </li>
	         {% empty %}
				<li class="item"> There is no product ay all. </li>
			 {% endfor %}
        	</ol>
          <!-- 商品陈列结束 -->
          </div>
        </article>
        <!--	///*///======    End article  ========= //*/// --> 
      </div>
      <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <aside class="col-left sidebar">
          <div class="side-nav-categories">
              <div class="block-title"> Categories </div>
              <!--block-title--> 
              <!-- BEGIN BOX-CATEGORY -->
              <div class="box-content box-category">
                <ul>
                  <li> <a class="active" href="#/women.html">Women</a> <span class="subDropdown minus"></span>
                    <ul class="level0_415" style="display:block">
                      <li> <a href="#/women/tops.html"> Tops </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/tops/evening-tops.html"> Evening Tops </a> </li>
                          <li> <a href="#/women/tops/shirts-blouses.html"> Shirts &amp; Blouses </a> </li>
                          <li> <a href="#/women/tops/tunics.html"> Tunics </a> </li>
                          <li> <a href="#/women/tops/vests.html"> Vests </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/bags.html"> Bags </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/bags/bags.html"> Bags </a> </li>
                          <li> <a href="#/women/bags/designer-handbags.html"> Designer Handbags </a> </li>
                          <li> <a href="#/women/bags/purses.html"> Purses </a> </li>
                          <li> <a href="#/women/bags/shoulder-bags.html"> Shoulder Bags </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/shoes.html"> Shoes </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/shoes/flat-shoes.html"> Flat Shoes </a> </li>
                          <li> <a href="#/women/shoes/flat-sandals.html"> Flat Sandals </a> </li>
                          <li> <a href="#/women/shoes/boots.html"> Boots </a> </li>
                          <li> <a href="#/women/shoes/heels.html"> Heels </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/Jewellery.html"> Jewellery </a>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/Jewellery/bracelets.html"> Bracelets </a> </li>
                          <li> <a href="#/women/Jewellery/necklaces-pendants.html"> Necklaces &amp; Pendants </a> </li>
                          <li> <a href="#/women/Jewellery/pins-brooches.html"> Pins &amp; Brooches </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/dresses.html"> Dresses </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/dresses/casual-dresses.html"> Casual Dresses </a> </li>
                          <li> <a href="#/women/dresses/evening.html"> Evening </a> </li>
                          <li> <a href="#/women/dresses/designer.html"> Designer </a> </li>
                          <li> <a href="#/women/dresses/party.html"> Party </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/lingerie.html"> Lingerie </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/lingerie/bras.html"> Bras </a> </li>
                          <li> <a href="#/women/lingerie/bodies.html"> Bodies </a> </li>
                          <li> <a href="#/women/lingerie/necklaces-pendants.html"> Lingerie Sets </a> </li>
                          <li> <a href="#/women/lingerie/shapewear.html"> Shapewear </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/jackets.html"> Jackets </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/jackets/coats.html"> Coats </a> </li>
                          <li> <a href="#/women/jackets/jackets.html"> Jackets </a> </li>
                          <li> <a href="#/women/jackets/leather-jackets.html"> Leather Jackets </a> </li>
                          <li> <a href="#/women/jackets/blazers.html"> Blazers </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/women/swimwear.html"> Swimwear </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/women/swimwear/swimsuits.html"> Swimsuits </a> </li>
                          <li> <a href="#/women/swimwear/beach-clothing.html"> Beach Clothing </a> </li>
                          <li> <a href="#/women/swimwear/bikinis.html"> Bikinis </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                    </ul>
                    <!--level0--> 
                  </li>
                  <!--level 0-->
                  <li> <a href="#/men.html">Men</a> <span class="subDropdown plus"></span>
                    <ul class="level0_455" style="display:none">
                      <li> <a href="#/men/shoes.html"> Shoes </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/men/shoes/flat-shoes.html"> Flat Shoes </a> </li>
                          <li> <a href="#/men/shoes/boots.html"> Boots </a> </li>
                          <li> <a href="#/men/shoes/heels.html"> Heels </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/men/Jewellery.html"> Jewellery </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/men/Jewellery/bracelets.html"> Bracelets </a> </li>
                          <li> <a href="#/men/Jewellery/necklaces-pendants.html"> Necklaces &amp; Pendants </a> </li>
                          <li> <a href="#/men/Jewellery/pins-brooches.html"> Pins &amp; Brooches </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/men/dresses.html"> Dresses </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/men/dresses/casual-dresses.html"> Casual Dresses </a> </li>
                          <li> <a href="#/men/dresses/evening.html"> Evening </a> </li>
                          <li> <a href="#/men/dresses/designer.html"> Designer </a> </li>
                          <li> <a href="#/men/dresses/party.html"> Party </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/men/jackets.html"> Jackets </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/men/jackets/coats.html"> Coats </a> </li>
                          <li> <a href="#/men/jackets/jackets.html"> Jackets </a> </li>
                          <li> <a href="#/men/jackets/leather-jackets.html"> Leather Jackets </a> </li>
                          <li> <a href="#/men/jackets/blazers.html"> Blazers </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/men/swimwear.html"> Swimwear </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/men/swimwear/swimsuits.html"> Swimsuits </a> </li>
                          <li> <a href="#/men/swimwear/beach-clothing.html"> Beach Clothing </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                    </ul>
                    <!--level0--> 
                  </li>
                  <!--level 0-->
                  <li> <a href="#.html">Electronics</a> <span class="subDropdown plus"></span>
                    <ul class="level0_482" style="display:none">
                      <li> <a href="#/smartphones.html"> Smartphones </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/smartphones/samsung.html"> Samsung </a> </li>
                          <li> <a href="#/smartphones/apple.html"> Apple </a> </li>
                          <li> <a href="#/smartphones/blackberry.html"> Blackberry </a> </li>
                          <li> <a href="#/smartphones/nokia.html"> Nokia </a> </li>
                          <li> <a href="#/smartphones/htc.html"> HTC </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/cameras.html"> Cameras </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/cameras/digital-cameras.html"> Digital Cameras </a> </li>
                          <li> <a href="#/cameras/camcorders.html"> Camcorders </a> </li>
                          <li> <a href="#/cameras/lenses.html"> Lenses </a> </li>
                          <li> <a href="#/cameras/filters.html"> Filters </a> </li>
                          <li> <a href="#/cameras/tripod.html"> Tripod </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                      <li> <a href="#/accesories.html"> Accesories </a> <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li> <a href="#/accesories/headsets.html"> HeadSets </a> </li>
                          <li> <a href="#/accesories/batteries.html"> Batteries </a> </li>
                          <li> <a href="#/accesories/screen-protectors.html"> Screen Protectors </a> </li>
                          <li> <a href="#/accesories/memory-cards.html"> Memory Cards </a> </li>
                          <li> <a href="#/accesories/cases.html"> Cases </a> </li>
                          <!--end for-each -->
                        </ul>
                        <!--level1--> 
                      </li>
                      <!--level1-->
                    </ul>
                    <!--level0--> 
                  </li>
                  <!--level 0-->
                  <li> <a href="#/digital.html">Digital</a> </li>
                  <!--level 0-->
                  <li class="last"> <a href="#/fashion.html">Fashion</a> </li>
                  <!--level 0-->
                </ul>
              </div>
              <!--box-content box-category--> 
            </div>
           
          </aside>
        </div>
    </div>
  </div>
</section>
<!-- Main Container End --> 
{% endblock %}
{% block scripts %}
		<script type="text/javascript">
			$(document).ready(function() {				
				$("[name=addToWishList]").click(
						function(event) {
							event.preventDefault();
							imycartAddProductToWishlist($(this).attr("data-productid"));
						}
				);
			});
		</script>
{% endblock %}