{% extends "classic/base.html" %}
{% block main %}
	<!-- Main Container -->
	 <section class="main-container col1-layout wow bounceInUp animated">
		<div class="main container">
		  <div class="account-login">
			<div class="page-title">
			  <h2>Create an Account</h2>
			</div>
			
			<form id="registerForm" class="form-horizontal" autocomplete="off" method='POST'>
			{% csrf_token %}
			<fieldset class="col2-set">
			  <legend>Create an Account</legend>
			  <div class="col-xs-12 registered-users"><strong>New Customers</strong>
					<div class="content">
					  <p>If you have an account with us, please<a href="/user/login"> log in </a>.</p>
							<ul class="form-list">
								<li>
									<div class="control-group">
										<div class="controls">
											<label for="first_name">First Name <span class="required">*</span></label>
											<br>
											<input type="text" title="First Name" 
											 class="input-text" id="first_name" value="" name="first_name" 
											 placeholder="First Name"
											 required/>
											 <p class="help-block required"></p>
										</div>
									</div>
								</li>
								
								<li>
									<div class="control-group">
										<div class="controls">
											<label for="last_name">Last Name <span class="required">*</span></label>
											<br>
											<input type="text" title="Last Name" 
											 class="input-text" id="last_name" value="" name="last_name" 
											 placeholder="Last Name"
											 required/>
											 <p class="help-block required"></p>
										</div>
									</div>
								</li>
							
								<li>
									<div class="control-group">
										<div class="controls">
											<label for="email">Email Address <span class="required">*</span></label>
											<br>
											<input type="email" title="Email Address" 
											 class="input-text" id="email" value="" name="email" 
											 placeholder="example@example.com"
											 data-validation-ajax-ajax="/validate/user/hope-not-exits/"
											 required/>
											 <p class="help-block required"></p>
										</div>
									</div>
								</li>

								<li>
									<div class="control-group">
										<label for="pass">Password <span class="required">*</span></label>
										<div class="controls">
										  <input type="password" name="password" id="password"  class="input-text" minlength="6" maxlength="10" required/>
										  <p class="help-block required"></p>
										</div>
								  </div>
								</li>
								<li>
									<div class="control-group">
									   <label for="pass">ConfirmPassword <span class="required">*</span></label>
										<div class="controls">
										 <input 
											type="password"  class="input-text" id="confirmPassword"
											data-validation-match-match="password" 
											name="confirmPassword" 
											required/>
										  <p class="help-block required"></p>
										</div>
								  </div>
								</li>
							  </ul>
					  <p class="required">* Required Fields</p>
					  <div class="buttons-set">
						<button id="submitAccount" name="send" type="submit" class="button login"><span>Sign In</span></button>
					  </div>
					</div>
			  </div>
			</fieldset>
			</form>
		  </div>
		</div>
	  </section>

{% endblock %}

<!-- JavaScript --> 
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'classic/js/jqBootstrapValidation.js' %}"></script>
	<script type="text/javascript">
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
		$(document).ready(function() {

		});
</script>
{% endblock %}