<aside class="col-right sidebar col-sm-3">
        <div class="block block-account">
          <div class="block-title">My Account</div>
          <div class="block-content">
            <ul>
              <li id="siderOrder"><a href="/order/show/">My Orders</a></li>
              <li id="siderPersonal"><a href="/user/info/">Personal Info</a></li>
              <li id="siderWishlist"><a href="/wishlist">My Wishlist</a></li>
              <li id="siderAddress"><a href="#">Address Book</a></li>

            </ul>
          </div>
        </div>
</aside>